[2017-05-29 22:04] fluffy opened #1255 "lastOffer on the PC"
SetLocalDescrption step 2 and 3 refer to lastOffer and lastAnswer. Need to clarify these are the last ones on this PC.

[2017-05-29 22:04] fluffy opened #1256 "Error for when peer identity is wrong"
If the remote identity does not match the target peer identity, I don't think the InvalidModificaitonError is the right error to return because there are too many other things that could cause the same error and would be handled differently. I would suggest created a new error for this.

[2017-05-29 22:05] fluffy opened #1257 "Section 4.4.4 closed state"
Do we need to add "or all transports are in closed state" ?

[2017-05-29 22:05] fluffy opened #1258 "MTI specification of crypto for certs"
I think the parts in section 4.10 that specify which cryto must be support for the certs should be normatively defined  in the IETF specs not the w3c spec.

[2017-05-29 22:05] fluffy opened #1259 "How to find what keyGenAlgorithm values the browser supports?"
Is there a way to do this with other WebCryptoAPI? Should we have a note pointing that out here ?

[2017-05-29 22:06] fluffy opened #1260 "Does insertDTMF append to or replace the current tone buffer"
Step 7 says that it replaces tone buffer it but the name implies otherwise so this might need some clarity to the introduction. If this changes, need to also update example 20.

[2017-05-29 22:06] fluffy opened #1261 "DTMF playout algorithm does not specify comma handling"
Need to add a step for for the 2 second delay when playing a comma and make it clear that the event is fired for the comma just like any other tone - think of the , as the silence tone.

[2017-05-29 22:07] fluffy opened #1262 "Lifetime of pc.PeerIdentity"
The text seem to say that if the promise successfully resolve, the value will not change. I'm not sure this is correct. Imagine the case where A sets up a connection to B and gets the identity of B. Now the web servers side wants to do a transfer by using a re-offer to A that moves the media to C. A will get a re-Offer, with new ice, new DTLS-SRTP, new fingerprint, and a new identity from C. the P

[2017-05-29 22:07] fluffy opened #1263 "Clarity in section 9.7 example 11"
Add some text to show what the output of this example to the console would be

[2017-05-29 22:07] fluffy opened #1264 "Failure of transmission of isolated stream"
Related to to section 10.4.1. Is there a way to find out that the peer has not done the ALPN marking to indicate it will respect stream confidentiality. If there is not a way now, we likely need a way for the JS to figure out this error

[2017-05-29 22:07] fluffy opened #1265 "Need to resolve if we reference ICE or ICEbis"
Current the JSEP authors think the reference should be to STUN non STUNbis. Other may not agree.

[2017-05-29 22:08] fluffy opened #1266 "Spec has reference to WEBIDL-1 and WEBIDL"
Suspect the WEBIDL is just a typo as it does not seem to be used anywhere and the correct reference is WEBILD-1

[2017-05-29 22:14] fluffy commented on #1266
This is weird. I can't find what in the HTML causes us to have the [WEBIDL] reference.

[2017-05-29 22:14] fluffy commented on #1266
@dontcallmedom - you have any idea what causes the [WEBIDL] reference? Thanks

[2017-05-30 07:48] dontcallmedom commented on #1266
it's apparently [added automatically by ReSpec](https://github.com/w3c/respec/issues/1105) (which would kind of make sense if we didn't already have a WebIDL-1 reference).

[2017-05-30 12:54] ekr commented on #1265
I'm assuming you mean ICE-bis?

[2017-05-30 13:04] #1265 closed

[2017-05-30 22:00] aboba commented on #1265
@fluffy Was there a resolution to this in IETF? Trying to understand if WebRTC-PC needs to change any references or not.

[2017-05-31 07:32] stefhak commented on #1264
Can this found out from stats? Assigning to @martinthomson

[2017-05-31 09:47] soareschen opened #1268 "Missing steps on handling direction argument in addTransceiver"
In the steps for `addTransceiver`, there are a few missing steps on handling the `direction` argument:

- Take the `direction` value from `RTCRtpTransceiverInit` dictionary if present.
- Otherwise let `direction` be `sendrecv`.
- Pass it as an argument when calling the steps to create an `RTCRtpTransceiver`.
- Set `direction` attribute of `RTCRtpTransceiver` in steps to create an `RTCRtpTransceive

[2017-05-31 13:51] fluffy opened #1269 "Review issues reported to last in September"
I reported a bunch of issues in

https://lists.w3.org/Archives/Public/public-webrtc/2016Sep/0071.html

I don't think any of theses were ever responded to and we need to see which have been fixed, which should be ignored, and which still need to be fixed.

[2017-05-31 14:16] stefhak commented on #1202
@fluffy as far as I remember this came up in the discussion about Transceivers and ICE candidates. @taylor-b do you remember more?

[2017-05-31 14:34] fippo commented on #1210
usernameFragment is in ORTC and in Edge.

The attributes in http://w3c.github.io/webrtc-pc/#rtcicecandidate-interface have not been implemented by anyone yet afaik. I have a PR to shim it but can hold it off.

[2017-05-31 16:25] aboba opened #1271 "Inconsistencies in Asynchronous Task Queueing"
From EKR: https://lists.w3.org/Archives/Public/public-webrtc/2017May/0166.html

I have not studied all the algorithms for how to handle asynchronous
task queuing, but we seem kind of inconsistent on exactly when:

- We report errors synchronously
- When the task becomes due, if conditions X apply, don't run
  it
- When the task comes due, run the algorithm and then check
  to see if condition X ap

[2017-05-31 16:26] aboba opened #1272 "Section 4.2.5/4.2.6: Enum Table Inconsistency"
From EKR: https://lists.w3.org/Archives/Public/public-webrtc/2017May/0166.html

There seems to be inconsistency about whether these tables
of enums are normative or non-normative. Compare S 4.2.6
to S 4.2.5. Both of these seem to be defined in JSEP.

   Gather ICE candidates for each media type in use (audio, video, and
   data). If the remote endpoint is not bundle-aware, negotiate only
   one au

[2017-05-31 16:29] aboba opened #1273 "Events not bubbling"
From EKR: https://lists.w3.org/Archives/Public/public-webrtc/2017May/0166.html

A similar comment about pulling stuff out is with the boilerplate
about events not bubbling or being cancelable.

[2017-05-31 16:30] aboba opened #1274 "Section 4.2.2: Keying material"
From EKR: https://lists.w3.org/Archives/Public/public-webrtc/2017May/0166.html

Generally, we try to avoid sharing the same initial keying material
with two hashes, which seems to be explicitly what you propose
here. With that said:

- HMAC already has its own shortening algorithm (you hash)
- You should use HKDF to generate fresh subkeys for each
  hash algorithm.

   Note that the OAuth response

[2017-05-31 16:31] jan-ivar opened #1275 "pc.removeTrack(receiver) should throw an error."
Currently,
[code]
would according to the spec not throw an error, as it would appear to get past this argument validation the [removeTrack](http://w3c.github.io/webrtc-pc/#dom-rtcpeerconnection-removetrack) algorithm:

 1. Let *sender* be the argument to removeTrack.
 2. ...
 3. ...
 4. If *sender* was not created by connection, throw an `InvalidAccessError`.

because a receiver is technically cre

[2017-05-31 16:31] aboba opened #1276 "Section 4.2.6: informative sentence"
From EKR: https://lists.w3.org/Archives/Public/public-webrtc/2017May/0166.html

   Gather ICE candidates for each media type in use (audio, video, and
   data). If the remote endpoint is not bundle-aware, negotiate only
   one audio and video track on separate transports.

The second sentence here (and below) are just information, they're
not instructions to the implementation, so they should be r

[2017-05-31 16:32] aboba opened #1277 "Section 4.3.1: operations queue and setDescription"
From EKR: https://lists.w3.org/Archives/Public/public-webrtc/2017May/0166.html

(operations queue)
This algorith seems to imply that operation is run synchronously
if the queue depth is one (step 6) whereas if it's not, it's run
asynchronously. This definitely isn't invisible in the callback
version (reentrancy) and isn't actually invisible in the promises
version because these operations have sid

[2017-05-31 16:33] aboba opened #1278 "Section 4.2.3 (createOffer)"
From EKR: https://lists.w3.org/Archives/Public/public-webrtc/2017May/0166.html

   4. Return the result of enqueuing the following steps:
      1. Let p be a new promise.

This seems like another situation where a generic algorithm would
help.

(createAnswer)
   setLocalDescription without causing an error as long as
   setLocalDescription is called reasonably soon.

I have no idea what "reasonabl

[2017-05-31 16:35] aboba opened #1279 "Section 4.3.3: optional methods"
From EKR: https://lists.w3.org/Archives/Public/public-webrtc/2017May/0166.html

    Supporting the methods in this section is optional. However, if
    these methods are supported it is mandatory to implement according
    to what is specified here.

This doesn't match my memory of what we agreed when we added promises. When was this decision made?

[2017-05-31 16:35] aboba opened #1280 "Section 4.8.1: missing attributes"
From EKR: https://lists.w3.org/Archives/Public/public-webrtc/2017May/0166.html

Seems like we are missing:

- component-id
- extension-att-name
- extension-att-value

Arguably, we don't need the last two but we do need component-id

Also, you need to cite the relevant parts of 5245 here.

[2017-05-31 16:36] aboba opened #1281 "Section 4.8.3: Buried treasure"
From EKR: https://lists.w3.org/Archives/Public/public-webrtc/2017May/0166.html

    If no host candidate can reach the server, errorCode will be set
    to the value 701 which is outside the STUN error code
    range. This error is only fired once per server URL while in the
    RTCIceGatheringState of "gathering".

This is kinda buried..

[2017-05-31 16:37] aboba opened #1282 "Section 5.1: RID restrictions"
From EKR: https://lists.w3.org/Archives/Public/public-webrtc/2017May/0166.html

   RID values passed into init.sendEncodings must be composed only of
   case-sensitive alphanumeric characters (a-z, A-Z, 0-9) up to a
   maximum of 16 characters.

Characters aren't case-sensitive. I assume you mean that rids that differ only in case are distinct.

[2017-05-31 16:38] aboba opened #1283 "Section 5.2: centering, scaling, cropping"
From EKR: https://lists.w3.org/Archives/Public/public-webrtc/2017May/0166.html

The advice here (center, scale, then crop) differs from a MUST in JSEP S 3.6.

   If the original resolution exceeds the size limits in the attribute,
   the sender SHOULD apply downscaling to the output of the
   MediaStreamTrack in order to satisfy the limits.  Downscaling MUST
   NOT change the track aspect ratio.

[2017-05-31 16:38] aboba opened #1284 "Section 5.3: track.label initialization"
From EKR: https://lists.w3.org/Archives/Public/public-webrtc/2017May/0166.html

    Initialize track.label to the result of concatenating the string "remote " with kind.

Does this mean I will have a lot of tracks labelled "remote video"? That seems unfortunate.

[2017-05-31 16:39] aboba opened #1285 "Section 5.5.1: RFC 8122 consistency"
From EKR: https://lists.w3.org/Archives/Public/public-webrtc/2017May/0166.html

    One of the the hash function algorithms defined in the 'Hash function
    Textual Names' registry, initially specified in [ RFC4572] Section
    8. As noted in [JSEP] Section 5.2.1, the digest algorithm used for the
    fingerprint matches that used in the certificate signature.

I see that this was relaxed in [RFC

[2017-05-31 16:39] aboba opened #1286 "Section 6.1: label length"
From EKR: https://lists.w3.org/Archives/Public/public-webrtc/2017May/0166.html

    6. If negotiated is false and label is longer than 65535 bytes long,
throw a TypeError.
    7. If negotiated is false and protocol is longer than 65535 bytes long,
throw a TypeError.

Why not just restrict this to 65k in general.

[2017-05-31 16:40] aboba opened #1287 "Section 6.2: when data cannot be sent"
From EKR: https://lists.w3.org/Archives/Public/public-webrtc/2017May/0166.html

    5. Attempt to send data on channel's underlying data transport; if
    the data cannot be sent, e.g. because it would need to be buffered
    but the buffer is full, the user agent must abruptly close
    channel's underlying data transport with an error.

This seems like a very unsafe API. Why not instead have it

[2017-05-31 16:41] aboba opened #1288 "Section 6.4: Datachannel Garbage Collection"
From EKR: https://lists.w3.org/Archives/Public/public-webrtc/2017May/0166.html

You seem to be saying that I can't garbage collect the data channel as long as the SCTP connection is up even if the PC is closed? that seems surprising.

[2017-05-31 16:42] aboba opened #1289 "Section 7.2: infinite intertone gap"
From EKR: https://lists.w3.org/Archives/Public/public-webrtc/2017May/0166.html

If I am reading this correctly, the intertone gap can be infinite, though tones can only be 6 s long?

[2017-05-31 16:42] aboba opened #1290 "Section 9.1: when is IdP ready?"
From EKR: https://lists.w3.org/Archives/Public/public-webrtc/2017May/0166.html

It's not quite clear to me when the IdP is ready? I guess when it has called register?

[2017-05-31 16:43] aboba opened #1291 "Section 9.3.1: LOGINDONE"
From EKR: https://lists.w3.org/Archives/Public/public-webrtc/2017May/0166.html

   LOGINDONE

I wonder if we should use WEBRTC-LOGINDONE or something

[2017-05-31 16:44] aboba opened #1292 "Section 9.4: peerIdentity mismatches"
From EKR: https://lists.w3.org/Archives/Public/public-webrtc/2017May/0166.html

It seems like some text about how to handle peerIdentity mismatches
would be helpful here, although I recognize the normative text is
elsewhere. I can supply some if people would like.

[2017-05-31 16:44] aboba opened #1293 "Section 9.6: protocol type"
From EKR: https://lists.w3.org/Archives/Public/public-webrtc/2017May/0166.html

Is there any valid reason to allow the protocol to be a DOMString as
opposed to ASCII or LDH? It's about to be shoved into a URL...

[2017-05-31 16:45] aboba opened #1294 "Section 10.4.1: target peerIdentity"
From EKR: https://lists.w3.org/Archives/Public/public-webrtc/2017May/0166.html

Do you think we should have have the target peerIdentity, not just isolated.

[2017-05-31 16:46] aboba opened #1295 "Section 11: Examples"
From EKR: https://lists.w3.org/Archives/Public/public-webrtc/2017May/0166.html

Has someone tested these examples? I gave them a quick skim and saw some stuff that seems like it might be concerning, but maybe it's already been tested...

If nothing else, it would be good to:

- Refactor out the common code
- Explicitly state what's different

[2017-05-31 16:46] aboba opened #1296 "Section 11.6: Diagram"
From EKR: https://lists.w3.org/Archives/Public/public-webrtc/2017May/0166.html

has anyone checked this diagram recently?

[2017-05-31 17:03] aboba commented on #1296
@ekr The diagram was last revised via PR https://github.com/w3c/webrtc-pc/pull/1087

Do you see any issues with it?

[2017-05-31 17:34] taylor-b commented on #1202
Well, we were talking about getting rid of track ID signaling (and only signaling stream IDs instead). Which would obviously require changing the MSID spec, and JSEP. I don't remember if there was something else.

[2017-05-31 18:00] aboba commented on #1294
@ekr Are you suggesting:

partial interface MediaStreamTrack {
    readonly attribute DOMString peerIdentity;
};

[2017-05-31 18:07] aboba commented on #1292
@ekr A PR would be welcome.

[2017-05-31 18:23] aboba commented on #1288
@ekr close() is missing a step.  It should close the data channels, but it doesn't seem to:
https://rawgit.com/w3c/webrtc-pc/master/webrtc.html#dom-rtcpeerconnection-close

[2017-05-31 21:11] aboba commented on #1289
This does not make a lot of sense.  Should we clamp it at 6000 ms?

[2017-05-31 21:20] aboba commented on #1288
Calling pc.close() seems like it should invoke the data channel close procedure (as though RTCDataChannel.close() were called):

When the close method is called, the user agent must run the following steps:

Let channel be the RTCDataChannel object which is about to be closed.

If channel's readyState is closing or closed, then abort these steps.

Set channel's readyState attribute to closing.

If

[2017-05-31 21:29] aboba commented on #1285
My suggestion is to delete the second sentence, since the text has changed in [JSEP](https://tools.ietf.org/html/draft-ietf-rtcweb-jsep-20#section-5.2.1):

   For DTLS, all m= sections MUST use all the certificate(s) that have
   been specified for the PeerConnection; as a result, they MUST all
   have the same [I-D.ietf-mmusic-4572-update] fingerprint value(s), or
   these value(s) MUST be sessio

[2017-05-31 21:36] aboba opened #1300 "Section 5.2: transactionId restrictions"
From EKR: https://lists.w3.org/Archives/Public/public-webrtc/2017May/0166.html

An unique identifier for the last set of parameters
applied. Ensures that setParameters can only be called based on a
previous getParameters, and that there are no intervening changes.

Are there any restrictions on how this is generated.

Shouldn't the definition RTCRtpEncodingParameters mark a bunch of stuff readonly

[2017-05-31 21:38] aboba commented on #1300
@ekr RTCRtpEncodingParameters is a dictionary, not an interface, so the table in Section 5.2 is the best we can do.

[2017-05-31 21:43] aboba commented on #1259
@fluffy If getAlgorithm() could be applied to the built-in certificates, you could at least know what the default algorithm was. But as it is, I think the answer is "no".

[2017-05-31 21:48] aboba commented on #1287
Related Issue: https://github.com/w3c/webrtc-pc/issues/1148

[2017-05-31 21:50] aboba commented on #1274
Related Issue: https://github.com/w3c/webrtc-pc/issues/1156

[2017-05-31 22:30] aboba opened #1302 "Section 4.4: State Definitions"
From EKR: https://lists.w3.org/Archives/Public/public-webrtc/2017May/0166.html

This would all be a lot easier to read if the state definitions came before the enormously long block describing how to process every method.

[2017-06-01 05:37] aboba commented on #1272
@ekr Since neither Sections 4.2.5 nor 4.2.6 are denoted as non-normative, they both appear to be normative.  I do not recall any discussion about marking either RTCIceTransportPolicy or RTCBundlePolicy as "features at risk".  Is there something in this area that we should be talking about?

From what I can tell, the enum definitions are consistent with JSEP.  For example, RTCIceTransportPolicy (Se

[2017-06-01 09:48] soareschen opened #1305 "Ambiguous connection state when list of transports are empty"
For `RTCIceGatheringState`, `RTCPeerConnectionState`, and `RTCIceConnectionState`, the appropriate state is ambiguous when the list for a peer connection's `RTCIceTransport` and `RTCDtlsTransport` are empty.

[2017-06-01 10:07] soareschen opened #1306 "Missing definition for obtaining list of all RTCIceTransport and RTCDtlsTransport"
The computation for appropriate states for `RTCIceGatheringState`, `RTCPeerConnectionState`, and `RTCIceConnectionState` require obtaining a list of all `RTCIceTransport` and `RTCDtlsTransport` of a peer connection. However it is not well defined on how to obtain such lists.

As of now, the only public approach that I am aware of is:

- For `RTCDtlsTransport`, for each transceivers in _CollectTran

[2017-06-01 10:52] stefhak opened #1307 "Clarify "cannot be applied at the media layer""
As reported in https://lists.w3.org/Archives/Public/public-webrtc/2016Sep/0071.html

"What does “cannot be applied at the media layer” mean"

[2017-06-01 10:56] stefhak opened #1308 "when voiceActivityDetection is false, browser must send media even if it is silent"
from https://lists.w3.org/Archives/Public/public-webrtc/2016Sep/0071.html.

@fluffy , could you supply a PR?

[2017-06-01 10:58] stefhak opened #1309 "Check for state when "setting an RTCSessionDescription description""
from https://lists.w3.org/Archives/Public/public-webrtc/2016Sep/0071.html.

"The algorithm for applying local / remote SDP does not deal with errors caused when setting things state where that is not allowed - an error should be generated. This is in step 3 and for of step 2 of stuff that starts with “To set an RTCSessionDescription description"

[2017-06-01 11:00] stefhak opened #1310 "Make 4.3.1. referenceable"
From https://lists.w3.org/Archives/Public/public-webrtc/2016Sep/0071.html

The algorithm in 4.3.1 is 6 pages long. We need a way to references the steps in it. One way to do this would make all the numbers increment for the whole section and sub lists be like 3.4.5 so I could refer to step 3.4.5. I don’t care how we do it but really hard for implementers to even put in comments that link the code

[2017-06-01 11:03] stefhak opened #1311 "What happens if ufrag differs between different SDPs applied"
From https://lists.w3.org/Archives/Public/public-webrtc/2016Sep/0071.html:

"Let say offer/answer done with ufrag1 and PC is in stable state. Now a reoffer is done a new ufrag2. ICE start gathering candidates and PC is not in stable state. The currentLocalDescription returns SDP with ufrag1 while pendingLocalDescription returns SDP with ufrag2. Any new ICE candidates that are being gathered should

[2017-06-01 11:07] stefhak opened #1312 "Clarify '"trusted" origins'"
From https://lists.w3.org/Archives/Public/public-webrtc/2016Sep/0071.html

"What is a "trusted origins”. This note needs to be updated"

Occurs in fingerprinting mitigation text for getDefaultIceServers. Assigning to @dontcallmedom .

[2017-06-01 11:07] adam-be commented on #1231
The legacy methods overloads their modern counterparts so we're relying on the overloading functionality of WebIDL and not specifying anything explicitly. Same thing goes for the missing argument; the error would be a TypeError.

[2017-06-01 11:10] stefhak opened #1313 "Extend privacy note to clarify regarding defaultIceServers"
From https://lists.w3.org/Archives/Public/public-webrtc/2016Sep/0071.html

"The note about defaultIceServers privacy needs to be updated to say that if the user thinks a proxy has been configured but it is not used, that causes significant privacy problems because there IP address gets revealed when they expected the proxy to hide it. A browser sometime using a discovered proxy for and sometimes n

[2017-06-01 11:13] stefhak opened #1314 "Refine error reporting for identity assertion"
From https://lists.w3.org/Archives/Public/public-webrtc/2016Sep/0071.html

"A single error for all the intros that can go wrong in generating a identity assertions is not enough. Need to be able to separate all they different types of errors."

[2017-06-01 11:18] stefhak opened #1315 "Check crypto suites"
From https://lists.w3.org/Archives/Public/public-webrtc/2016Sep/0071.html

"WebRTC says The following values must be supported by a user agent: { name: "RSASSA-PKCS1-v1_5", modulusLength: 2048, publicExponent: new Uint8Array([1, 0, 1]), hash: "SHA-256" }, and { name: "ECDSA", namedCurve: "P-256" }.
- does this match the other webrtc specs ?"

[2017-06-01 11:19] stefhak opened #1316 "Do we need to control what is in SNI and Certname of DTLS connections"
From https://lists.w3.org/Archives/Public/public-webrtc/2016Sep/0071.html

"Do we need to control what is in SNI and Certname of DTLS connections"

[2017-06-01 11:29] stefhak opened #1317 "More granular data channel error reporting"
From https://lists.w3.org/Archives/Public/public-webrtc/2016Sep/0071.html

"In data channel, a type error is not what I really expect if a string is the right type but too long. Having multiple different types of mistakes all  generate the same error sounds really bad. Could we actually get the API to report what went wrong"

[2017-06-01 11:34] stefhak opened #1318 "What happens if cert expires mid call ?"
From https://lists.w3.org/Archives/Public/public-webrtc/2016Sep/0071.html

Assigning to @martinthomson

[2017-06-01 11:36] stefhak opened #1319 "guideline of when to time out an IdP"
From https://lists.w3.org/Archives/Public/public-webrtc/2016Sep/0071.html

"I think the draft need to provide a SHOULD level guideline of when to time out an IdP. This gives browsers advice on what to implement and provides IdP a target of what they need to meet. Without standardization of this, it’s a crap shoot for both the IdP and Browsers."

[2017-06-01 11:38] stefhak commented on #1269
Responding to most items in https://lists.w3.org/Archives/Public/public-webrtc/2016Sep/0071.html below:

RTCIceCredentialType uses has members "password" and "oauth", for the later we talk about "accessToken" - solved.

4.3.1, step 3 says "If configuration.rtcpMuxPolicy is negotiate, and the user agent does not implement non-muxed RTCP, throw a NotSupportedError." - solved.

Opened https://github.

[2017-06-01 11:45] adam-be commented on #1199
This was fixed in #1154

[2017-06-01 11:45] #1199 closed

[2017-06-01 11:55] dontcallmedom commented on #1313
I'm not entirely sure who the suggested note would be drawing attention from. Maybe we could note somewhere that `defaultIceServers` is not a privacy-perserving mechanism since its use is optional by applications.

[2017-06-01 12:53] martinthomson commented on #1318
Answer: nothing.  It's just too hard to worry about these things.  Life is too short.

(FWIW, these little policy things are usually left to the endpoints to sort out.  In HTTP-land, I don't think that anyone kills connection at this point, but they might and we probably will never see it outside of an artificial test.  That test would be highly proprietary.  That's because the rules by which a us

[2017-06-01 12:54] martinthomson commented on #1319
When do browsers expire a page load?  Or a subresource load?  Until those are also defined, we have no frame of reference for this.

[2017-06-01 13:00] martinthomson commented on #1318
Oh, one thing that is important to note here: the certificate we have here is a bucket that contains a public key.  The other trimmings - expiration time, subject, issuer, all that - is garbage, noise.  Firefox doesn't check these, and nor should any other implementation.  If you want to state that the only validity check on certificates is `a=fingerprint`, that would be a great big improvement an

[2017-06-01 14:24] #1193 closed

[2017-06-01 14:26] lgrahl commented on #1287
I agree that letting it fail makes much more sense.

[2017-06-01 14:27] aboba opened #1322 "createOffer(): Built-in certificate behavior"
<code>RTCPeerConnection</code> is used to produce a set of
                certificate fingerprints. These certificate fingerprints are
                used in the construction of SDP and as input to requests for
                identity assertions.

This isn't quite correct, since automatically generated certificates don't appear in the RTCConfiguration.

[2017-06-01 14:28] lgrahl commented on #1205
2. should probably depend on the outcome of #1287. I'd appreciate having explicit fails in the API rather than implicit fails by closing the data channel.

[2017-06-01 14:46] #1312 closed

[2017-06-01 14:56] stefhak commented on #1319
Closing per @martinthomson's comment.

[2017-06-01 14:56] #1319 closed

[2017-06-01 14:59] stefhak commented on #1318
@fluffy any comment
@martinthomson on https://github.com/w3c/webrtc-pc/issues/1318#issuecomment-305485916, do you think this is worthy of another Issue and PR? Can you do that?

[2017-06-01 15:03] stefhak commented on #1316
@martinthomson could you have a look?

[2017-06-01 15:05] stefhak commented on #1315
@ekr can you comment?

[2017-06-01 15:09] stefhak commented on #1309
@taylor-b WDYT?

[2017-06-01 15:16] aboba commented on #1306
As you say, it is currently possible to retrieve all of the IceTransports and DtlsTransports.  In practice, this won't be expensive, since most applications will use RTP/RTCP mux and BUNDLE.

[2017-06-01 15:21] stefhak commented on #1295
We should test the examples eventually, but they use things that are not implemented yet so we can't test really.

[2017-06-01 15:32] stefhak commented on #1286
@ekr can you clarify? We don't follow.

[2017-06-01 15:35] stefhak commented on #1284
@ekr do you have a better proposal?

[2017-06-01 15:37] stefhak commented on #1281
@ekr can you clarify?

[2017-06-01 15:39] stefhak commented on #1280
We did add component-id last week.

[2017-06-01 15:39] stefhak commented on #1280
@taylor-b any comment?

[2017-06-01 15:43] ekr commented on #1318
Martin is right that nothing should happen. This is, btw, what happens with ordinarily WebPKI too

[2017-06-01 15:45] ekr commented on #1316
SNI isn't relevant for this spec (it's a protocol issue). Perhaps you mean SAN? In any case, we shouldn't take a position on what's in the names of the certs.

[2017-06-01 15:46] #1276 closed

[2017-06-01 15:50] youennf opened #1323 "Handling of encoding/decoding errors"
In some platforms, the encoding/decoding capacities are limited.
It may happen that encoding/decoding frames will fail due to encoder/decoder being not available.

This error might be raised at various time, including during an established session, after a call to applyConstraints for instance which will change the size of the frames.

There does not seem to be a way to convey that information to

[2017-06-01 15:50] stefhak commented on #1268
Related to #1321

[2017-06-01 15:57] stefhak commented on #1258
See #1315 as well. Can you propose something @fluffy

[2017-06-01 16:40] taylor-b commented on #1309
Just to clarify: it sounds like the issue is that we say:

But we don't define what makes a type "invalid". I think pointing to sections 5.5 and 5.6 of JSEP would resolve this.

[2017-06-01 16:42] taylor-b commented on #1306
This issue may be related: https://github.com/w3c/webrtc-pc/issues/1178

[2017-06-01 16:50] taylor-b commented on #1305
They should all be `new`. For `RTCIceGatheringState` this is already explicit:

For the others, it's less obvious. For example:

"No transports" could be thought to satisfy the condition "all transports are in the closed state", for some definition of the word "all". But we might as well make it explicit like it is for the gathering state.

@pthatcherg, maybe you have an opinion since you wrote th

[2017-06-01 16:58] taylor-b commented on #1280
Yes, the component ID is added. And in another issue (I'm having trouble finding it), we decided to not worry about extended attributes, since that would be a new feature, and the application can parse the SDP string if it really needs them. I wouldn't personally be opposed to adding them, though.

[2017-06-01 17:01] rwaldron opened #1324 "Possibly incorrect language in "generateCertificate" description"
(emphasis mine)

I'm not sure what the bold section actually means, since `generateCertificate` is not a method of a connection object.

[2017-06-01 18:01] aboba commented on #1257
Is there another way that transports reach the "closed" state, other than via a call to pc.close()?

[2017-06-01 22:18] jan-ivar commented on #1275
Nevermind, forgot to look at the WebIDL which handles the type check.

[2017-06-01 22:18] #1275 closed

[2017-06-01 23:48] jan-ivar commented on #1251
[WebIDL](https://heycam.github.io/webidl/#es-dictionary) says: *"An ECMAScript value V is converted to an IDL dictionary type value by running the following algorithm (where D is the dictionary type): 1. If Type(V) is not Undefined, Null or Object, then throw a TypeError. 2. Let dict be an empty dictionary value of type D; ..."* which gets us past the first `TypeError`. In other words, this is equ

[2017-06-02 02:12] martinthomson commented on #1318
@stefhak, that would more appropriately be a requirement on an IETF document (just as this issue would have been if it wasn't WONTFIX).

[2017-06-02 02:14] martinthomson commented on #1316
As a protocol issue, that's something for something in the RFC series, I suspect.  SNI shouldn't be used.  SAN calls back to #1318: nothing in the cert is useful except the public key.

[2017-06-02 03:39] soareschen commented on #1306
By expensive I mean that the userland JS code would need to do unnecessary works to retrieve the list of IceTransports and DtlsTransports. Due to mux and bundle there might be only one instance of each transport, but the userland code nevertheless have to iterate through all senders/receivers/sctp because there is no guarantee that they are the same transport.

I faced this issue during testing, b

[2017-06-02 04:12] soareschen commented on #1268
Correct. So this is a duplicate of #1206.

[2017-06-02 05:10] aboba commented on #1306
As Taylor noted, there is an existing issue relating to when the Ice and DTLS transports are created, which when fixed will tell us when receiver/sender.transport and receiver.sender.transport.transport will be non-null, which makes enumeration considerably simpler.

Even if we had native getIceTransports() and getDtlsTransports() methods (or developed them based on the existing APIs), calling the

[2017-06-02 06:54] soareschen commented on #1306
Got it then. Having something like an `ontransport` event on the sender/receiver could simplify a lot on the transport management.

I agree that having public getIceTransports() and getDtlsTransports() methods might not help much in most other cases. Although would it be helpful to have private sections in the spec to describe the steps to get all Ice and DTLS transports? That could be refactored/

[2017-06-02 12:50] fippo commented on #1322
related question, in "set a configuration" we have

If the "set a configuration algorithm does that change, is it reflected in the configuration returned by getConfiguration or not?

[2017-06-02 12:53] jan-ivar commented on #1251
So the spec is clear. The only issue is if we ever bring back `url` for webcompat then we'll need prose to throw `TypeError` for backwards compat.

[2017-06-02 12:57] fippo commented on #1251
thanks @jan-ivar!

[2017-06-02 12:57] #1251 closed

[2017-06-02 14:35] foolip commented on #1251
Chromium has both as optional and throws TypeError if both are missing. This isn't much of a burden and spec'ing it would be trivial.

[2017-06-02 18:02] taylor-b commented on #1322
That's my assumption. And that makes the implementation simpler, since it doesn't need to remember "was I given `urls` as a string or a list?"; it will always be returned as a list.

[2017-06-02 18:24] fippo commented on #1322
Yes, but it makes the following assumption invalid:
[code]
which would also be violated if getConfiguration were to return the generated certificates.

[2017-06-02 18:48] jan-ivar commented on #1322
@fippo That assumption is already invalid, because WebIDL normalizes various things already, like default values and empty dictionaries in place of absences. E.g. with
[code]
`pc.getConfiguration()` will at minimum produce:
[code]

This came up before in https://github.com/w3c/mediacapture-main/issues/360. I support fewer ways of reading the same data.

[2017-06-02 19:16] fippo commented on #1322
@jan-ivar webidl doesn't take care of {urls: "stun:..."}) though ;-)

[2017-06-03 05:38] stefhak commented on #1318
Thanks @ekr and @martinthomson, closing per your comments.

[2017-06-03 05:38] #1318 closed

[2017-06-03 05:39] stefhak commented on #1316
Thanks @ekr and @martinthomson, closing.

[2017-06-03 05:39] #1316 closed

[2017-06-03 05:47] stefhak commented on #1249
I don't think we need to do anything. The current text includes
```Other things, like bitrate, are controlled using limits such as maxBitrate, where the user agent needs to ensure it does not exceed the maximum bitrate specified by maxBitrate, while at the same time making sure it satisfies constraints on bitrate specified in other places such as the SDP.```

I think that is clear enough.

[2017-06-03 13:42] #1268 closed

[2017-06-03 13:53] aboba commented on #1280
I agree that adding extended attributes/values is a new feature, and since the information is otherwise available, not a necessary one.  My suggestion is to resolve this by adding a reference to RFC 5245.

[2017-06-03 22:57] fluffy opened #1328 "capitalization of 2119 works"
reporting bug sent to me by someone else ....

The respec seems to have moved the 2119 words to lower case but they are required to be in upper case to be the words in 2119.

[2017-06-04 01:10] fluffy commented on #1249
Have a look at #1329 and see if make it clear it is not the TIAS from SDP but is compute the same ways  as that.

[2017-06-04 07:41] fippo opened #1330 "setLocalDescription algorithm for rejecting modification"
http://w3c.github.io/webrtc-pc/#dom-rtcpeerconnection-setlocaldescription
contains an algorithm for rejecting modifications.

In the operations section we already have something in the "To set an RTCSessionDescription". In particular this:

Given that the SLD executes the algorithm as the last step how can InvalidModificationError happen in "set an RTCSessionDescription" anymore?

(the way things

[2017-06-05 03:45] soareschen opened #1331 "Session description attribute not specified for some steps in check if negotiation is needed"
In Section 4.7.3, the following steps do not specify how the SDP comparison is done:

- If connection has created any RTCDataChannels, and no m= section has been negotiated yet for data, return "true".
- If t isn't stopped and isn't yet associated with an m= section according to [JSEP] (section 3.4.1.), return "true".
- If t isn't stopped and is associated with an m= section according to [JSEP] (s

[2017-06-05 04:35] soareschen opened #1332 "Inconsistencies and race conditions in updating negotiation-needed flag"
In some cases, the `negotiationneeded` event could be fired twice when there is only one needed.

The part that confuse me is in step 10 for setting session description:

- If connection's signaling state is now stable, update the negotiation-needed flag. If connection's `[[ needNegotiation]]` slot was true both before and after this update, queue a task that runs the following steps:
  2. If conn

[2017-06-05 16:28] aboba commented on #1328
@fluffy Ugh.  This is apparently a "feature" of respec 12.2.2, but not 8.7.1.

[2017-06-05 16:43] aboba commented on #1328
@dontcallmedom  @adam-be Can we get this bug addressed?  Should we revert to an earlier version of respec?

[2017-06-05 16:45] aboba commented on #1296
@fippo Are there any remaining issues in the diagram that need to be fixed?

[2017-06-05 16:49] aboba commented on #1249
@fluffy Looks good, thanks.

[2017-06-05 17:19] fippo commented on #1296
I can *always* find issues (or imagine them)

We intentionally omit the empty callbacks to improve readability, right? If not there are a couple of places where that is missing. I don't think adding them will improve the diagram nor will renaming "callback" to "resolve".

46: pranswer confuses me. I think this is correct but can someone please double-check this is consistent with the spec: the sig

[2017-06-05 17:52] taylor-b commented on #1332
It's intended more to handle cases like this:

1. Data channel or track added. "negotiation-needed" flag set.
2. Offer created/sent in response to `negotiationneeded` event.
3. Something happens that requires renegotiation before the answer is received (like adding a track).
4. Answer received. Still needs more negotiation, so `negotiationneeded` fires again.
5. New offer created in response to se

[2017-06-05 17:59] aboba commented on #1330
@fippo Agree that InvalidModificationError can no longer happen in "set an RTCSessionDescription".
Also, since description.sdp can now be null it appears that the steps in "set an RTCSessionDescription" could result in an "sdp-syntax-error" even when SLD is called correctly.

In JSEP Section 5.5, the check against the last call to createOffer/createAnswer is done after checking the type against th

[2017-06-05 18:15] fippo commented on #1330
That sounds like a quite elegant solution!

[2017-06-05 18:44] aboba commented on #1309
@taylor-b Agree that a reference to JSEP is all that is needed here.  Added this to PR https://github.com/w3c/webrtc-pc/pull/1333

[2017-06-05 20:07] aboba opened #1336 "Section 11.7: DTMF Examples"
Looking at Section 11.7 there are a number of problems with the DTMF examples:

1. Example 17:

The example does not append to the toneBuffer.

2. Example 18 should be:

if (sender.dtmf) {
  var duration = 500;
  sender.dtmf.ontonechange = function (e) {
      if (!e.tone)
          return;
      // light up the key when playout starts
      lightKey(e.tone);
      // turn off the light after tone

[2017-06-05 20:22] aboba commented on #1260
@fluffy Some of the examples appear incorrect.  Filed Issue https://github.com/w3c/webrtc-pc/issues/1336

[2017-06-06 02:47] soareschen commented on #1332
Got it. I think I misread step 6.2 as _"set `[[needNegotiation]]` slot to `false`"_, when it actually is _"If connection's `[[needNegotiation]]` slot is `false`, abort these steps."_. That's why there were confusion.

Closing this issue.

[2017-06-06 07:19] stefhak commented on #1313
@dontcallmedom that sounds like a reasonable proposal to me. Could you draft?

[2017-06-06 07:20] stefhak commented on #1311
Reassigning to @pthatcherg since @taylor-b seems over-assigned! Can you comment @pthatcherg ?

[2017-06-06 07:23] stefhak commented on #1279
@ekr what part do you remember differently? Is it the part about the legacy API being optional, or that it has to be implemented according to "what is specified here"?

[2017-06-06 08:01] soareschen opened #1341 "When [[isClosed]] slot turns true, queue a task to update the connection state"
In 4.3.1.3 Update the connection state:

A task is never executed when connection is closed, therefore it doesn't make sense to require task to be queued when the connection is closed.

[2017-06-06 08:06] stefhak opened #1342 "Consider using generic algorithm"
From EKR: https://lists.w3.org/Archives/Public/public-webrtc/2017May/0166.html

    Return the result of enqueuing the following steps:
        Let p be a new promise.

This seems like another situation where a generic algorithm would
help.

See https://github.com/w3c/webrtc-pc/issues/1278 for context.

[2017-06-06 08:08] stefhak opened #1343 "Define "reasonably soon""
From EKR: https://lists.w3.org/Archives/Public/public-webrtc/2017May/0166.html

[code]

I have no idea what "reasonably soon" means

See https://github.com/w3c/webrtc-pc/issues/1278 for context.

[2017-06-06 08:10] stefhak opened #1344 "Don't update state if setLocalD is called with bogus input"
From EKR: https://lists.w3.org/Archives/Public/public-webrtc/2017May/0166.html

(setLocalDescription)
This algorithm leaves the state of the PC changed in case of
bogus inputs. However, JSEP requires that the state be unchanged
(see JSEP S 5.8)

See https://github.com/w3c/webrtc-pc/issues/1278 for context.

[2017-06-06 08:13] stefhak opened #1345 "Make promise rejection/enqueing consistent"
From EKR: https://lists.w3.org/Archives/Public/public-webrtc/2017May/0166.html

(addIceCandidate)

[code]

See above about consistency. Why is the promise rejected here
immediately but otherwise these are enqueued? How does that help?

See https://github.com/w3c/webrtc-pc/issues/1278 for context.

[2017-06-06 08:15] stefhak opened #1346 "Ignore unsupported url types in setConfiguration"
From EKR: https://lists.w3.org/Archives/Public/public-webrtc/2017May/0166.html

(setConfiguration)

[code]

This seems unwise as it makes it very hard to introduce new schemes.
Why aren't they just ignored?

See https://github.com/w3c/webrtc-pc/issues/1278 for context.

[2017-06-06 08:16] stefhak commented on #1278
Split up into Issues
https://github.com/w3c/webrtc-pc/issues/1342
https://github.com/w3c/webrtc-pc/issues/1343
https://github.com/w3c/webrtc-pc/issues/1344
https://github.com/w3c/webrtc-pc/issues/1345

[2017-06-06 08:24] soareschen opened #1347 "Enqueue an operation vs queue a task"
Section 3 imports the concept of queue a task from HTML5.

Section 4.3.1.2 defines _"Enqueue an operation"_ which has an operation queue of running one task at a time.

I tried searching through the spec and there are two phrases being used:

1. queue a task that runs the following steps
2. enqueue the following steps

I'd guess that (1) refers to the HTML5 task and (2) refers to the operation que

[2017-06-06 08:26] soareschen commented on #1341
Ouch, apparently the queueing a task might be referring to HTML5 task instead of operation queue. I have filed #1347 addressing the confusion. :(

[2017-06-06 08:26] #1341 closed

[2017-06-06 08:29] fippo commented on #1346
+1 on silently ignoring / filtering unsupported schemes (and unsupported transport protocols; we might need text for that). This would be consistent with Firefox ignoring (with a warning) turns and Edge ignoring stun even though both are implementation bugs.

We have getConfiguration that allows detecting what urls were not supported.

[2017-06-06 18:21] taylor-b commented on #1241
This seems like an editorial issue. We've already decided that receivers get created along with transceivers; this is just an obsolete paragraph that's carried over from pre-transceiver days.

[2017-06-06 18:30] taylor-b commented on #1311
Sorry, this was on my todo list but it's getting somewhat backed up. Anyway, this looks like it's a duplicate of #1227.

[2017-06-06 18:30] #1311 closed

[2017-06-06 21:19] jan-ivar opened #1351 "track event description is obsolete since transceivers"
https://w3c.github.io/webrtc-pc/#event-track currently says:

  Event name | Interface | Fired when...
  ------------|-----------|--------
  track | RTCTrackEvent | A new incoming MediaStreamTrack has been created to represent incoming media received by a specific RTCRtpReceiver.

With the advent of transceivers, this is incorrect. A receiver's track is now created on `addTrack` or `addTransceiver

[2017-06-06 21:26] aboba commented on #1181
@jan-ivar Section 5.1 says: "When the other peer stops sending a track in this manner, an ended event is fired at the MediaStreamTrack object." So according to the existing draft, this is already happening ;)

[2017-06-06 21:39] aboba commented on #1161
@fippo Section 5.3 says "When one of the SSRCs for RTP source media streams received by receiver is removed (either due to reception of a BYE or via timeout), the mute event is fired at track. If and when packets are received again, the unmute event is fired at track." So according to this one could argue that when the sender stops sending, a mute event is received on the remote received track.

[2017-06-06 22:13] jan-ivar commented on #1181
@aboba That's where this started, in https://github.com/w3c/webrtc-pc/pull/1168.

Sadly, the more contradictory language in a spec, the more doubt it casts on the consensus reached.

On the `muted` event, that seems to be true. Unfortunately, `mute` may fire at other times as well, from overconstrained conditions in mediacapture, or *"muted by the User Agent."* e.g. a browser implementing a privac

[2017-06-07 00:29] jan-ivar commented on #1161
@aboba The `muted` event may fire at other times from overconstrained conditions in mediacapture, or *"muted by the User Agent."*, so one cannot assume this means a track was removed.

[2017-06-07 02:02] jan-ivar commented on #1161
@taylor-b I did some digging, and I need to correct your initial premise:

The answer [since Oct 2014](https://github.com/w3c/webrtc-pc/pull/3#issue-45833676) has been *"onremovestream has been removed (now, .onended is fired)."* Transceivers weren't added until [a year later](https://github.com/w3c/webrtc-pc/pull/293), and the "ended" language remains to this day (https://github.com/w3c/webrtc-pc

[2017-06-07 02:32] aboba commented on #1161
@jan-ivar  With respect to the transceiver model, the remote effects of transceiver.stop() are described in Section 5.4:

"When a remote description is applied with a zero port in the media description for the corresponding transceiver, as defined in [JSEP] (section 4.2.2), the user agent must run the above steps as if stop had been called. In addition, since transceiver.receiver.track has ended,

[2017-06-07 02:52] jan-ivar commented on #1161
@aboba That part seems clear, but sheds no light on what happens except when `stop()` is called AFAICT.

[2017-06-07 03:21] jan-ivar commented on #1161
@aboba Oh I see how that was confusing. With the third bullet I meant:

 3. `addTrack`/`removeTrack` and firing track and and confusion about whether `ended` still fires (Nobody).

[2017-06-07 05:38] taylor-b commented on #1332
Actually, I realized a potential race condition when looking at the example code. Suppose `getUserMedia` leads to `addTrack`, which leads to `negotiationneeded` if the signaling state is `stable`, which leads to `createOffer`, etc. And also, the application is prepared to receive a remote offer, triggering `setRemoteDescription`, `createAnswer`, etc.

Now, suppose the remote offer arrives first, a

[2017-06-07 07:49] soareschen opened #1352 "Copy/modify spec from WebSocket for RTCDataChannel's binaryType and onmessage"
The API for data channel is slightly different from WebSocket. So it makes more sense to copy/modify the relevant steps instead of requiring to follow WebSocket. The reference to WebSocket sections should be informative instead.

For `binaryType`, the following paragraph should be copied:

Alternatively, an enum could be defined for `binaryType` attribute.

For `onmessage`, detailed steps should b

[2017-06-07 08:49] soareschen opened #1353 "Verbose description for RTCDataChannel default values"
In the attribute descriptions for RTCDataChannel, there are many verbose sentences that describe the same action as setting the attributes with the default/provided values in RTCDataChannelInit dictionary.

Is there any reason why the sections require verbose description of default values? They are not really required since the sections that create data channel initialize the attributes with expli

[2017-06-07 08:57] stefhak commented on #1161
@jan-ivar what you write in https://github.com/w3c/webrtc-pc/issues/1161#issuecomment-306664580 and https://github.com/w3c/webrtc-pc/issues/1161#issuecomment-306675332 matches my memory.

[2017-06-07 10:11] adam-be commented on #1112
I think we have started moving towards internal slots, but there are still a lot of old spec text using "number 3" above.

[2017-06-07 15:02] jan-ivar commented on #1332
@taylor-b Naively it seems to be in the app domain to avoid the inherent glare between "offer now" and an incoming offer, so `InvalidStateError` seems right to me. I'm loathe to add dependencies to the internal queue, since I consider it mostly a legacy thing. Unless I'm missing some ill behavior on negotiationneeded's part here?

[2017-06-07 17:37] rwaldron opened #1354 "Rationale for use of USVString in RTCPeerConnection.prototype.createDataChannel"
Regarding:

I'm wondering if anyone can offer any insight about this? Thanks in advance!

[2017-06-07 18:17] rwaldron opened #1355 "Misuse of SyntaxError"
In step 8 of https://w3c.github.io/webrtc-pc/#dom-rtcpeerconnection-createdatachannel:

This error must not be a SyntaxError, [which defined as](https://tc39.github.io/ecma262/#sec-native-error-types-used-in-this-standard-syntaxerror):

The correct error to use is TypeError. Given the same case, applied to descriptor properties:

[code]

Will have such results as:

- Firefox
[code]
- Chrome
[code]

[2017-06-07 19:01] taylor-b commented on #1332
@jan-ivar I guess you're right. Even if we address the scenario I described by pushing `negotiationneeded` further out, the inverse problem could happen, where `setRemoteDescription` is called while the `createOffer` promise triggered by `negotiationneeded` is still pending.

So I'll close this again for the time being.

[2017-06-07 19:01] #1332 closed

[2017-06-08 05:51] adam-be commented on #1204
#1321 adds internal two internal slots [[Direction]] and [[CurrentDirection]]

[2017-06-08 06:17] soareschen commented on #1354
I think it is related to #543.

[2017-06-08 06:22] adam-be commented on #1355
I think this makes sense. Created PR (#1356).

[2017-06-08 06:30] adam-be commented on #1353
I agree. This is a bit messy and could be better specified with less text.

[2017-06-08 09:05] adam-be commented on #1353
Giving maxPacketLifeTime and maxRetransmits default values of null would change the behavior a bit since it implies that the dictionary members need to be nullable. For example:

`{ maxPacketLifeTime: null, maxRetrainsmits: 10 }`

would be allowed with nullable dictionary members. It currently renders a TypeError. I don't see a problem with making the dictionary members nullable, since the corresp

[2017-06-08 09:26] soareschen opened #1357 "What happen to RTCDtlsTransport during ICE restart?"
This might be explained in other specs but I don't get the time to find it.

- During ICE restart, what would happen to `RTCDtlsTransport` and its underlying DTLS connection?
- Do the DTLS connection get transparently switch over to the new candidate pair?
- Do existing connections such as data channel and transceiver get interrupted?
- After restart, do the `transport` attribute of `RTCDtlsTransp

[2017-06-08 10:52] adam-be commented on #1353
In PR #1358, the part where all internal slots are initialized could be made a bit simpler if all init dictionary members could have a default value.

[2017-06-08 12:34] adam-be commented on #1343
The next sentence specifies the following:

<code>setLocalDescription</code> without causing an error until
at least the end of the fulfillment callback of the returned
promise.

So I think the sentence with "reasonably soon" is redundant and can be removed (for both createOffer/Answer functions).

[2017-06-08 12:41] adam-be commented on #1345
If an error can be determined directly, we return a rejected promise right away. That's how it's done in the promise writing guide [1]. Otherwise we return a "pending" promise that can be rejected or fulfilled later.

[1] https://www.w3.org/2001/tag/doc/promises-guide#example-validated-delay

[2017-06-08 12:47] adam-be commented on #1344
@ekr, can you be more specific about where some state is updated even though the input is bogus?

[2017-06-08 12:54] adam-be commented on #1347
The operations queue is used by createOffer, createAnswer and addIceCandidate as well. In those steps it's referred to as `Return the result of enqueuing the following steps`. These references are also linked.

[2017-06-08 12:58] adam-be commented on #1342
Clicking the `enqueuing` link takes you to the algorithm that describes how the following steps should be queued.

[2017-06-08 14:24] #1285 closed

[2017-06-08 14:25] #1249 closed

[2017-06-08 14:47] #1313 closed

[2017-06-08 14:48] #1328 closed

[2017-06-08 14:53] #1282 closed

[2017-06-08 14:54] #1355 closed

[2017-06-08 14:59] #1260 closed

[2017-06-08 14:59] #1336 closed

[2017-06-08 15:02] #1343 closed

[2017-06-08 15:04] #1324 closed

[2017-06-08 15:08] #1291 closed

[2017-06-08 15:08] #1289 closed

[2017-06-08 15:09] aboba commented on #1250
At the virtual interim there was consensus not to add a getCertificates() method.

[2017-06-08 15:09] #1250 closed

[2017-06-08 15:10] #1159 closed

[2017-06-08 15:10] #1148 closed

[2017-06-08 15:14] #1272 closed

[2017-06-08 15:18] jan-ivar opened #1360 "Editorial: consistent Internal slot names e.g. [[IsClosed]] vs [[isClosed]]?"
I can't find a TAG link for this, just cargo-culting from the html and webidl specs. Seems less likely to name clash with API names as well.

I'm filing this issue rather than asking for internal consistency in https://github.com/w3c/webrtc-pc/pull/1321 review.

[2017-06-08 16:48] rwaldron commented on #1324
👍

[2017-06-08 16:52] rwaldron commented on #1355
👍

[2017-06-08 16:55] rwaldron commented on #1354
Yep, that's what I was looking for. Thanks!

[2017-06-08 16:55] #1354 closed

[2017-06-08 16:57] ibc commented on #1357
Sure, otherwise this would not be "ICE restart".

No. RTP packets may be lost during the transition, but SCTP protocol will ensure that datachannel packets are not lost.

I'm not sure whether performing ICE restart means dropping the previous `RTCIceTransport` and replacing it with a new one. If so, `RTCDtlsTransport.transport` should point to the new one.

[2017-06-08 18:25] fippo commented on #1357
Mind you that an ice restart may change the remote fingerprint.
Does that change the DTLS transport? How do the state transitions look like?

@aboba

[2017-06-08 18:43] taylor-b commented on #1357
An ICE restart doesn't completely blow away the ICE state; the existing ICE candidate pair continues to be used while the ICE restart is going on. So I think it would make more sense logically, and be simpler, for ICE restarts to not create new `RTCIceTransport` objects.

But there's also a question of what happens when a new DTLS association is formed. We could say that when a remote description

[2017-06-08 19:00] nils-ohlmeier commented on #1357
As @fippo pointed out since ICE restarts can result in getting connected to a new endpoint with a different certificate. Therefore after an ICE restart, if it suceeded, I think should result in a new DTLS connection getting established.

I guess you could try to be smart and compare old and new fingerprint to figure out if you are still connected to an endpoint with the same cert and therefore can

[2017-06-08 19:04] nils-ohlmeier commented on #1357
@taylor-b on the signaling layer I think it is pretty clear that you request a new DTLS association by providing a new tld-is value in your SDP.

But I agree that people so far seem to have assumed that the ICE transport and DTLS transport objects for a given PeerConnection stay the same even over ICE restarts or DLTS restarts.

[2017-06-08 22:04] aboba commented on #1287
Related PR: https://github.com/w3c/webrtc-pc/pull/1209

[2017-06-09 00:37] fluffy opened #1361 "Clarify offerToReceiveAudio and offerToReceiveVideo in renegotiation"
Not clear if setting  RTCOfferOptions changes what happens in renegotation  or can this only be used in an initial offer.

[2017-06-09 02:43] soareschen commented on #1347
I see. I was searching the word "enqueue" and missed those steps because they use the word "enqueuing".

I feel that the terminology for _"enqueue the following steps"_ need to be more distinguishable from _"queue a task"_. The words "enqueue" vs "queue" look too similar and does not signify that they have fundamentally different semantics.

Perhaps _"enqueue the following steps to connection's op

[2017-06-09 03:28] soareschen opened #1362 "Relating RTCDtlsTransportState to RTCIceTransportState and RTCIceGathererState"
Each `RTCDtlsTransport` have an underlying `RTCIceTransport`. Intuitively the transport state for the DTLS connection is dependent on the state of the underlying ICE connection. e.g.:

- When `RTCDtlsTransportState` is `connected`, underlying `RTCIceTransportState` should be `completed` (or `connected`?) and underlying `RTCIceGathererState` should be `complete` (or `gathering`?)
- When `RTCIceTran

[2017-06-09 04:20] soareschen opened #1363 "RTCDtlsTransport and RTCIceTransport should inherit from EventTarget"
The other interfaces that have event handlers already inherit from `EventTarget`.

[2017-06-09 05:06] aboba commented on #1362
@soareschen  Your "intuition" is wrong.   DTLS packets are transported over a "virtual circuit" created by ICE.   The ICE virtual circuit can change selected pairs, can lose and then recover connectivity, etc. without necessarily affecting the state of the DTLS connection.

So all three of your assertions are incorrect.

[2017-06-09 05:15] aboba commented on #1357
@fippo Are you imagining a scenario where an Offer encapsulating an ICE restart might fork to a different destination?  In that situation, yes, the remote DTLS fingerprint could change - and the RTCIceTransport would actually be established to a different remote peer.  In ORTC, you'd have to create a new RTCIceTransport (based on a new RTCIceGatherer) as well as a new RTCDtlsTransport (because you

[2017-06-09 05:24] aboba commented on #1323
With respect to the resource model Section 4.3.2 says:

"If a system has limited resources (e.g. a finite number of decoders), createOffer needs to return an offer that reflects the current state of the system, so that setLocalDescription will succeed when it attempts to acquire those resources. The session descriptions must remain usable by setLocalDescription without causing an error until at le

[2017-06-09 05:28] aboba commented on #1255
Related to  Issues https://github.com/w3c/webrtc-pc/issues/1309 and https://github.com/w3c/webrtc-pc/issues/1330  and PR https://github.com/w3c/webrtc-pc/pull/1333

[2017-06-09 05:29] aboba commented on #1269
@stefhak Have each of the individual issues been filed so that we can close this meta-issue?

[2017-06-09 05:31] aboba commented on #1258
@martinthomson Is this something you want to incorporate into the RTCWEB Security or Security-Arch documents?

[2017-06-09 05:37] soareschen commented on #1362
I see. Good to know that.

I suppose then we can have a non-normative note stating that user should make no assumption of the underlying `RTCIceTransport` states when accessing it from `RTCDtlsTransport`.

[2017-06-09 05:38] fippo commented on #1357
@aboba yes, also since ORTC can't call [dtlsTransport.start](http://draft.ortc.org/#dom-rtcdtlstransport-start) again with different remote parameters. Internally this means the keying material of a dtls transport can not change which sounds quite sane. I don't expect 1.0 to be any different here, just not to expose details like *start*.

(note that we've had a discussion in ORTC [here](https://li

[2017-06-09 06:44] fippo opened #1364 "getStats text still talks about selectors"
the latest (unpublished) version of the webrtc-stats removed the selector concept (@vr000m can you point out the PR that did this?).

It is still in webrtc-pc, "selector" is mentioned 33 times :-(

[2017-06-09 06:49] fippo commented on #1364
note that in some places using the word "selector" may still make change such as

from the rtpsender.getStats description.

[2017-06-09 07:05] fippo opened #1365 "no getStats() for dtls and ice transports?"
We have getStats methods both for the [RTPSender](http://w3c.github.io/webrtc-pc/#dom-rtcrtpsender-getstats()) and the [RTPReceiver](http://w3c.github.io/webrtc-pc/#dom-rtcrtpreceiver-getstats()).
But apparently we don't have them for the [ice](http://w3c.github.io/webrtc-pc/#rtcicetransport) and [dtls](http://w3c.github.io/webrtc-pc/#rtcdtlstransport-interface) transports.

For API completeness I

[2017-06-09 07:11] fippo opened #1366 "editorial: inconsistent use of dfn in section names"
In the image below some terminology shown in orange. In a very inconsistent and confusing way :-/
![inconsistent](https://user-images.githubusercontent.com/289731/26964640-d8866ab8-4cf2-11e7-85e4-e5e39acf765c.png)

The DTMFSender uses this:
[code]
while the DTMFToneChangeEvent does not uses
[code]

The amount of work required to fix this might be tremendous :-/

[2017-06-09 08:23] soareschen opened #1367 "Public accessor for isClosed"
Given that many peer connection methods throw or reject when `[[isClosed]]` is true, it is expected that well designed user applications would want to check the close state as well before calling the methods.

Currently there are indirect ways to check the close state of peer connection, by comparing `signalingState`, `iceGatheringState`, etc with the string `"closed"`. But that means there is no

[2017-06-09 09:02] soareschen opened #1368 "Missing initialization of priority attribute when firing datachannel event"
In step 4 of section 6.2. _When an underlying data transport is to be announced_, it missed initializing `priority` from the configuration.

It is also not clear what the value of `priority` should be, if the byte value in configuration do not match one of the corresponding enum value of `RTCPriorityType`. The valid values specified is only a SHOULD requirement.

[2017-06-09 10:46] adam-be commented on #1347
I think what you're suggesting would be an improvement.

[2017-06-09 12:01] adam-be opened #1369 "Editorial: Assume default values for optional dictionaries in spec text"
From the WebIDL spec.

[2017-06-09 12:03] adam-be opened #1370 "Editorial: Use consistent syntax for enum values and strings"
Now we just have to decide on an approach. :)

[2017-06-09 12:32] jan-ivar commented on #1370
FWIW WebIDL [enumeration values](https://heycam.github.io/webidl/#idl-enums) are strings. Both in all observable JS ways, and in WebIDL definitions. e.g. http://w3c.github.io/webrtc-pc/#rtcpeerconnectionstate-enum

[2017-06-09 12:38] jan-ivar commented on #1370
In binding code it varies I think. In c++ implementation's they're c++ enum. In JS-implemented code they're strings.

[2017-06-09 17:59] taylor-b commented on #1367
Why doesn't a `signalingState` of `"closed"` work?

[2017-06-09 18:58] aboba commented on #1367
@taylor-b Yes, `signalingState` handles this. We could perhaps clarify that calling  `close()` sets  `signalingState` to `"closed"` (the steps currently don't mention this).

[2017-06-10 06:28] stefhak commented on #1344
FWIW I read the relevant parts of the spec, and I think the state does _not_ change if the input is bogus.

[2017-06-10 06:31] stefhak commented on #1346
@fluffy do you have a comment (I'm thinking about that you have been pushing for more error reporting, and the proposal here is to remove an error and silently move on)?

[2017-06-11 21:53] aboba commented on #1344
@stefak I don't believe that the intent is to change the state.  However, the text makes it sounds like `lastOffer` and `lastAnswer` are variables which are set as a result of calling setLocalDescription regardless of whether the input is bogus or not.  This is not the case - both `lastOffer` and `lastAnswer` represent internal slots set by `createOffer` and `createAnswer`, respectively.

Related:

[2017-06-11 22:34] youennf commented on #1323
I am not exactly sure what 'performance degradation' means.
In some cases, encoding/decoding may totally stop.

In that case, getStats could be used to detect when encoding/decoding is failing.
But it seems weird to do continuous calls to getStats just for that reason.
It also does not give any hint to the web application of the actual error and might not be very responsive.

If an error event was

[2017-06-12 05:06] aboba commented on #1364
@fippo I searched for the PR (see: https://github.com/w3c/webrtc-stats/pulls?page=4&q=is%3Apr+is%3Aclosed) but couldn't find what you're referring to.

Here is the latest statistics "tip of tree': https://rawgit.com/w3c/webrtc-stats/master/webrtc-stats.html

[2017-06-12 05:54] vr000m commented on #1364
The final decision was to keep the selector and return the marching object (sender or receiver)

***Let selector be a RTCRtpSender or RTCRtpReceiver on connection which track member matches selectorArg. ***

If no such sender or receiver exists, or if more than one sender or receiver fit this criteria, return a promise rejected with a newly created InvalidAccessError.

[2017-06-12 06:08] aboba commented on #1364
@vr00m Right - and is this correctly reflected in the specification?  Just trying to figure out if there is something to fix and if so, what.

[2017-06-12 06:38] fippo commented on #1364
I think we're good (thankfully), I misinterpreted the lack of the word "selector" in -stats.

[2017-06-12 06:38] #1364 closed

[2017-06-12 07:03] soareschen commented on #1352
Sorry, I missed it again. Apparently section 6.6 of rtcweb-data-channel defines both string and binary message type within SCTP.

I still think the spec could explain better some of the aspects of data channel messaging. Will raise them in separate issues.

[2017-06-12 07:03] #1352 closed

[2017-06-12 07:20] fippo commented on #1364
wait, we might have an issue in the text @vr000m cites:
http://w3c.github.io/webrtc-pc/#rtcpeerconnection-interface-extensions-2
That step (4) does not seem to cover the case that selector is null.

[2017-06-12 10:22] soareschen commented on #1367
It is more of an enhancement request. Since users may check on other states like `iceGatheringState` and make the application code look confusing.

Alternatively a guideline note can be added to say something like _"To check if a connection is closed, check if `signalingState` is equal `"closed"`"_

[2017-06-12 10:26] soareschen commented on #1368
I also notice that the priority enum values is different from what is specified in rtcweb-data-channel.

WebRTC has: `very-low`, `low`, `medium`, `high`
RTCWeb has: `below normal`, `normal`, `high`, `extra high`

[2017-06-12 14:42] aboba opened #1374 "Section 8.2: Null selector properly handled by getStats?"
From fippo:

we might have an issue in the text @vr000m cites:
http://w3c.github.io/webrtc-pc/#rtcpeerconnection-interface-extensions-2
That step (4) does not seem to cover the case that selector is null.

[2017-06-12 14:43] aboba commented on #1364
@fippo Opened new issue: https://github.com/w3c/webrtc-pc/issues/1374

[2017-06-12 14:53] stefhak commented on #1361
There is indeed no such info. However, it is said that
```When this is given a non-false value, no outgoing track of type "audio" is attached to the PeerConnection, and the existing localDescription (if any) doesn't contain any sendrecv or recv audio media sections, createOffer() will behave as if addTransceiver("audio") had been called once prior to the createOffer() call. ```
which I read as thi

[2017-06-12 16:01] docfaraday opened #1375 "Checks for negotiation-needed are underspecified when currentLocalDescription/currentRemoteDescription are not set"
The following language does not work if the PC has not performed an initial negotiation. (Transceivers are expected to be associated before offer/answer completes, so this language can apply in this situation)

"

- If t's direction is "sendrecv" or "sendonly", and the associated m= section in connection's currentLocalDescription doesn't contain an "a=msid" line, return "true".

- If connection's

[2017-06-12 19:10] fippo commented on #1374
Mostly a style question how to resolve this. One way:
4. If selectorArg is null, let selector be null.
5. If selectorArg is a valid MediaStreamTrack let selector be a RTCRtpSender or RTCRtpReceiver on connection which track member matches selectorArg. If no such sender or receiver exists, or if more than one sender or receiver fit this criteria, return a promise rejected with a newly created Inval

[2017-06-13 03:08] soareschen opened #1376 "Improve description for semantics of updating bufferedAmount"
I was writing test for `bufferedAmount` at w3c/web-platform-tests#6215, got confused by the description, and found #1111.

From @taylor-b's comment:

The understanding is that when calling `send()`, `bufferedAmount` can only be increased within step 3. Any act of decreasing `bufferedAmount` after data is sent through underlying data transport must be done in separate microtask after returning to t

[2017-06-13 05:04] soareschen opened #1378 "Origin value for data channel message event"
The data channel `message` event references the WebSocket and WebMessaging specs. In the steps for firing `message` event, there is one involving setting the `origin` attribute of the event.

It is not clear in the context of WebRTC data channel, what should be the `origin` value for `MessageEvent`, which is non-nullable.

[2017-06-13 06:24] soareschen opened #1379 "Validation for binaryType setter in RTCDataChannel"
The description for `binaryType` do not mention about validation on setting.

An additional paragraph for validation should be copied from WebSocket:

Alternatively, an enum could be defined for binaryType attribute.

[2017-06-13 08:00] soareschen opened #1380 "Connection states after signaling handshake when there is no transceiver and SCTP transport"
In the spec it is legal to create offer with no video/audio transceiver and no data channel created. In that case after the signaling handshake, will the states for `iceGatheringState`, `iceConnectionState`, and `connectionState` be changed?

Without transceiver and data channel, there is no where in the spec where instances of `RTCIceTransport` and `RTCDtlsTransport` can be found. Does this mean

[2017-06-13 08:16] soareschen opened #1381 "pc.close() method should close sctp transport"
Picking out from #1306.

In the `close()` method, it iterates through the `DtlsTransport` for each sender/receiver for each transceiver and close them. However the `SctpTransport` at `sctp` attribute is missed so its underlying `DtlsTransport` is not closed.

[2017-06-13 08:22] soareschen commented on #1380
Actually if there is no media line, then there is no ICE candidate because RTCIceCandidate must have associated media line. So there can't be any ICE connection established and the connection states should all stay at `new`. Closing this.

[2017-06-13 08:22] #1380 closed

[2017-06-13 09:41] dontcallmedom commented on #1279
see #1086 where the discussion that led to the addition of the text (in #1119) happened

[2017-06-13 09:48] soareschen opened #1382 "iceGatheringState on connection with data channel only before setRemoteDescription(answer) is set"
According to JSEP, ICE gathering is started as soon as `setLocalDescription()` is called. This is also the observed behavior with current browser implementations. As a result, it is expected that at this point the `iceGatheringState` starts to change.

However when applying to the `RTCIceGatheringState` rules to offerer with data channel only, the `iceGatheringState` stays at `new` until `setRemot

[2017-06-13 13:27] fippo opened #1383 "offerToReceive* legacy behaviour spec does not match the behaviour of legacy implementations"
Run this snippet in Chrome or Firefox:
[code]
The first offer will have an audio m-line. The second offer will have a video m-line.

Now according to the [specification of the legacy offerToReceive*](http://w3c.github.io/webrtc-pc/#configuration-data-extensions) this is not valid since offerToReceive internally creates a transceiver. In the addStream-model createOffer was stateless -- I think the

[2017-06-13 13:35] fippo commented on #1383
Note that the actual impact, i.e. people calling createOffer without setLocalDescription is very low.

[2017-06-13 14:06] ibc commented on #1383
So, in the new transceiver based spec, isn't createOffer stateless? If I properly understand, it's not stateless because it creates a transceiver, so the app can set transceiver's parameters and then... createOffer + setRemoteDescription?
Everything around transceivers is crazy. Death to SDP.

[2017-06-13 14:09] jesup commented on #1378
One would presume it should be the origin of the code that created the datachannel/peerconnection, as with websockets

[2017-06-13 14:54] jan-ivar commented on #1383
Whether createOffer internally creates a transceiver is not very clear from the [spec language](http://w3c.github.io/webrtc-pc/#dom-rtcofferoptions-offertoreceiveaudio) IMHO:

 *"When this is given a non-false value, no outgoing track of type "audio" is attached to the PeerConnection, and the existing localDescription (if any) doesn't contain any sendrecv or recv audio media sections, createOffer(

[2017-06-13 15:06] jan-ivar commented on #1383
That said, it raises questions about the state of things after createOffer(). Without a transceiver, there's no sender nor receiver, and no tracks.

[2017-06-13 15:23] jan-ivar commented on #1383
@ibc The new createOffer is stateless. It's the old legacy createOffer({offerToReceiveAudio: true}) that (probably) isn't, and probably needs clarifying language that it does indeed implicitly create a transceiver as a kludge.

[2017-06-13 16:47] aboba commented on #1382
Section 4.4.2 states that `iceGatheringState` transitions to `gathering` if "Any of the `RTCIceTransport`s are in the gathering state."  So the transition will occur when an `RTCIceTransport` object is created and is in the gathering state.  This is not affected by the presence or absence of an SCTP transport, since the SCTP transport runs over the ICE transport.

[2017-06-13 17:26] aboba commented on #1278
Split up into sub-issues, so closing.

[2017-06-13 17:26] #1278 closed

[2017-06-13 17:41] aboba commented on #1381
Related Issue: https://github.com/w3c/webrtc-pc/issues/1288

[2017-06-13 17:41] aboba commented on #1288
Related Issue: https://github.com/w3c/webrtc-pc/issues/1381

[2017-06-14 02:59] soareschen commented on #1382
Got it then. So the conclusion is that browser implementations are allowed to keep an internal list of `RTCIceTransport`s, possibly through the implementation specific ICE agent, and compute states based on that list.

So we just have to fix #1306 to clarify that `RTCIceGatheringState` value is derived from given internal list.

I encountered this issue when testing for the correctness of `RTCIceG

[2017-06-14 12:30] stefhak commented on #1347
I'm labeling this issue as editorial based on the discussion above. @soareschen would you be willing to provide a PR for this?

[2017-06-14 12:32] stefhak commented on #1346
Assigning to @fluffy. Perhaps we should add this to an interim agenda in the future?

[2017-06-14 12:34] stefhak commented on #1345
Labeling this as "Needs submitter action" since I would like @ekr (who is the real submitter) to verify he is OK with Adam's response.

[2017-06-14 12:46] stefhak commented on #1307
@fluffy the sentence reads:
```For all other errors, for example if description cannot be applied at the media layer, reject p with a newly created OperationError.```, i.e. "cannot be applied at the media layer" is just an example. Would you be OK with removing that part (i.e. ```, for example if description cannot be applied at the media layer```)?

I'm also labeling this as "Editorial" since any

[2017-06-14 12:56] stefhak commented on #1292
Pinging @ekr

[2017-06-14 12:57] stefhak commented on #1292
Labeling "Editorial" based on @ekr 's comment in https://github.com/w3c/webrtc-pc/issues/1292#issue-232627333 that the normative text is elsewhere.

[2017-06-14 13:19] stefhak commented on #1279
Adding "Needs submitter action" label as we need input from @ekr (who is the submitter)

[2017-06-14 13:25] stefhak commented on #1269
@aboba there are quite a few questions to @fluffy left in https://github.com/w3c/webrtc-pc/issues/1269#issuecomment-305468506. I'm labeling "Needs submitter action" and "Question".

[2017-06-14 13:58] soareschen commented on #1347
Yes I can work on this next week. Currently prioritizing on WPT tasks for WebRTC first.

[2017-06-14 18:21] fluffy commented on #1269
@stefhak - wow - thank you for working through all that. Much appreciated. I will figure out what to do with ones that are questions so leave this open for a bit with action for me.

[2017-06-15 03:50] soareschen opened #1386 "Inconsistent behaviors of addTrack compared to addTranseiver and sender.replaceTrack"
- `addTrack` verifies that given track is not not found in any existing sender, and otherwise throws `InvalidAccessError`. However the same checking is not done in `addTransceiver(track)` and `sender.replaceTrack`.

- `addTrack` tries to reuse existing sender that is compatible and with null track, `addTransceiver(track)` creates new transceiver regardless.

- `addTrack` mentions about checking th

[2017-06-15 05:01] soareschen opened #1387 "RTCRtpSender replaceTrack should accept nullable argument in WebIDL definition"
The description for `replaceTrack` suggest that _withTrack_ is nullable, but in the WebIDL method the argument is non-nullable.

[2017-06-15 05:43] aboba commented on #1386
The note in Section 5 explains that the same track can be sent multiple times via in `addTransceiver(track)` and `sender.replaceTrack` which is why the check is not done. `addTransceiver(track)` always creates a new transceiver by design.

The text on origin checks might best be placed somewhere else so as to apply more generally.

[2017-06-15 06:52] soareschen commented on #1386
I see. Missed that one. Thanks for pointing!

[2017-06-15 07:02] fippo commented on #1383
I think we need to figure out when state is created and modified and if that has changed in the evolution from the streams model to the transceiver model.

When I say that in the addStreams model createOffer is stateless I mean that it does not modify the state on the peerconnection object. I think you mean that the offer that is created carries state. Two sides of the same coin. This is somewhat

[2017-06-15 07:48] soareschen opened #1389 "No normative definition for "Determine if negotiation is needed to transmit withTrack in place of the sender's existing track" in replaceTrack"
My understanding is that the step should be different from the section for _"check if negotiation is needed for connection"_, but the words are too similar to easily confuse one with another. Can there be better wordings to distinguish the two?

There is a note section below that describe cases that _may_ require negotiation, but there is no normative definition or reference to other specs on how

[2017-06-15 08:03] fippo commented on #1383
I checked (1) in both Chrome (beta with experimental web platform features flag) and Firefox.
[code]
both return an empty array.

[2017-06-15 08:11] soareschen commented on #1389
I _think_ negotiation is also not needed if the sender's existing track is `null`.

[2017-06-15 09:25] soareschen opened #1390 "removeTrack: does not always cause createOffer to mark media description"
In the last few steps for `removeTrack`, `transceiver.direction` is altered based on the value of its `currentDirection`, not `direction`. However `currentDirection` is nullable and only changes after session descriptions.

This means if `removeTrack` is called when `currentDirection` is null, such as before setting session descriptions, the transceiver's direction is not changed. Is this intentio

[2017-06-15 09:54] stefhak commented on #1383
In response to question 1. at the end of https://github.com/w3c/webrtc-pc/issues/1383#issuecomment-308647050: r1 should not be set.

I agree there may be some unclear things in the spec here, personally I find it helpful to read [JSEP](rtcweb-wg.github.io/jsep) at the same time...

[2017-06-15 10:08] soareschen opened #1391 "Setting session description section should have step to set transceiver currentDirection"
In JSEP it is specified that `currentDirection` is set when an answer description is applied.

The setting session description section should have steps to set the currentDirection, instead of leaving readers to figure it out through JSEP.

[2017-06-15 10:24] fippo commented on #1383
JSEP unfortunately does not cover offerToReceive anymore. From 5.2.1:
[code]
This suggests to me that createOffer operates on the pc state and we can not generate an m= line without a transceiver.

One way to wiggle around this is to say that createOffer({offerToReceive}) calls the createOffer algorithm with a set of transceivers which in this case does not match the pcs set of transceivers.
And t

[2017-06-15 10:48] stefhak commented on #1383
I remember a not too distant past when we had no 'offerToReceive' in the spec :)

[2017-06-15 11:37] stefhak commented on #1125
The history of us adding the removed 'offerToReceive*' back in with #1005 leading to us (according to @fippo in https://github.com/w3c/webrtc-pc/issues/1383#issuecomment-308691938) being in a rabbit hole tells me we should be careful with pulling deprecated stuff back in.

[2017-06-15 11:46] fippo commented on #1125
@stefhak make sure you are sitting comfortably when reading https://bugs.chromium.org/p/webrtc/issues/detail?id=7815

It looks like there are different interpretations of the stream model even and how to do audio->audio/video.

[2017-06-15 11:54] fippo commented on #1125
btw, trying to shim addTrack on top of addStream (kids, do not try this at home) in Chrome it turned out that
[code]
is somewhat consistent and that
[code]
is how people use the combination in the wild.

[2017-06-15 12:18] stefhak commented on #1125
@fippo to me it looks like Chrome has a bug when I look at https://bugs.chromium.org/p/webrtc/issues/detail?id=7815
For https://github.com/w3c/webrtc-pc/issues/1125#issuecomment-308708976 I don't fully get the point, can you elaborate?

[2017-06-15 12:33] fippo commented on #1125
@stefhak the Chrome behaviour is consistent with the addStream-model on the other side. If a track gets added to a remote stream, onaddtrack is called on the stream without things going through the peerconnection. Now in the addTrack-model it makes no sense. @taylor-b actually [mentioned this](https://github.com/w3c/webrtc-pc/issues/1125#issuecomment-296788876) back in April.

The first part of my

[2017-06-15 14:08] aboba commented on #1389
I believe that the renegotiation determination is implementation specific, yes.   As an example, the sender's existing track is  `null`, it is desired to replace it with a non-null track, but encoding resources are not available.

[2017-06-15 14:28] aboba commented on #1391
As noted in Section 4.3:

"The [JSEP] specification, as a whole, describes the details of how the RTCPeerConnection operates. References to specific subsections of [JSEP] are provided as appropriate."

[2017-06-15 14:34] #1206 closed

[2017-06-15 14:48] #1353 closed

[2017-06-15 14:51] taylor-b commented on #1112
@jan-ivar A question that's coming up as we're trying to fix this: what naming convention should we use for internal slots that map 1:1 to attributes? If we use the same name, we'll get duplicate definition respec errors.

[2017-06-15 15:00] #1387 closed

[2017-06-15 15:01] #1367 closed

[2017-06-15 15:01] #1363 closed

[2017-06-15 15:02] #1351 closed

[2017-06-15 15:02] #1344 closed

[2017-06-15 15:02] #1330 closed

[2017-06-15 15:03] #1322 closed

[2017-06-15 15:03] #1287 closed

[2017-06-15 15:03] #1309 closed

[2017-06-15 15:04] #1255 closed

[2017-06-15 15:04] #1254 closed

[2017-06-15 15:04] #1245 closed

[2017-06-15 15:04] #1092 closed

[2017-06-15 15:08] #1261 closed

[2017-06-15 15:09] #1302 closed

[2017-06-15 15:14] #1280 closed

[2017-06-15 15:35] aboba commented on #1362
The relationship between DTLS and the underlying ICE transport (including the "virtual transport" behavior) is described in IETF protocol specifications, so this is outside the scope of the WebRTC specification.

[2017-06-15 15:39] fippo commented on #1383
The alternative would be to let createOffer({offerToReceiveAudio}) actually create a transceiver.
This would mean that we let go of strict legacy compat but only in a very limited and hopefully rather theoretical case (I think we can satisfy @ibc by giving him proper RTCRtpReceiver.getCapabilities()).

@foolip how many weeks would it take you to get number of "createOffer is called with offerToRec

[2017-06-15 16:36] jan-ivar commented on #1181
At the June virtual interim we came up with https://github.com/w3c/webrtc-pc/issues/1377 to give sites a way to detect remote track removal both in the spec and Chrome [today](https://jsfiddle.net/jib1/4raq8tqc/), bridging an important transition period.

Basically, of the two approaches:
[code]
only the first one would break.

Unfortunately, Firefox does not do the second one yet (though we'd add

[2017-06-15 16:37] taylor-b commented on #1383
Since this is only around for backwards compatibility, creating a transceiver as a side-effect seems like an acceptable option. It would only negatively affect people who don't do `setLocalDescription` after `createOffer({offerToReceiveAudio: true})`.

If `createOffer({offerToReceiveAudio: true})` creates a transceiver, then to address this we'd just need to change:

To:

[2017-06-15 16:44] jan-ivar commented on #1112
From looking at other specs, internal slots seem to use [[FooBar]] vs. attribute fooBar.

[2017-06-15 16:54] taylor-b opened #1393 "Need to define what an "associated" transceiver is."
This came up in the review of https://github.com/w3c/webrtc-pc/pull/1321. We use the terminology of transceivers being "associated" with media descriptions, but don't define what that means. For example:

We just need to copy or refer to the JSEP definition, which is:

[2017-06-15 17:02] taylor-b opened #1394 "Setting a pranswer should change RTCRtpTransceiver's currentDirection"
From PR #1321, we have an explicit step for changing the `currentDirection` attribute:

But this should apply to "pranswers" as well. JSEP says `currentDirection` returns the direction in the last applied answer, and a "pranswer" is a type of answer. Plus, logically `currentDirection` is meant to represent the direction "in effect" - the one that the media plane cares about. And setting a "pranswe

[2017-06-15 17:14] taylor-b commented on #1112
What's an example? I ran into problems even with that, since definitions aren't case sensitive.

[2017-06-15 19:39] jan-ivar commented on #1112
@taylor-b Hmm, good question. I haven't immediately found a good example to lean on, and the design guide doesn't mention it, though I happened across [this example](https://www.w3.org/2001/tag/doc/promises-guide#example-environment-ready) that either shows ignorance of the problem, or that it perhaps should not be a problem. @domenic Do you happen to know if/where internal slot naming etc. is spe

[2017-06-15 19:44] domenic commented on #1112
Overall this issue makes me happy that people are paying attention to properly specifying stuff like this, and I agree with the OP as well :).

Internal slot naming is pretty ad-hoc right now and up to the spec authors. In Bikeshed there are different namespaces for different definition types, so this doesn't come up... How to do this properly in ReSpec, hmm... Can you manually give the slots diff

[2017-06-15 20:54] taylor-b commented on #1112
Giving them different `id=`s doesn't prevent the "duplicate definition" error. But something I just tried which seems to work is `[<dfn>[FooBar]</dfn>]` (in other words, enclose one set of `[]`s in the definition). Not sure if this would be considered a hack or an acceptable solution. Enclosing both sets of `[]`s in the definition almost works, but it tries to create a bibliography link (like it d

[2017-06-15 21:09] domenic commented on #1112
Oh, I think you're supposed to escape internal slots by using either `\[[FooBar]]` or `[[\FooBar]]`, one of those two.

[2017-06-15 22:16] taylor-b commented on #1112
Oh, that works! Guess I should have looked at the ReSpec documentation. Here's a PR that fixes our current uses of internal slots: https://github.com/w3c/webrtc-pc/pull/1395

[2017-06-16 02:47] soareschen commented on #1362
Right. So this issue can be closed then. Thanks for clarifying!

[2017-06-16 02:47] #1362 closed

[2017-06-16 02:53] soareschen commented on #1165
This is now fixed by #1229.

[2017-06-16 02:53] #1165 closed

[2017-06-16 03:04] soareschen opened #1396 "In data channel send(), remove the condition "If channel's underlying data transport is not established yet, then abort these steps""
Missed this when reviewing #1209. The data can still be queued while channel's underlying data transport is being established. Ignoring it would cause initial data being sent to be silently dropped.

It is also possible that the condition is unreachable, since the new step 2 already guard against non-open `readyState`.

[2017-06-16 03:06] soareschen commented on #1376
This is now fixed by #1209.

[2017-06-16 03:06] #1376 closed

[2017-06-16 03:35] taylor-b commented on #1396
I agree this can be removed; even before #1209, an `InvalidStateError` would be thrown due to `readyState` being `"connecting"`.

[2017-06-16 05:55] marcoscaceres commented on #1112
If you need me to review ReSpec usage, happy to do that.  #1395 looks good.

For "best practice", take a look at http://github.com/w3c/browser-payment-api

[2017-06-16 06:54] soareschen commented on #1345
I think it is inconsistent because if you call `close()` right after `addIceCandidate({ sdpMid: null, sdpMLineIndex: null })`, the promise rejects. While in other cases, e.g. `remoteDescription` is `null`, the promise is never resolved.

[2017-06-16 07:17] soareschen commented on #1224
This is now fixed by #1229.

[2017-06-16 10:18] foolip commented on #1383
For any use counter we add now, we'd have numbers from the stable channel in September.

[2017-06-16 18:14] stefhak commented on #1383
The solution proposed by @fippo in https://github.com/w3c/webrtc-pc/issues/1383#issuecomment-308776600 sounds reasonable to me.

I guess it would create a new transceiver for every call to createOffer with the option set, but that's seems like something that we could live with.

[2017-06-17 14:37] jan-ivar opened #1403 "Editorial: negotiation-needed algorithm returns a string"
The [checking if negotiation is needed](w3c.github.io/webrtc-pc/#dfn-check-if-negotiation-is-needed) algorithm uses the strings "false" and "true" as return values, which is confusing. We probably want \<code>true\</false> and \<code>false\</false> instead for consistency.

[2017-06-17 16:08] lgrahl commented on #1205
1 and 2 have been resolved by #1209. Only 3 is left. :+1:

[2017-06-18 01:32] aboba commented on #1315
@martinthomson @stefhak Yes, it does match reasonably.

[draft-ietf-rtcweb-security-arch](https://tools.ietf.org/html/draft-ietf-rtcweb-security-arch-12#page-16) Section 5.5 says:

   All implementations MUST implement DTLS 1.0, with the cipher suite
   TLS_ECDHE_ECDSA_WITH_AES_128_CBC_SHA with the the P-256 curve
   [FIPS186].  The DTLS-SRTP protection profile
   SRTP_AES128_CM_HMAC_SHA1_80 MUST

[2017-06-18 01:36] aboba commented on #1258
@fluffy @stefhak The logical place for this to go would be [draft-ietf-rtcweb-security-arch ](https://tools.ietf.org/html/draft-ietf-rtcweb-security-arch-12#page-16)Section 5.5.

[2017-06-18 02:06] aboba commented on #1315
@ekr @stefhak The answer is that draft-ietf-rtcweb-security-arch doesn't currently specify the mandatory-to-implement certificate algorithms, only the MTI ciphersuites.   So there is no conflict.  On the other hand, as noted in Issue https://github.com/w3c/webrtc-pc/issues/1315, specifying this in the WEBRTC API is questionable.

Email sent to IETF RTCWEB WG: https://mailarchive.ietf.org/arch/msg/

[2017-06-18 02:06] #1315 closed

[2017-06-18 02:16] aboba commented on #1357
@fippo It makes sense that the changes would become visible after SRD.  However, exactly what happens is not well specified at present.  For example, does the old RTCDtlsTransport.state transition to "closed"?  Is there a new RTCDtlsTransport created in the "new" state?  Does the onstatechange EventHandler for the old RTCDtlsTransport get moved to the new RTCDtlsTransport automagically, or does th

[2017-06-18 02:20] aboba opened #1406 "When ICE restarts results in connection to a new endpoint"
From fippo in Issue https://github.com/w3c/webrtc-pc/issues/1357:

In the case of the remote fingerprint changing, when does the JS layer learn about the new DTLS transport object? The first chance is after SRD and I would also expect it to be available in [onselectedcandidatepairchange](http://w3c.github.io/webrtc-pc/#dom-rtcicetransport-onselectedcandidatepairchange).

I would expect the ice tra

[2017-06-18 02:21] aboba commented on #1406
@fippo It makes sense that the changes would become visible after SRD.  However, exactly what happens is not well specified at present.  For example, does the RTCDtlsTransport remain the same and make an (odd) transition back to "new"?

Or does the old RTCDtlsTransport.state transition to "closed", along with a new RTCDtlsTransport created in the "new" state?  If so, does the onstatechange EventHa

[2017-06-18 02:22] aboba commented on #1357
Since this question has morphed into Issue https://github.com/w3c/webrtc-pc/issues/1406 I am closing it.

[2017-06-18 02:22] #1357 closed

[2017-06-18 02:26] aboba opened #1407 "`addTransceiver(track)` doesn't mention checking the origin of track"
From Issue https://github.com/w3c/webrtc-pc/issues/1386:

- `addTrack` mentions about checking the origin of track, `addTransceiver(track)` doesn't.

[2017-06-18 02:26] aboba commented on #1386
Since this question has morphed into Issue https://github.com/w3c/webrtc-pc/issues/1407 I am closing it.

[2017-06-18 02:26] #1386 closed

[2017-06-18 02:28] aboba commented on #1378
@soareschen Can you submit a PR to clarify this?

[2017-06-18 02:32] aboba commented on #1368
@soareschen I suspect that initialization was omitted because priority formerly had a default value.

[2017-06-18 02:33] aboba commented on #1368
@stefhak @fluffy  Is there something here that we need to clarify with IETF RTCWEB WG?

[2017-06-18 02:36] aboba commented on #1178
Related Issue https://github.com/w3c/webrtc-pc/issues/1406

[2017-06-18 02:37] aboba commented on #1406
Related Issue https://github.com/w3c/webrtc-pc/issues/1178

[2017-06-18 06:19] stefhak commented on #1258
Thanks @aboba!

[2017-06-18 15:25] fippo commented on #1406
I think there should be a new DTLS transport object since the internal keying material on a DTLS transport is immutable once set. Also packets on the old dtls transport still need to be decrypted (
spec pointer from [this old comment](https://github.com/w3c/ortc/issues/93#issuecomment-47406008) [here](https://tools.ietf.org/html/rfc5245#section-9.1.1.1)
Ideally at least, getting this use-case 100%

[2017-06-18 23:05] martinthomson commented on #1315
@aboba, this issue is #1315.  Note that while it could use clarification as to whether it applies to ECDH or ECDSA, this statement could imply ECDSA with P-256:

[2017-06-19 12:17] stefhak commented on #1166
@foolip @soareschen is there anything more we need to do here? If not I will close this issue.

[2017-06-19 14:59] soareschen commented on #1166
Yes this can be closed now. Thanks!

[2017-06-19 15:04] foolip commented on #1166
@taylor-b, do you have a Chromium bug for matching the spec on this point? If https://github.com/w3c/webrtc-pc/issues/1166#issuecomment-301128876 is correct then it should be safe, but it would be good to try it ASAP so that the spec can be fixed if it's actually not web compatible.

With such a bug filed, there's nothing further to do here.

[2017-06-19 17:39] aboba commented on #1391
Section 4.4.1.6 says:

"7. If description is set as a local description, then run the following steps for each media description in description that is not yet associated with an RTCRtpTransceiver object...  If description is of type "answer", then set transceiver's [[CurrentDirection]] slot to an RTCRtpTransceiverDirection value representing the direction of the corresponding media description."

[2017-06-19 17:53] aboba commented on #1390
The text for removeTrack says:

"Stops sending media from sender. The `RTCRtpSender` will still appear in `getSenders`. Doing so will cause future calls to `createOffer` to mark the media description for the corresponding transceiver as `recvonly` or `inactive`, as defined in [JSEP] (section 5.2.2.)."

[2017-06-19 17:55] aboba commented on #1394
@taylor-b This makes sense.

[2017-06-19 18:10] aboba commented on #1286
@stefhak The descriptions of the label and protocol attributes do not say that they need to be 65535 bytes long or less.  So perhaps that should be stated.

[2017-06-19 18:31] aboba commented on #1237
The [[associated MediaStreams]] internal slot does not seemed to be used.

However, the[[send encodings]] internal slot is used in both setParameters and getParameters:

In `setParameters`:
"Let `N` be the number of `RTCRtpEncodingParameters` stored in sender's internal [[send encodings]] slot.... If `parameters.encodings.length` is different from `N` ..."

In `getParameters`:
"`encodings` is set

[2017-06-19 19:32] aboba commented on #1158
Section 12.2.4 is somewhat puzzling, since it doesn't list the attributes within the RTCErrorEventInit dictionary.  For example, I would have expected to see something like this:

partial dictionary RTCErrorEventInit: EventInit {
  attribute RTCErrorDetailType errorDetail;
  attribute DOMString          message;
  attribute unsigned long     sdpLineNumber;
  attribute unsigned short     httpReques

[2017-06-19 20:17] nils-ohlmeier commented on #1396
Just to make sure we are all on the same page: step 2 stays and we eliminate only step 4 as it is redundant, right?

[2017-06-19 21:11] aboba commented on #1396
@nils-ohlmeier Right. I believe that Step 2 removes the need for Step 4.  Note that PR https://github.com/w3c/webrtc-pc/pull/1404 removes all of step 4 whereas PR https://github.com/w3c/webrtc-pc/pull/1398 still checks whether the closing procedure has been started.

[2017-06-19 22:10] nils-ohlmeier commented on #1396
@aboba Good point. I think PR #1404 is the right to do here.

When reading this I initially got nervous that it would allow calling send() even on data channels which are not open yet (forcing the implementations to buffer until the channel opens). But that would lead to trouble as we only learn the max-message-size when the SDP answer is received.

[2017-06-20 02:35] soareschen commented on #1237
Yes, just saw the usage of `[[send encodings]]` was added to the 20170605 draft after this issue was raised.

[2017-06-20 02:48] soareschen commented on #1391
So this has now been fixed on master branch after merging #1321. Closing this.

[2017-06-20 02:48] #1391 closed

[2017-06-20 04:27] aboba commented on #1308
@fluffy @stefhak   Currently the explanation for dtx says:

"For an RTCRtpSender, indicates whether discontinuous transmission will be used. Setting it to disabled causes discontinuous transmission to be turned off. Setting it to enabled causes discontinuous transmission to be turned on if it was negotiated (either via a codec-specific parameter or via negotiation of the CN codec). This attribute

[2017-06-20 04:36] aboba commented on #1158
@jan-ivar What do you think we should do here?

[2017-06-20 04:42] aboba commented on #1237
@jan-ivar Any idea where this internal slot should be used?

[2017-06-20 05:25] aboba commented on #1300
@ekr @stefhak Are you referring to uniqueness requirements on the transactionId ?

[2017-06-20 05:32] aboba commented on #1174
@fippo @taylor-b Unfortunately, we cannot only guarantee that `sender.getParameters()` returns the SSRC used for sending at the instant that the method returns. By the time `sender.setParameters` is called, the SSRC could have changed.  The point of adding `transactionId` to `RTCRtpEncodingParameters` was to make sure that there were no intervening changes between `sender.getParameters()`  and `se

[2017-06-20 10:04] soareschen commented on #1345
Note that I wrote a test specifically for this: https://github.com/w3c/web-platform-tests/blob/eb99716a47e1db691e287eba963589274ee6bbfb/webrtc/RTCPeerConnection-addIceCandidate.html#L415

The test case currently timeout on both Chrome and Firefox. In other words current browsers already interpret step 3 inside of enqueing operation.

I am going to comment out the test case and defer it until this

[2017-06-20 18:14] taylor-b commented on #1406
I don't think much has changed. We don't do anything to honor the "each DTLS association must use a new ICE session" rule, and we definitely don't handle corner cases with "pranswer"s well. But I consider those bugs.

If creating a new object makes things more complex without any tangible benefit, then maybe it's not worth it, even if it's the correct object model.

[2017-06-21 06:51] soareschen opened #1412 "ResourceInUse exception is not defined"
There are two occurrences of `ResourceInUse` exception mentioned in the spec. However I cannot find any definition of `ResourceInUse`, both in the spec and in WebIDL.

[2017-06-21 07:53] soareschen opened #1413 "Should even/odd id validation be enforced in createDataChannel when negotiated is false (in-band negotiation)?"
The draft-ietf-rtcweb-data-protocol spec states that:

Currently `createDataChannel()` allows arbitrary `id` value to be provided, as long as they are within valid range. But creating a data channel with odd/even `id` of the opposite side when `negotiated` is ~`true`~ (Update: `false` - in-band negotiation) violates the MUST clause in the protocol.

It is not clear how we can enforce this even/odd

[2017-06-21 08:16] adam-be commented on #1407
I assume that you're referring to the text about a track being inaccessible to the application (e.g. by peerIdentity). We might want to make that piece general and reference it from both addTrack and addTransceiver.

[2017-06-21 08:19] adam-be commented on #1407
Btw, should that text emit any errors to the application?

[2017-06-21 11:55] taylor-b commented on #1166
Filed: https://bugs.chromium.org/p/chromium/issues/detail?id=735422

[2017-06-21 14:08] jan-ivar commented on #1360
[Apparently](https://github.com/w3c/webrtc-pc/issues/1112#issuecomment-308846383) slot names are fairly ad hoc atm. but we should at least make them consistent within the same spec.

[2017-06-21 23:58] taylor-b commented on #1413
My assumption was that this "MUST" only applies to generated IDs, not IDs selected by the application. If the application is selecting IDs itself, it seems like it would be the application's responsibility to avoid collisions.

[2017-06-22 03:58] soareschen commented on #1413
It seems that your assumption only applies when `negotiated` is false. Section 6.5 of draft-ietf-rtcweb-data-channel-13 states that:

My understanding is the the requirement in draft-ietf-rtcweb-data-protocol is enforced on the `DATA_CHANNEL_OPEN` message sent, regardless of how the message was generated. So unless the API call doesn't result in sending `DATA_CHANNEL_OPEN` message, i.e. when `nego

[2017-06-22 05:27] soareschen opened #1415 "When is the dtmf attribute in RTCRtpSender set?"
I am preparing to write tests for the DTMF section, which require obtaining an instance of `RTCDTMFSender`. The `dtmf` field in `RTCRtpSender` is defined to be nullable. This leaves a few questions:

- Can the `dtmf` attribute be initially null and then become not null at a later time?

- The only place DTMF support is mentioned in JSEP is when setting remote description with m= section having tel

[2017-06-22 05:32] taylor-b commented on #1413
I agree. So, I see three options:

1. Say "you can only specify the ID when `negotiated` is `true`". Would break existing apps (though I don't know why they'd need this functionality in the first place).
2. Once the DTLS role is determined, close the data channel with an error if the ID is invalid. Is also bound to break existing apps, though it would be following draft-ietf-rtcweb-data-protocol t

[2017-06-22 08:20] soareschen opened #1416 "RTCError should have WebIDL-friendly definition"
- The current definition for `RTCError` seems to be copied and modified from the ecma-262 spec.
- The description look out of place as compared to the other sections.
- There is no WebIDL definition for the `RTCError` interface.
- The enum `RTCErrorDetailType` is defined but not referenced in the `RTCError` constructor.

[2017-06-22 08:22] soareschen commented on #1416
Nvm. Duplicate of #1158.

[2017-06-22 08:22] #1416 closed

[2017-06-22 09:30] soareschen opened #1417 "transceiver.currentDirection should be set to null when stopped"
The attribute description for `currentDirection` says _"if the transceiver is stopped, the value is null"_. But in the `stop()` description there is no step to set `currentDescription` to `null`.

In section _4.4.1.6 Set the RTCSessionSessionDescription_, the relevant steps for setting answer description should also check if the transceiver is stopped before setting the transceiver's `currentDirec

[2017-06-22 09:52] soareschen opened #1418 "RTCRtpTransceiver setDirection() should throw InvalidStateError if transceiver is stopped"
This should make it consistent with other methods such as `replaceTrack()`.

[2017-06-22 11:14] stefhak commented on #1207
From: https://lists.w3.org/Archives/Public/public-webrtc/2017Jun/0057.html

"ACTION: Taylor to draft text for preferences not being blown away (and
explain how that works when the new offer contains codecs that are
completely different than the original one)"

[2017-06-22 11:22] stefhak commented on #1361
Related to #1383

[2017-06-22 11:23] stefhak commented on #1383
Related to #1361.

[2017-06-22 11:57] tobie opened #1419 "WebIDL serializer has been deprecated in favor of toJSON operation"
Hi!

We recently [deprecated WebIDL serializers][0]. You can now directly specify [toJSON operations][1] instead, which you previously weren't allowed to do.

To deal with common cases, we added a new [\[Default\] extended attribute][2] which triggers the [default toJSON operation][3] that behaves similarly to how `serializers={attributes}` or `serializers={attributes, inherit}` used to. That is,

[2017-06-22 13:21] taylor-b commented on #1415
I think that was the intention. We talked about RTCDTMFSender in the last virtual interim, and this was briefly brought up.

However... what happens if you apply another remote description that removes the "telephone-event" format? Does `dtmf` become null again? What happens if the application holds onto the `RTCDTMFSender` object and tries to call `insertDtmf` in this state? I think we still need

[2017-06-22 14:49] jesup commented on #1413
Specifying the ID with negotiated = false should be ignored.  If you want, we could complain or reject it.  I suspect the only people doing it are doing it by accident (specify everything!) and aren't depending on it (since it does nothing currently).

I wonder how many people are using negotiated=true (and actually have a reason to do so)

There was a lot of discussion about this in the IETF meet

[2017-06-22 14:49] jesup commented on #1413
Ugh.  Silly github

[2017-06-22 15:38] fluffy commented on #1346
How does the JS code know if the new scheme worked or not if we add a new one in the future?

I'm against the idea that I put a typo in a turn server name syntax and gets silently ignored. That is really hard to debug because it will be much later when ICE does not work that the impact of this comes.

[2017-06-22 16:06] fippo commented on #1346
How about
1) If the scheme name is implemented and there is a parsing error throw a SyntaxError
2) If th scheme name is not implemented throw a NotSupportedError (consistent with mux policy)
Throwing a SyntaxError on data that is generally valid seems bad.

I think silently ignoring makes developers life a lot easier but that can be considered the job of a library.

[2017-06-22 16:21] fluffy opened #1420 "At risk text in wrong location"
If you look at https://w3c.github.io/webrtc-pc/#rtcrtcpmuxpolicy-enum and look at "Feature at risk note", it has the text "Support for the rtcpTransport attribute within the RTCRtpSender and RTCRtpReceiver ." in it. That text makes no sense here and should be moved.

[2017-06-22 19:14] fluffy commented on #1346
That sounds good to me.

[2017-06-22 19:56] jan-ivar commented on #1218
**TL;DR;** The operations queue is legacy tech; it's more important that it operates as if it's not there in the typical case (empty queue).

@soareschen We discussed this ad nauseum [3 years ago](https://lists.w3.org/Archives/Public/public-webrtc/2015May/0064.html) to arrive at the logic we have now. I don't think anyone wishes to reopen this topic.

The operations queue is legacy tech. In other

[2017-06-22 19:57] fippo commented on #1346
[code]
I can make a PR once #1233 is done.

Referencing [RFC 3986](https://tools.ietf.org/html/rfc3986#section-3.1) for 'obtain scheme' seemed overkill at first but... do we have an extensibility issue here since we only reference 7064 and 7065?

[2017-06-22 20:35] taylor-b commented on #1218
If this is broken code, and we don't care about it having race conditions, then why did we care about [the `createOffer(); addTrack();` race condition](https://github.com/w3c/webrtc-pc/issues/782)?

Also, if an application is doing `await pc.setRemoteDescription(incoming.sdp);`, why does it care if the "synchronous part" of the operation happens immediately or via a queued task?

[2017-06-22 20:40] aboba commented on #1360
Note:  [Dom suggests Capitalized Case. ](https://github.com/w3c/webrtc-pc/pull/1395)

[2017-06-22 22:37] jan-ivar commented on #1218
@taylor-b Because we can write non-broken code where it matters:
[code]

WebIDL does all input validation synchronously, which means we can step over an async function in the JS debugger:
[code]
...and immediately inspect the return value to see if the asynchronous operation got launched or not:
[code]

`"pending"` tells us the asynchronous operation was successfully launched. It may fail later fo

[2017-06-23 03:25] soareschen commented on #1413
Sorry, I got the notion of `negotiated` wrong the entire time. (Was wrongly deliberately remembering that `negotiated` have a default value of `true` in `RTCDataChannelInit`, when it is actually false and `ordered` is the one having that WebIDL-violating default value of `true`.)

To clarify, I have updated the title and my previous comments. I'd also suggest using the terms in-band / out-of-band

[2017-06-23 03:58] soareschen commented on #1277
Note: the first part of this is related to #1218.

[2017-06-23 05:48] soareschen opened #1422 "When is ICE gathering triggered?"
Filing this issue to get clarification for PR #1399.

In the current browser implementations, ICE gathering is triggered when `setLocalDescription` is called. This can be tested with the following snippet: (Tested on Chrome and Firefox)

[code]

However there is no normative definition in both webrtc-pc and JSEP that ICE gathering is triggered when `setLocalDescription` is called. The only time th

[2017-06-23 05:52] soareschen commented on #1217
The first part has been fixed in master branch. The second part has been evolved to #1422. Closing this issue.

[2017-06-23 05:52] #1217 closed

[2017-06-23 09:15] soareschen commented on #1218
@jan-ivar Thank you for your explanation. Now I understand much better on why the enqueue operation steps are described the way they are.

The way I see it is that the main difference the patch in  #1397 make is that the synchronous part of the operation also execute asynchronously if the operation queue length is 1.

Currently in the spec, there are only two places where operations have synchrono

[2017-06-23 09:20] ibc commented on #1422
Agreed. It's important that the spec states that. Otherwise, in some scenarios (such as when no Trickle ICE is used) the application doesn't know when exactly it has to set the `icegatheringstatechange` and `icecandidate` events.

[2017-06-23 12:48] stefhak commented on #1422
Section 4.1.9 "setLocalDescription" says:

[code]

[2017-06-23 15:28] taylor-b opened #1423 "What should happen if a DataChannel "OPEN" message uses priority other than one of the recommended values?"
In draft-ietf-rtcweb-data-channel, data channel priorities are defined thusly:

So, an implementation MAY use values other than 128, 256, 512 or 1024.

If it does, and it puts this value in the "OPEN" message, what should the priority be set to on the other side? And what should the `priority` attribute return?

It seems like we may need to make the `priority` attribute an integer, while keeping t

[2017-06-23 16:38] jan-ivar commented on #1218
@soareschen Thanks for finding the cases where this matters: not validation errors, but the state errors you mention (The spec has improved in the years since last time this came up, moving validation outside of the enqueuing. We can't do the same for state checks unfortunately).

As designed, length 1 is the *typical* case, not a special case. This is central to my point.

Again, it neither resol

[2017-06-23 16:48] jan-ivar commented on #1218
In fact the very last test shows why no-one should rely on the queue. `addTransceiver` here is effectively called *before* the enqueued part of `createOffer`, even before the enqueued part of `setLocalDescription`! We found no easy way to keep it out of createOffer, short of tracking parallel state around, nor is it intuitive that it should be kept out. So we didn't, instead changing `createOffer`

[2017-06-25 17:54] fluffy commented on #1215
I will note that what in JSEP there are place where if an error occurs, the implementation are required to "session MUST be restored to the state it was in before" which is not easy to implement but amounts to much the same as implementing rollback.

[2017-06-25 22:49] fluffy commented on #1257
If all the m lines are lines are zero I had thought it would go to closed. I guess to put it a different way, is there a way the remote side can cause a PC to end?

[2017-06-26 08:10] taylor-b commented on #1218
Let's actually examine what the synchronous steps we're talking about are:

1. Checking if `remoteDescription` is `null` in `createAnswer` and `addIceCandidate`.
2. Checking if an ICE candidate's `sdpMid`/`sdpMLineIndex` are non-null.
3. Checking that an ICE candidate's `sdpMid` matches an "m=" section.

I don't think these are errors you'd need a debugger to help figure out; they're pretty obviou

[2017-06-26 08:50] taylor-b commented on #1423
Found an additional wrinkle: the same priority is intended to affect both DSCP markings and the SCTP-level priority (see: https://datatracker.ietf.org/doc/draft-ietf-tsvwg-rtcweb-qos/?include_text=1). So, if a data channel is opened with a priority value in between two of the enum mappings, what DSCP value should be used?

[2017-06-26 10:39] taylor-b commented on #1257
That won't cause the PC to end (`[[isClosed]]` will still be false, you can still do a re-offer that recycles the rejected "m=" sections). But it would cause all transports to enter the "closed" state, in which case you'd get an `RTCIceConnectionState` of `"new"`:

This was by design, since having a bunch of rejected "m=" sections is equivalent to having none at all, from an application's perspect

[2017-06-26 14:55] taylor-b opened #1424 "What happens if you set a remote description with two tracks with the same ID?"
This is possible even without SDP munging today:

[code]

Why would you do this? I don't know. But what should happen on the remote side? Do you get two tracks with ID "A"?

[2017-06-26 17:18] aboba commented on #1418
@soareschen Can you submit a PR?

[2017-06-26 17:18] aboba commented on #1417
@soareschen Can you submit a PR?

[2017-06-26 17:35] aboba commented on #1323
@pthatcherg @fluffy Any thoughts?

[2017-06-26 17:41] aboba commented on #1238
@fippo Can you submit a PR?

[2017-06-26 17:44] aboba commented on #1374
@fippo Can you submit a PR?

[2017-06-26 18:00] aboba commented on #1242
@fippo Can you submit a PR?

[2017-06-26 18:02] aboba commented on #1216
@soareschen Can you submit a PR?

[2017-06-26 18:05] aboba commented on #1213
@fippo Can you submit a PR?

[2017-06-26 18:44] fippo commented on #1346
We might also have the same extensibility issue [further down](http://w3c.github.io/webrtc-pc/#rtciceserver-dictionary)

[2017-06-27 20:00] jan-ivar commented on #1218
And since the queue basically aborts on `pc.close()` that race seems moot.

[2017-06-28 09:06] jan-ivar commented on #1383
@stefhak It only creates one if one does not already exist, judging from existing wording, so it is self-limiting.

[2017-06-28 15:20] ekr commented on #1361
My question is: what existing software depends on the creation of the transceiver at this time as opposed to (say) at setLocal()

[2017-06-28 15:44] ekr commented on #1406
To recap my comments on the call:
I don't think it makes sense to treat ICE restarts as overwriting the *contents* of the existing ICE transport as opposed to creating a new ICE transport. During a restart, you actually conceptually have two ICE contexts (different ufrag/password, candidate pairs, etc.) so it  seems very misleading to have the old ICE transport somehow become the new one especiall

[2017-06-28 16:25] taylor-b commented on #1361
It's not that software depends on it, it's that _JSEP_ does. JSEP says "here's how you create an offer given a set of transceivers". So without actually adding a transceiver, how can we say "create an offer according to JSEP"? We'd need to say "create an offer according to JSEP, acting as if these extra transceivers exist if `offerToReceiveX` was true". And we'd need to specify how `setLocalDescri

[2017-06-28 16:34] aboba commented on #1323
This issue was discussed at the virtual interim on June 28. Consensus was that the specification utilizes a "best efforts" model, so while performance can degrade as reflected in stats, an onerror EventHandler is not needed in the RtpReceiver/Sender.

[2017-06-28 16:34] #1323 closed

[2017-06-28 16:36] aboba commented on #1215
This was discussed at the virtual interim on June 28.  rollback has been implemented in FF, and there is implementation interest from Chrome, so it should not be marked as a "feature at risk".

[2017-06-28 16:36] #1215 closed

[2017-06-28 16:37] aboba commented on #1259
This was discussed at the virtual interim on June 28.  Way forward is to develop a PR to return supported algorithm values.

[2017-06-28 16:38] aboba commented on #1365
This was discussed at the virtual interim on June 28.  Resolution was not to enhance the specification to support this.

[2017-06-28 16:38] #1365 closed

[2017-06-28 16:39] aboba commented on #1306
This issue was discussed at the virtual interim on June 28.  WG consensus was not to add APIs to the specification to enumerate ICE and DTLS transports.

[2017-06-28 16:39] #1306 closed

[2017-06-28 16:40] aboba commented on #1424
This issue was discussed at the virtual interim on June 28, and the decision made was to close it.

[2017-06-28 16:40] #1424 closed

[2017-06-28 17:10] fluffy commented on #1346
Wrote a PR for this at #1433

[2017-06-28 20:34] aboba commented on #1412
@dontcallmedom Any ideas?

[2017-06-28 20:43] aboba commented on #1406
For reference, in ORTC an ICE restart can be achieved either by constructing a new RTCIceTransport, or by calling start() again with new values of gatherer and remoteParameters, in which case "local candidates are flushed, remote candidates are flushed, candidate pairs are flushed and state transitions to new."  The RTCDtlsTransport constructor takes an RTCIceTransport as an argument, and there is

[2017-06-28 22:16] aboba commented on #1361
`createOffer` uses knowledge of how many transceivers there are in creating the offer.  Sources of that information include `addTransceiver` as well as `transceiver.stop`.  `offerToReceiveAudio`/`offerToReceiveVideo`  is another source. So the question here is how transceivers `createOffer` should assume if `RTCPeerConnection` has no unstopped "sendrecv" or "recvonly" audio/video transceivers.  Pr

[2017-06-29 06:53] taylor-b commented on #1306
We could still do this, in a "note" div, also explaining that transports will only be created as a result of applying a description.

[2017-06-29 07:59] adam-be opened #1435 "We shouldn't rely on the public API to access objects in the specification"
From RTCRtpTransceiver.stop

[code]

[2017-06-29 08:09] adam-be commented on #1417
The second point is a good observation. @soareschen, I'm creating a separate issue for that.

[2017-06-29 08:11] adam-be opened #1437 "Handle transceiver stopped between creation and description set"
As reported by @soareschen in #1417

"In section 4.4.1.6 Set the RTCSessionSessionDescription, the relevant steps for setting answer description should also check if the transceiver is stopped before setting the transceiver's currentDirection."

We probably want to check if the transceiver is stopped before doing anything here.

[2017-06-29 09:41] taylor-b commented on #1406
I think we should avoid getting seduced by the names of things, and saying "'ICE transport' sounds like 'ICE context', so there should be two of them." We can define "ICE transport" to mean whatever we want. It can be "a transport that the ICE agent provides for one component of a media session", or it can be "an ICE checklist and associated candidates for an individual ICE 'generation'". Which on

[2017-06-29 09:54] aboba commented on #1406
@taylor-b I believe that two objects would imply that a new DtlsTransport is constructed with newDtlsTransport.transport being the new IceTransport. Meanwhile, dtlsTransport.transport represents the existing IceTransport.  So until RtpSender/Receiver.transport points to newDtlsTransport, it's not clear to me how any information about the new Dtls/IceTransports can be accessed at all.

[2017-06-29 11:03] taylor-b commented on #1435
This could probably change to "Send an RTCP BYE for each outgoing RTP stream being used by the sender," or something like that. I think that's clear enough to implementers.

[2017-06-29 11:10] taylor-b commented on #1406
@aboba So even if you keep using the same DTLS association, you get a new `RTCDtlsTransport`? I guess it's an option, but it just shifts the problem up a level (instead of "when does `dtlsTransport.[ice]transport` change?" it's "when does `rtpSender.[dtls]transport` change?"), and it's also stranger conceptually.

[2017-06-29 13:57] adam-be commented on #1435
That sounds good to me. Can we reference JSEP perhaps?

[2017-06-29 14:14] #1346 closed

[2017-06-29 14:14] #1369 closed

[2017-06-29 14:20] #1238 closed

[2017-06-29 14:21] #1242 closed

[2017-06-29 14:24] #1374 closed

[2017-06-29 14:29] taylor-b commented on #1281
Ping @ekr. Do you have a suggestion for where else we can describe this behavior to make it less buried? Section 5.6 (`RTCIceTransport` interface)?

[2017-06-29 14:30] #1347 closed

[2017-06-29 14:35] taylor-b opened #1438 "Should refer to enums in a consistent way"
Should we refer to enums:

1. In a code block? `connected`
2. In quotes? "connected"
3. Both? `"connected"`

Since it's both code and a string, I'd prefer the latter.

[2017-06-29 14:51] taylor-b commented on #1218
Can we close this issue then (and the corresponding PR)?

[2017-06-29 14:58] #1308 closed

[2017-06-29 14:59] #1403 closed

[2017-06-29 15:00] #1307 closed

[2017-06-29 15:24] taylor-b commented on #1423
Decision at virtual interim was to map priority integers to enum values, doing something like:

- 0-128 = `"very-low"`
- 129-256 = `"low"`
- 257 - 512 = `"medium"`
- >512 = `"high"`

[2017-06-29 15:29] taylor-b opened #1439 "RTCPriorityType should reference rtcweb-data-channel"
As described by rtcweb-qos, a single enum value is used both for the SCTP level priority and for the DSCP markings used for the whole SCTP transport. So the enum descriptions should reference both the relevant IETF standards, and also clarify that "very-low" maps to "below normal", etc.

[2017-06-29 15:38] #1396 closed

[2017-06-29 16:29] #1417 closed

[2017-06-29 16:36] #1360 closed

[2017-06-29 17:34] youennf commented on #1323
I won't object since getStats is a kind of workaround here.

That said, I don't think we should rely too much on the web engine "best effort" model here.
Web apps can usually take actions that have bigger impacts on performance and usability than what a web engine can do. Changing the resolution of a video track at the source is better than dropping the resolution or dropping frames later in the c

[2017-06-30 04:47] fippo commented on #1192
Done. I also wondered if the sentence about the pending* being null should be in the paragraph about the return value

[2017-06-30 08:43] dontcallmedom commented on #1412
yes, `ResourceInUse` does not exist; I would suggest `OperationError` instead

[2017-06-30 08:45] foolip commented on #1181
@foolip can we find out how many sites are using `pc.removeStream` and/or are listening to the `ended` event either with `track.onended` or `addEventListener`?

These numbers are percentage of page views in Chrome, not a proportion of sites, but `pc.removeStream` is https://www.chromestatus.com/metrics/feature/timeline/popularity/1646

There's no use counter for the "ended" event, though. Would it

[2017-06-30 10:33] taylor-b opened #1444 "Examples with dictionaries shouldn't use quotes around member names"
For example, it should be:

`var configuration = { iceServers: [{ urls: "stuns:stun.example.org" }] };`

Instead of:

`var configuration = { "iceServers": [{ "urls": "stuns:stun.example.org" }] };`

[2017-06-30 12:02] taylor-b opened #1445 "Standard should provide some guidance for when an application should perform an ICE restart"
Currently, it seems common for applications to have a policy of trying an ICE restart when the ICE connection state changes to `disconnected`. If this is a pattern we want to encourage, I think it would be beneficial to describe this somewhere, since it would both help application developers to do the "right thing", and encourage WebRTC implementers to implement the `disconnected` state in such a

[2017-06-30 22:49] lgrahl opened #1446 "RTCSctpTransport.maxMessageSize 0 case"
This spec's `RTCSctpTransport.maxMessageSize` description says:

In [the related SDP spec](https://tools.ietf.org/html/draft-ietf-mmusic-sctp-sdp-26#page-8), it's specified that

size value of zero, it indicates the SCTP endpoint will handle
messages of any size, subject to memory capacity etc.

So, there is a `maxMessageSize = 0` case we need to handle in some way.

While messages of arbitrary si

[2017-07-03 16:28] fippo commented on #1125
@jan-ivar @youennf  actually addStream is not quite as simple (at least when used together with addTrack), see @henbos' comment [here](https://github.com/webrtc/adapter/pull/610#discussion_r125317404)
[code]
must not throw an error while changing pc.getSenders().

[2017-07-03 16:46] jan-ivar commented on #1125
@fippo @henbos FWIW I don't think it's worth making `addStream` add all or nothing in this edge case.

Since `addStream` is not in the spec, I gather browsers are free to handle legacy as they see fit. But I prefer the narrowest definition of "legacy code" here, which is code already written. I doubt much (if any) of it suffers from this problem.

Firefox has polyfilled `addStream` for [almost 3 y

[2017-07-03 17:05] henbos commented on #1125
SGTM

[2017-07-04 04:53] soareschen commented on #1218
Thanks @jan-ivar for the explanation. This issue was initially created to seek clarification, and I am glad to learn that the steps are crafted for very specific reasons mentioned.

Closing this issue now and I will write tests that match the legacy behavior examples that we discussed.

[2017-07-04 04:53] #1218 closed

[2017-07-04 06:45] misi commented on #1274
I hope EKR find the answer in these thoughts:

We do not propose to create more message integrity HMAC in the same time with the same IKM,
just give the possibility for STUN backward compatibility, and simplify according W3C wg decision and
RFC 7635 guidance. So AFAIU only one hash created one time only, but may we need to add some clarification about this.

**AFAIU**
* _To use key shortening is p

[2017-07-04 07:39] misi commented on #1156
Any thoughts?

[2017-07-04 09:47] soareschen commented on #1422
Thanks @stefhak for pointing out. My head wasn't thinking straight when filing this issue. (Was scanning for the word "ICE" when I should have just searched for "candidate")

[2017-07-04 09:47] #1422 closed

[2017-07-04 12:07] foolip commented on #1125
That sounds great, @jan-ivar! Does anyone volunteer to turn that into spec lingo?

[2017-07-05 08:38] fippo commented on #1128
so another issue which came up [here](https://bugs.chromium.org/p/webrtc/issues/detail?id=7933):
addTrack allows adding a track without a stream

How is this signaled in the SDP? https://tools.ietf.org/html/draft-ietf-mmusic-msid-16#section-2 doesn't allow an empty msid-id

[2017-07-05 09:22] henbos commented on #1161
Is there an update on this?
Now that `ended` doesn't fire anymore, is there no event one can listen to as a result of the other side doing removeTrack?

The only event we have is `track` event being fired for added tracks [according to remote track processing](https://rawgit.com/w3c/webrtc-pc/master/webrtc.html#process-remote-track)?

This only happens if the event has not fired for the track befo

[2017-07-05 09:57] soareschen opened #1447 "setConfiguration throwing InvalidModificationError with default values"
In set configuration, the fields `bundlePolicy`, `rtcpMuxPolicy`, and `iceCandidatePoolSize` are checked against the original values and if they are not the same, `InvalidModificationError` is thrown. e.g.:

But there is a problem with the wording _"if ___ is set"_. Because these fields all have default values as defined in `RTCConfiguration`, this means they are always set. So the following examp

[2017-07-05 12:29] jan-ivar commented on #1161
@henbos I believe we decided on https://github.com/w3c/webrtc-pc/pull/1402 which is waiting to be merged, so we won't need this. It lets users use`stream.onremovetrack` like they can today in Chrome. They can also listen to `track.onmuted`.

https://github.com/w3c/webrtc-pc/pull/1402 fixes this to fire `track` again on unmute.

[2017-07-05 12:49] fippo opened #1448 "how is addTrack without a stream signalled in the sdp?"
from [here](https://github.com/w3c/webrtc-pc/issues/1128#issuecomment-313039639) in the infamous #1128 issue:
addTrack allows adding a track without a stream

How is this signaled in the SDP? https://tools.ietf.org/html/draft-ietf-mmusic-msid-16#section-2 doesn't allow an empty msid-id

The pragmatic solution is probably to generate a random stream id. This also means that ontrack always has event

[2017-07-05 12:49] fippo commented on #1448
cc @henbos @jan-ivar

[2017-07-05 13:21] jan-ivar commented on #1448
I'll reiterate the idea I mentioned in [here](https://bugs.chromium.org/p/webrtc/issues/detail?id=7933):

If we used the same random id for both the stream and the track in this case, then the remote browser could omit creating a stream in this case.

Unless we care about this edge-case in non-browser end-points, we might not even need to involve ietf. Unless there's something in ietf that says st

[2017-07-05 16:17] jan-ivar commented on #1125
Note I was merely offering advice on implementation. With one browser looking at not implementing `addStream`, might a note on how to polyfill it suffice?

[2017-07-05 19:31] jan-ivar commented on #1158
@aboba Sorry for the late followup. I'll try to cover @soareschen's [questions](https://github.com/w3c/webrtc-pc/issues/1416#issue-237766720) here as well:

There can't be a WebIDL definition of RTCError interface, as defined, because WebIDL offers no way to extend errors, leaving us to define everything in prose. While I don't know of anyone saying so on record, this seems by design to discourage

[2017-07-05 20:01] jan-ivar commented on #1237
@aboba The [[[associated MediaStreams](http://w3c.github.io/webrtc-pc/#dfn-associated-mediastreams)]] is used to create the MSIDs in the SDP.

See the [final steps to create an offer](http://w3c.github.io/webrtc-pc/#dfn-steps-to-create-an-offer):
 * *"3. Given the information that was obtained from previous inspection and the current state of connection and its RTCRtpTransceiver s, generate an SDP

[2017-07-05 20:05] jan-ivar commented on #1237
Nevermind that there's no way to associate a MediaStream with a transceiver using addTransceiver.

[2017-07-05 20:54] taylor-b commented on #1128
@fippo

Section 3 does though (this was a relatively recent change; I know we don't implement it yet):

[2017-07-05 20:57] taylor-b commented on #1447
Do we just need to change the wording to be more clear, or do you think the error being thrown is a problem? If an application does this, then things should work fine:

[code]

Which seems like more maintainable code anyway.

[2017-07-05 21:01] jan-ivar opened #1452 "No way to associate streams using addTransceiver()"
As I mention in https://github.com/w3c/webrtc-pc/issues/1237#issuecomment-313210542, JSEP says:
 * *"For each MediaStream that was associated with the transceiver when it was created via addTrack or addTransceiver, an "a=msid" line, as specified in [I-D.ietf-mmusic-msid]"*

But there's no way to associate a MediaStream with a transceiver using `addTransceiver`. Omission or bug in JSEP?

E.g. the [

[2017-07-05 21:05] taylor-b commented on #1448
"-" is used in the "a=msid" to represent "no stream". So I don't think this is an issue.

[2017-07-05 21:05] #1448 closed

[2017-07-05 21:25] aboba commented on #1447
While I would suggest removing the "is set" statements for attributes with defaults, the errors are being thrown correctly (a dictionary entry is being changed and that is forbidden).

[2017-07-05 21:38] taylor-b commented on #1452
JSEP says:

And in WebRTC 1.0, `RTCRtpTransceiverInit` contains a sequence of streams. So I don't see what's missing.

[2017-07-05 23:46] taylor-b commented on #1156
I just submitted errata reports (for section 6.2 and Appendix B), and created a PR to remove the incorrect note (https://github.com/w3c/webrtc-pc/pull/1453).

[2017-07-06 03:50] soareschen opened #1454 "Using setConfiguration() to add application certificates to an RTCPeerConnection post-construction?"
This issue is similar to #1447. The last step of setConfiguration saves the provided configuration object to the `[[Configuration]]` internal slot, overriding the previous values. #1447 covers the fields with default values, so they cannot be unset. But fields like `iceServers`, `peerIdentity` and `certificates` can seemingly be "unset" from the user-visible configuration. For example:

[code]

No

[2017-07-06 03:54] soareschen commented on #1454
A way to fix this is to update the individual fields in the `[[Configuration]]` internal slot, if the field is set in the provided configuration and update is allowed. This way the other fields cannot get "unset" from the result of `getConfiguration()`.

[2017-07-06 04:08] aboba commented on #1454
getConfiguration() says "When this method is called, the user agent must return the RTCConfiguration object stored in the [[ configuration]] internal slot."  So why would iceServers, certficates and peerIdentity be undefined?

[2017-07-06 05:08] soareschen commented on #1454
The last step of `setConfiguration()` says:

Which means the object `[[configuration]]` gets replaced with the new configuration object passed to `setConfiguration()`.

[2017-07-06 07:25] soareschen commented on #1447
In general I find the behavior of default values in `setConfiguration` to be unintuitive and may bring surprise to unfamiliar users. Other than the issues mentioned above and #1454, the default value for `iceTransportPolicy` can also cause unexpected bug:

[code]

The coding convention @taylor-b mentioned above can workaround the issue. But that means users would need to follow the convention to a

[2017-07-06 09:48] soareschen opened #1456 "setConfiguration({ peerIdentity }) when there is no initial peerIdentity"
`setConfiguration` says:

`setRemoteDescription` says

If a peer connection is initially constructed without a `peerIdentity`, there is no target peer identity established, so it is not set. So when `setConfiguration()` is called with a new `peerIdentity`, is there error thrown?

[2017-07-06 13:52] aboba commented on #1454
In the example, `setConfiguration()` will throw an exception since it is attempting to change parameters (such as certificates) that cannot be modified post-construction.  So `getConfiguration()` will return the original configuration.

[2017-07-06 13:54] aboba commented on #1456
I would assume not, because `peerIdentity` was not set when `setConfiguration()` was called.

[2017-07-06 14:06] #1156 closed

[2017-07-06 14:18] #1394 closed

[2017-07-06 14:28] #1200 closed

[2017-07-06 14:32] taylor-b commented on #1456
So basically, we want to say "If `configuration.peerIdentity` is set, and `[[Configuration]].peerIdentity` is not set..."?

[2017-07-06 14:38] taylor-b commented on #1454
Unsetting the certs will fail with `InvalidModificationError. But if I did:

[code]

The ICE servers *would* get unset. And I don't see a problem with this; maybe it's a little confusing but it's how the API was designed, and is consistent with how `getParameters`/`setParameters` work. You have to pass in the full dictionary every time, not just the things you want to change.

[2017-07-06 14:42] taylor-b commented on #1447
Assuming people don't want to change the behavior, that seems like the best resolution.

[2017-07-06 14:54] taylor-b commented on #1446
My assumption was that the `maxMessageSize` attribute would return the intersection of the remote endpoint's capabilities and the browser's supported max message size. So if the remote endpoint says "max-message-size=0", but the implementation does have a limit, the attribute would return that limit.

So maybe we just need to make that more clear? And future-proof ourselves by handling the max siz

[2017-07-06 15:05] #1286 closed

[2017-07-06 17:26] lgrahl commented on #1446
So, the browser should not blindly announce the maximum message size of the remote peer when it is not capable of sending such a large message? I completely agree. In code, I'd say:

[code]
Would you agree with that?

[2017-07-06 18:38] aboba commented on #1382
Closing since #1306 is now resolved.

[2017-07-06 18:38] #1382 closed

[2017-07-06 18:48] aboba commented on #1232
The requirement is on the browser, so that the `icecandidate` event is guaranteed to always have both `sdpMid` and `sdpMLineIndex` non-null.

[2017-07-06 18:48] #1232 closed

[2017-07-06 19:44] taylor-b commented on #1390
This is an issue in JSEP as well. Filed: https://github.com/rtcweb-wg/jsep/issues/757

[2017-07-06 21:27] taylor-b commented on #1446
Agreed.

[2017-07-07 02:54] jan-ivar commented on #1452
@taylor-b You're right. Don't know how I missed that.

[2017-07-07 02:54] #1452 closed

[2017-07-07 03:27] soareschen commented on #1454
If that is the intended behavior then that's fine. However note that the certificates in configuration _can_ be "unset" because `InvalidModificationError` is thrown only if `configuration.certificates` is set, and `certificates` is not a required field and have no default value in `RTCConfiguration`.

[2017-07-07 03:50] aboba commented on #1454
@taylor-b If an `RTCPeerConnection`  is constructed with no certificates supplied by the application, can `setConfiguration()` be used to add application certificates later?  The current language seems to allow this.

[2017-07-07 04:22] jan-ivar opened #1461 "We forgot about {offerToReceiveAudio: false, offerToReceiveVideo: false}"
The legacy [offerToReceive](http://w3c.github.io/webrtc-pc/#dom-rtcofferoptions-offertoreceiveaudio) section only covers how we used to set `"recvonly"`:
[code]
but not how we used to set `"sendonly"`:
[code]

Try it with this [fiddle](https://jsfiddle.net/jib1/1h8mr8fw/). Was this omitted on purpose?

Having it implicitly call `setDirection("sendonly")` might suffice.

[2017-07-07 04:41] jan-ivar commented on #1182
The remaining issue here should be covered by https://github.com/w3c/webrtc-pc/pull/1402.

[2017-07-07 04:57] soareschen commented on #1164
#1333 adds the `[[LastOffer]]` and `[[LastAnswer]]` slots, but the usage is not updated in `setLocalDescription` steps.

[2017-07-07 05:03] soareschen opened #1463 "setLocalDescription() with empty string sdp is allowed to pass without calling createOffer/createAnswer"
#1333 adds the `[[LastOffer]]` and `[[LastAnswer]]` slots, which is initialized to `''`. In the new steps for set session description, `InvalidModificationError` is thrown based on string equality comparison with `[[LastOffer]]` and `[[LastAnswer]]`. This means user can pass empty string sdp without calling `createOffer`/`createAnswer`.

[2017-07-07 05:15] aboba commented on #1463
I don't think it will be "allowed to pass". Instead of being rejected with an `InvalidModificationError`,  step 5 indicates it would be rejected with `RTCError`:

"5. If the content of description is not valid SDP syntax, then reject p with an RTCError (with errorDetail set to "sdp-syntax-error" and the sdpLineNumber attribute set to the line number in the SDP where the syntax error was detected)

[2017-07-07 05:31] soareschen commented on #1463
Hmm that is correct, though a bit unexpected. Does this means setLocalDescription with null sdp without first calling createOffer/createAnswer also rejects with `RTCError`?

[2017-07-07 07:13] soareschen opened #1465 "setLocalDescription() with null sdp is not applicable"
The IDL definition for `setLocalDescription()` accepts an `RTCSessionDescriptionInit`, not `RTCSessionDescription`. The `sdp` field in `RTCSessionDescriptionInit` is optional but not nullable, and have a default value `''`. So the step in `setLocalDescription()` for using the last offer/answer if `description.sdp` is `null` is not applicable.

[2017-07-07 13:42] foolip commented on #1125
If more than one implementation wants to keep supporting `addStream` for the foreseeable future, then having it written down in a spec means that it'll possible to write tests for in web-platform-tests, ensuring a baseline of interoperability.

Are there reasons to *not* want to spec this like any other feature, other than the work involved with writing the spec change? (Going on vacation, bye!)

[2017-07-07 15:42] aboba commented on #1456
@jan-ivar If `peerIdentity` is not set on construction, can it be added later?

[2017-07-07 15:44] rwaldron opened #1467 "RTCTrackEvent's type parameter"
I'm trying to understand what the role of the RTCTrackEvent's `type` parameter is, as it's defined:

Parameter | Type | Nullable | Optional | Description
-- | -- | -- | -- | --
type | DOMString | ✘ | ✘ |  
eventInitDict | RTCTrackEventInit | ✘ | ✘

Questions:

1. What are the valid values for this parameter? As far as I can tell, there are none.
    - Run the following in Safari Technology Preview

[2017-07-07 15:47] taylor-b commented on #1454
No, it appears to be the opposite. That's what @soareschen is pointing out. The quote is saying "if the certificates in the argument are _set_, and they differ from the existing certificates, throw an exception." That implies nothing happens if the argument isn't set.

I didn't realize this. This "if set" stipulation exists for other attributes, but of course for many it's moot since they have def

[2017-07-07 16:01] jan-ivar commented on #1456
That's my best reading of: The (presence of the) [peerIdentity](http://w3c.github.io/webrtc-pc/#dom-rtcconfiguration-peeridentity) dictionary member *"Sets the target peer identity for the RTCPeerConnection."*- and *"The target peer identity cannot be changed once set."*

Check with @martinthomson though if this was the intent, in case there's some security reason to not allow this.

[2017-07-07 16:45] nils-ohlmeier commented on #1125
The reason I would not want `addStream` in the spec is, because as a browser developer I want to maintain as little code as possible. As soon as something is in the spec people will expect it to work and be usable. My understanding is that we want to developers to switch to the new implementations as soon as possible so we can delete that old legacy code. Documenting and testing old deprecated cod

[2017-07-07 19:05] jan-ivar commented on #1125
The reason to not spec it is we don't want web developers writing *new* code using `addStream`.

`addStream` is death to having the right mental model of a peer connection. It's API 101: It hurts comprehension to have [3 competing mental models](https://blog.mozilla.org/webrtc/the-evolution-of-webrtc/) for the same thing when only one is right. Yet `addStream`/`removeStream` is the API of *least r

[2017-07-08 00:28] jan-ivar commented on #1454
@taylor-b Given how the configuration is finally set, I'm unsure. Might it be more that we were tripping over overloading absence with meaning to avoid nullable members?

That would be in keeping with how `setParameters` and `applyConstraints` work, which I'm for.

We might also give `iceServers` and `certificates` a default value of `[]`.

[2017-07-08 07:45] fippo commented on #1125
@foolip the interactions between the legacy streams API and the track-based (not to mention transceivers) result in a lot of weird behaviour where we don't even agree what the right thing is. I have to spend a lot of time discussing with @henbos + @jan-ivar [here](https://github.com/webrtc/adapter/pull/559) and [here](https://github.com/webrtc/adapter/pull/610)

[2017-07-08 18:04] fippo commented on #1467
running this in Firefox (from the wpt SRD test)
[code]
suggests 'track', i.e. the event name.

[2017-07-10 00:10] martinthomson commented on #1456
To @aboba's question, yes, you could set it later, but only if it agrees with the current target peer identity.

So the challenge with `setConfiguration()` is that it can be called after the session is established.  If the current peer is unidentified, then we have a problem because the session now disagrees with the configuration.

It seems like the right solution here is to define an internal sl

[2017-07-10 07:28] soareschen opened #1469 "Rollback with non-empty SDP string"
The description for `sdp` in `RTCSessionDescriptionInit` says:

In JSEP section 4.1.8.2. says:

So if set*Description is called with non-empty `sdp` string, with either valid or invalid SDP content, what is the expected behavior? Should there be error thrown or is the `sdp` field simply ignored?

[2017-07-10 07:33] soareschen opened #1470 "Performing rollback via the other set*Description"
JSEP 4.1.8.2. says:

The current spec doesn't seem to impose such restriction. So say if one calls `setLocalDescription(offer)` then `setRemoteDescription(rollback)`, should there be error thrown?

[2017-07-10 07:39] soareschen opened #1471 "Clarify that rollback in stable state should throw InvalidStateError"
Step 2.1.2. of set session description says:

But the state validation for rollback is mentioned in JSEP section 4.1.8.2.:

So step 2.1.2. should add one more reference to JSEP 4.1.8.2. to make it clear that `InvalidStateError` is thrown if rollback is called in stable state.

[2017-07-10 15:38] jan-ivar opened #1472 "Transceiver kind definition is circular."
@fippo asked: "so i can determine the kind of an RTCRtpSender by looking at `sender.track.kind`, right? - now... what if I called `sender.replaceTrack(null)`?"

Interestingly, the [replaceTrack algorithm](http://w3c.github.io/webrtc-pc/#dom-rtcrtpsender-replacetrack) says: *"If `withTrack` is non-null and `withTrack.kind` differs from the [transceiver kind](http://w3c.github.io/webrtc-pc/#dfn-tran

[2017-07-10 17:00] lgrahl commented on #1413
My personal understanding was that the `id` parameter is invalid for in-band negotiated data channels. So, I'd vote for @taylor-b option 1 with a proposal:

If the `id` is coupled with `negotiated`, then why not just remove the `negotiated` field and just leave in `id` which also triggers out-of-band negotiation? Backwards compatibility would be ensured by just ignoring the `negotiated` field.

[2017-07-10 17:48] taylor-b commented on #1472
It's not a circular definition, because (as currently specced) an `RTCRtpTransceiver` has a 1:1 mapping with an `RTCRtpReceiver`, which has a 1:1 mapping with a `MediaStreamTrack`. `sender.replaceTrack(null)` will not make the receiver's track `null`. `transceiver.receiver.track.kind` will still be `"video"`.

Though, with some things being proposed recently (such as https://github.com/w3c/webrtc-

[2017-07-10 17:58] taylor-b commented on #1413
The [resolution from the June 28 interim](https://www.w3.org/2017/06/28-webrtc-minutes#item08) was to ignore the `id` parameter when `negotiated` is `false`. I like your suggestion too, but it could have a higher risk of breaking existing apps.

[2017-07-10 18:06] jan-ivar commented on #1472
Thanks @taylor-b I read it wrong. Closing. As for https://github.com/w3c/webrtc-pc/issues/1181 I'm hopeful we'll get https://github.com/w3c/webrtc-pc/pull/1402 merged which may suffice.

[2017-07-10 18:06] #1472 closed

[2017-07-10 18:06] fippo commented on #1472
my original use-case is that I'd like to search a sender of the same kind by iterating getSenders() to call replaceTrack on it. It might be easiest to expose `kind` on the sender as well.

[2017-07-11 03:37] soareschen opened #1473 "Direction of newly created transceiver in setRemoteDescription"
In the tip of tree draft, Step 2.2.8. says:

But section 5.9. of JSEP says:

Not sure if that is a mistake in JSEP, or I have missed something else.

[2017-07-12 00:26] taylor-b commented on #1473
JSEP is correct. If I get a "sendrecv" offer, but I don't intend to send anything, I should respond with "recvonly".

[2017-07-12 03:06] soareschen commented on #1473
Hmm my interpretation for JSEP is that if there is no suitable transceiver exist, the newly created transceiver has `recvonly` direction regardless of direction specified in the m= section.

For example in a fresh state, `setRemoteDescription(offer)` with one m= section with direction `recvonly` (meaning `sendonly` for the local peer right?), it still result in creating a transceiver with directio

[2017-07-12 03:41] markandrus commented on #1128
I agree with @fippo's [comment](https://github.com/w3c/webrtc-pc/issues/1128#issuecomment-294522434) from early in this thread:

I just hit this behavior while evaluating Safari 11 Tech Preview. Safari does not currently implement `offerToReceiveAudio`, and this spec says `offerToReceiveAudio` should behave ["as if addTransceiver('audio') had been called once prior to the createOffer() call"](http

[2017-07-12 08:55] soareschen opened #1474 "Some Mandatory To Implement Stats fields are out of sync with webrtc-stats"
In section 8.6, there are a number of fields that are either renamed or removed from the latest webrtc-stats. For example in `RTCRTPStreamStats` the fields `associateStatsId`,  `isRemote`, `mediaTrackId` are not found.

There are also some fields that are indicated as necessarily optional in webrtc-stats, but required in section 8.6. For example the `issuerCertificateId` in `RTCCertificateStats` i

[2017-07-12 15:51] rshpount opened #1475 "Data Channel ID assignment after SCTP renegotiation"
As far as I understand, underlying SCTP association can be renegotiated for the same datachannel. What happens with channel ID auto-assignment if SCTP association gets renegotiated? Do they even/off assignment rules flip or do they stay with the original assignment?

[2017-07-12 16:30] taylor-b commented on #1473
That's correct. So if a JSEP endpoint gets a "recvonly" offer, it will send an "inactive" answer. But `transceiver.direction` (the "desired" direction) will still be `recvonly`, so if a re-offer changes the m= section to "sendrecv" or "sendonly", the re-answer will be "recvonly".

So this is all intentional, and carries over the behavior from before things got rewritten in terms of transceivers. A

[2017-07-12 16:37] taylor-b commented on #1128
In other words: by default, `addTransceiver` will immediately create a receiver and a track (for early media). But with this extra flag, it would only create the receiver's track after a remote description is set? Hmm. Seems feasible at least.

[2017-07-12 16:57] markandrus commented on #1128
@taylor-b yes, that's what I was thinking. I'm still working through the implications (need to look through the other examples shared here), but basically some way to retain deterministic MediaStreamTrack IDs would be useful. My application signals additional information about each MediaStreamTrack out-of-band by keying off ID. This has gotten us far (especially since we stay away from things like

[2017-07-12 17:08] jan-ivar commented on #1128
@markandrus Why do you stay away from `replaceTrack`? What you propose doesn't work with it.

If the goal is to solve legacy (code already written) then no need to change the public API. When the spec says "as if", browsers don't actually have to call `addTransceiver` like JS does, just the internal equivalent.

I hesitate making legacy APIs desirable, as we've seen this hurt spec convergence in t

[2017-07-12 17:46] markandrus commented on #1128
@jan-ivar in my application, we want to be able to associate MediaStreamTrack additions on one end of a PeerConnection to "track" events on the other. Stamping an MSID attribute in the SDP for each track added and then getting MediaStreamTracks on the other end with IDs corresponding to the MSID attribute was good enough for us to tie these two together. `replaceTrack`, as I understand it, won't n

[2017-07-12 18:16] jan-ivar commented on #1128
@markandrus You'll be able to correlate by `event.transceiver.mid` instead as [mentioned](https://github.com/w3c/webrtc-pc/issues/1128#issuecomment-298394432). See [blog](https://blog.mozilla.org/webrtc/the-evolution-of-webrtc/).

It uses [`a=mid`](https://tools.ietf.org/html/rfc5888#section-4).

[2017-07-12 19:07] markandrus commented on #1128
@jan-ivar Thanks for the article and blog. If I had to update our application to handle this behavior today, I think I'd actually opt for the MediaStream ID approach you shared. It is nice because the MediaStream ID can be known in advance. So my application can say, "Hey, expect to receive MediaStream X" in advance of sending any offer, sending any answer, or even custructing an RTCPeerConnection

[2017-07-12 19:31] taylor-b commented on #1475
Not as I understood it. Some excerpts from rtcweb-data-channel:

WebRTC 1.0 is consistent with this, though it uses the phrase "underlying data transport" in place of "SCTP association".

[2017-07-12 19:44] rshpount commented on #1475
This makes sense. Sorry for misunderstanding.

[2017-07-12 20:10] jan-ivar commented on #1128
@markandrus That works, I guess, assuming you never have more than one video and one audio track per stream, though you'd still run the risk of (rare, theoretical) stream `id` collisions.

But note that `transceiver.mid` is set by both [`setLocalDescription` and `setRemoteDescription`](http://w3c.github.io/webrtc-pc/#set-description).

The [recommended](http://w3c.github.io/webrtc-pc/#simple-peer-

[2017-07-12 20:31] taylor-b commented on #1475
No problem; closing issue in that case.

[2017-07-12 20:31] #1475 closed

[2017-07-12 22:10] markandrus commented on #1128
@jan-ivar thanks for taking the time to address my comments. I think I can see some ways forward with this behavior.

I have one more question/suggestion. Assume I wanted to signal a "menu of tracks" in my application. The idea is that this menu represents metadata about each of the MediaStreamTracks that might be shared once I negotiate, and the menu is always shared before negotiation:

[code]

[2017-07-12 22:45] aboba commented on #1281
As noted in the comments on PR https://github.com/w3c/webrtc-pc/pull/1458, discussion of the 701 error code fits well in the ErrorCode definition, and moving it might actually increase the likelihood it is overlooked.

[2017-07-12 22:45] #1281 closed

[2017-07-12 23:06] aboba commented on #1474
@soareschen The WebRTC-stats document is clear that WebRTC-PC Section 8.6 is definitive:

"Specifications that refer to this specification have the need to specify conformance. They should put in their document text like this:"

[2017-07-13 03:09] soareschen commented on #1474
Does this means issues have to be filed on webrtc-stats to define the missing fields? If the fields are not defined in webrtc-stats, they cannot be made mandatory in webrtc-pc alone.

[2017-07-13 03:17] jan-ivar commented on #1128
@markandrus The track ids in the SDP won't match those in the menu. Switch out the ids for mids:

[code]

[2017-07-13 04:34] soareschen commented on #1473
Got it. So the spec need to be updated to reflect that. Thanks for explaining!

[2017-07-13 07:27] soareschen opened #1476 "Fields in RTCStats dictionary should be required"
The current definition for `RTCStats` dictionary seems to allow `timestamp` and `id` to be optional. For the `type` field it is only in the description that require it to be initialized. Should all 3 fields be declared as required in the WebIDL definition?

[2017-07-13 14:07] #1419 closed

[2017-07-13 14:10] #1198 closed

[2017-07-13 14:21] #1243 closed

[2017-07-13 14:27] aboba commented on #1474
@jan-ivar @vr00m Can you take a look at this?

[2017-07-13 14:33] aboba commented on #1471
JSEP section 5.5 already refers to section 4.1.8.2, so we don't need a reference in WebRTC-PC as well.

[2017-07-13 14:33] #1471 closed

[2017-07-13 14:42] aboba commented on #1470
Looks like steps should be added to 4.4.1.6 Set the RTCSessionSessionDescription to check for invalid rollback. Also, it may make sense to file an issue against JSEP.

[2017-07-13 14:46] aboba commented on #1469
The JSEP language is non-normative and Section 4.4.1.6 indicates that the  `sdp` field is ignored.

[2017-07-13 14:46] #1469 closed

[2017-07-13 14:52] aboba commented on #1465
Looks like [Section 4.4.2](https://rawgit.com/w3c/webrtc-pc/master/webrtc.html#dom-rtcpeerconnection-setlocaldescription) steps 4 and 5 should test for `''` instead of `null`.

[2017-07-13 14:56] aboba commented on #1463
Since this isn't an invalid SDP modification, rejection with `RTCError` is the expected behavior.

[2017-07-13 14:56] #1463 closed

[2017-07-13 15:09] taylor-b commented on #1476
I can't find any other normative requirement that forces them to be present, so marking them as `required` seems sensible.

[2017-07-13 18:32] markandrus commented on #1128
Thanks, @jan-ivar.

AFAICT, this is true if

* The remote end calls [`addTransceiver(kind)`](http://w3c.github.io/webrtc-pc/#dom-rtcpeerconnection-addtransceiver), in which case its `direction` defaults to "sendrecv", its `sender.track` is `null`, and therefore JSEP says it should generate `a=msid:- random`. (If I'm reading [5.2.1](https://tools.ietf.org/html/draft-ietf-rtcweb-jsep-21#section-5.2.

[2017-07-13 18:47] taylor-b opened #1477 "Minor inconsistencies around RTCSessionDescription vs. RTCSessionDescriptionInit"
I noticed some minor issues related to the use of `RTCSessionDescription` (the interface) and `RTCSessionDescriptionInit` (the dictionary):

- There's a section called "Set the RTCSessionSessionDescription". That's one too many "Session"s.
- This section talks about setting an `RTCSessionDescription`, but it's actually an `RTCSessionDescriptionInit` that goes into `setLocalDescription` and `setRem

[2017-07-14 00:34] jan-ivar commented on #1128
@markandrus I see what you're saying. You're willing to forgo those two features. In a sense `receiver.remoteTrackId` is a step down from "why don't we just update `track.id`?" - without the issues that would entail.

[2017-07-14 01:26] jan-ivar commented on #1461
Closing as not needed. See discussion in PR.

[2017-07-14 01:26] #1461 closed

[2017-07-14 02:06] aboba commented on #1476
Typically `required` is used for dictionaries used as inputs, not outputs.

[2017-07-14 03:25] soareschen commented on #1474
I have compiled here a list of mandatory fields mentioned in webrtc-pc but not found in webrtc-stats:

- RTCCodecStats - `codec` (should be `codecType`?), `parameters`
- RTCOutboundRTPStreamStats - `roundTripTime`
- RTCMediaStreamTrackStats - `ssrcIds`
- RTCDataChannelStats - `dataChannelId` (should be `datachannelid`?)
- RTCTransportStats - `activeConnection`
- RTCIceCandidatePairStats - `writabl

[2017-07-14 03:38] soareschen commented on #1476
Not sure how WebIDL intends dictionaries to be used as return values, but in this spec the `RTCSessionDescriptionInit` dictionary returned from createOffer/createAnswer also has a required field `type`.

[2017-07-14 09:55] soareschen opened #1478 "scaleResolutionDownBy parameter is not validated in addTransceiver"
Step 8 in `setParameters` should be enforced in `addTransceiver` as well.

[2017-07-14 16:44] jan-ivar commented on #1474
TL;DR: Have the conformance criteria thus far been basically "blanket implement all members"? If so, a blanket update of webrtc-pc to match webrtc-stats should suffice.

Renaming is simple, but how to handle new fields? We probably should require them, unless there were fields explicitly left out last time the conformance criteria were updated. Anyone know?

Thanks @soareschen for the list! Stats

[2017-07-14 16:51] jan-ivar commented on #1474
I'm happy to submit a PR for the ones that can be pinned on me at least.

[2017-07-14 22:06] taylor-b commented on #1476
It can be used to construct an `RTCSessionDescription` (which is possible for backwards compatibility) so that's possibly why.

Anyway, the point I was trying to make above is that if we don't have any normative requirement that says "`timestamp` MUST be present in returned `RTCStats` objects", then making it `required` is a way to implicitly add that requirement, and make it easy to find. Though

[2017-07-14 22:11] aboba commented on #1476
@jan-ivar Do you have an opinion?

[2017-07-14 22:11] aboba commented on #1474
@jan-ivar A PR would be welcome, thanks!

[2017-07-14 22:59] #1444 closed

[2017-07-15 00:13] jan-ivar commented on #1474
@aboba I added https://github.com/w3c/webrtc-pc/issues/1480 already for rtp. PTAL 😏

I'll look at the rest on Monday if @vr00m doesn't beat me to it.

[2017-07-15 14:07] jan-ivar commented on #1476
I do, but I've asked for clarification first in https://github.com/heycam/webidl/issues/382.

[2017-07-15 18:27] aboba opened #1484 "toJSON Dfn needed"
The current "[tip of tree](https://rawgit.com/w3c/webrtc-pc/master/webrtc.html)" draft shows the following warning:

"No dfn for toJSON in RTCSessionDescription. Please define it and link to spec that declares it. See https://github.com/w3c/respec/wiki/data--cite"

[2017-07-15 19:00] aboba commented on #1366
@fippo I have fixed a few instances of the problem (dictionaries and enums).

[2017-07-17 04:15] soareschen opened #1488 "Deterministic behavior for transactionId validation"
Currently the steps are as follows:

The specified rules have not been very consistent:

- `getParameters()` does not store `transactionId` to any internal slot.
- ~`setParameters()` says `transactionId` validation is applied the way same as `parameters.encodings`, but the field is outside of `parameters.encodings`.~ (Update: Misread the sentence, it applies to all fields in `parameters`)
- `setPa

[2017-07-17 04:27] soareschen opened #1489 "Undefined setParameters behavior of handling parameters fields other than transactionId and encodings"
- Currently it is not clear how `setParameters()` handle the fields `headerExtensions`, `rtcp`, `codecs`, and `degradationPreference`.

- There is a section for handling codecs, but it is not clear why it is written separately instead of included inside the steps.

- The spec doesn't specify the behavior when the argument fields are left undefined, or if they are set with invalid values.

[2017-07-17 05:19] soareschen opened #1490 "Result returned from receiver.getParameters() when no session description is set"
The current description for `RTCRtpReceiver`'s `getParameters()` seems to apply based on the local/remote description set. It is not clear what should be the result if `set*Description()` have not been called before.

The spec should also be more clear of which exact session description affects the result of `getParameters()`. i.e. `currentRemoteDescription` of the associated connection object, in

[2017-07-17 06:37] soareschen commented on #1488
The transactionId validation should also take into account of async race conditions and make sure that sequence of synchronous calls to get/set parameters has well defined behavior. e.g.:

[code]

Also note that the validation of `parameters.encodings` and any other fields should not have to rely on `sender.getParameters()`, as that would result in new transaction ID being generated and make the f

[2017-07-17 08:04] soareschen opened #1491 "Default values for RTCRtpEncodingParameters"
The current definition seems to imply that all fields are optional and have the value `undefined` if not set. However it seems that at least some of the fields should have default values, e.g. `active` and `priority`.

For example, the following examples have different `active` values:

[code]

[2017-07-17 08:12] soareschen commented on #1489
Nvm, I misread step 7 as applies to `parameters.encodings` only, when it actually refer to all read-only parameters in `parameters`.

[2017-07-17 08:12] #1489 closed

[2017-07-17 08:43] soareschen opened #1492 "Validation of reordered readonly parameters in setParameters"
Step 7 of setParameters says:

And the description for `codec` field for `RTCRtpParameters` says:

This seems to require step 7 to handle reordering/dropping of readonly parameters as well, but it is a bit ambiguous in step 7 whether reordering/dropping is allowed. Even if it allows, does this mean that `encodings` elements can be reordered, and `headerExtensions` elements can be reordered/dropped

[2017-07-17 10:05] soareschen opened #1493 "Required fields in RTCRtpParameters returned from getParameters"
This is similar to  #1476.

Currently all fields in RTCRtpParameters are defined to be optional. This means when writing applications and tests we cannot make assumption of any of the field returned from `getParameters()` is defined.

I have a feeling that `encodings`, `headerExtensions`, and `codecs` should at least be empty list, and that all if not most of the readonly fields in `RTCRtpCodecPar

[2017-07-18 04:34] aboba commented on #1490
The `sendEncodings` can be set by `addTransceiver` before SLD/SRD is called, and this should also affect `getParameters`.

[2017-07-18 04:37] aboba commented on #1493
The fields in `RTCRtpParameters` that are set will depend on the signaling state as well as whether `addTransceiver` or `setParameters` has been called.

[2017-07-18 04:43] aboba commented on #1492
My take would be that reordering/dropping of `encodings` should not be allowed.  Reordering `headerExtensions` does not make a difference, so I'm not clear this (or dropping) should be allowed either.

@taylor-b What do you think?

[2017-07-18 04:53] aboba commented on #1228
Is there a proposed change that would make this more clear?

[2017-07-18 04:56] aboba commented on #1219
Yes, each m-line could have a distinct ufrag.  For example, in ORTC, each RTCIceGatherer has a unique ufrag.  However, not all implementations will have a distinct ufrag for each m-line.

@soareschen Can you submit a PR?

[2017-07-18 10:09] soareschen commented on #1493
I realize that the reason the WebIDL definition has all dictionary fields as optional is because it is used in multiple cases such as sender/receiver's getParameters, and there is different required fields for each case.

In that case the definitions for `getParameters()` in `RTCRtpSender` and `RTCRtpReceiver` should respectively list out the fields that are required to be set. Currently the requi

[2017-07-18 14:19] dontcallmedom commented on #1484
This will be fixed when we upgrade ReSpec, cf https://github.com/w3c/respec/issues/1309

Since @vivienlacourba  owns the ReSpec upgrade workflow, re-assigning to him

[2017-07-18 16:41] taylor-b commented on #1492
The order of the encodings is equivalent to their precedence, which is negotiated in SDP via "a=simulcast". So it doesn't make sense to try to reorder them, because it would require renegotiation, which none of the other things you can change in `setParameters` require.

We _could_ say "the order in 'a=simulcast' isn't absolute, it's a 'proposed preference', so the sender can choose to override it

[2017-07-18 23:29] docfaraday opened #1494 "addTrack can reuse a sender whose transceiver is stopped"
The checks that a sender has to pass in order to be reused by addTrack do not include a check that its transceiver is not stopped. addTrack setting the track on a stopped transceiver is probably not what we want.

[2017-07-19 04:16] soareschen commented on #1228
I think the note applies to both pending and current descriptions. It can be added as a general note under the attributes section as:

- Note that the string value of `sdp` in `pendingRemoteDescription`, `currentRemoteDescription`, `pendingLocalDescription`, and `currentLocalDescription` need not be identical to the `description.sdp` value passed to the corresponding `setRemoteDescription` or `set

[2017-07-19 04:17] soareschen commented on #1219
Yes will do.

[2017-07-19 04:20] soareschen commented on #1216
Will do. I will make it throw `InvalidStateError` if `addIceCandidate` is called after end-of-candidates indication is given.

[2017-07-19 06:32] soareschen opened #1495 "getCapabilities should throw TypeError if invalid kind is provided"
Currently the behavior for invalid kind is undefined.

[2017-07-19 06:50] soareschen commented on #1492
One more thing to note for reordering validation is that current algorithm do not take into account repeated elements in the array. The clause _"If parameters.encodings.length is different from N"_ seems to be specifically added to prevent repeated elements in `encodings`, but the same is not applied to `codec`.

[2017-07-19 16:24] aboba opened #1496 "Support for RRID and FEC/RTX RIDs?"
As noted in the message below,  it is suggested that FEC/RTX streams can have their own RIDs and that the RRID is needed in order to support robustness (RTX/FEC) in simulcast:

See: https://www.ietf.org/mail-archive/web/mmusic/current/msg18035.html

Does it make sense to expose the RRID somewhere, such as in `RTCRtpRtxParameters` and `RTCRtpFecParameters` ?  What about FEC/RTX RIDs?

[2017-07-20 00:09] markandrus commented on #1128
@jan-ivar yes. I'm not sure it's a good idea, but that's what I was exploring. Although I'd like to use the new features, I'm trying to figure out the interop story. My team needs to support existing Plan B/MSID clients as well as future WebRTC 1.0 clients. Since our application is already translating between Plan B and Unified Plan SDPs, we should probably go all-in on MIDs where available. But t

[2017-07-20 02:50] taylor-b opened #1497 "Not possible to tell how old `RTCRtpContributingSource.timestamp` is"
This issue was raised by an application developer, in a [chromium bug report](https://bugs.chromium.org/p/chromium/issues/detail?id=625208#c13):

Basically, they'd like to be able to easily tell "how long ago did this speaker say something"? The only guarantee provided for `timestamp` is that it uses "a local clock". But there's no way for the application to get the current value of this clock.

I

[2017-07-20 02:58] soareschen opened #1498 "Type checking for selectorArg in getStats is unnecessary"
Step 3 of `getStats`:

This is not needed as the type checking is already done by WebIDL.

[2017-07-20 09:36] soareschen opened #1499 "Processing Remote MediaStreamTracks should pass on receiver when constructing track event"
In the last step of 5.1.1 Processing Remote MediaStreamTracks:

It missed out the receiver attribute in ` RTCTrackEvent`, which we know is simply getting from `transceiver.receiver`.

[2017-07-21 04:44] soareschen opened #1500 "setIdentityProvider should throw error if protocol contains invalid characters"
Description for `protocol` field in `RTCIdentityProviderOptions`:

Right now there is no step for validating `protocol` in `setIdentityProvider()`. It should instead throw specific kind of error. (`InvalidAccessError` perhaps?)

[2017-07-21 08:38] soareschen opened #1501 "Format of provider string for setIdentityProvider and validation"
Currently there is no mention of what kind of format should the `provider` string be. My understanding is that it should be the `host` portion of a URL, which include domain name and port.

`setIdentityProvider()` should throw specific error if the `provider` string is not of the right format.

[2017-07-21 09:00] soareschen opened #1502 "How is port number specified when verifying peer identity's assertion?"
rtcweb-security-arch specifies that the IdP proxy script can be located at a different port number. So for example an IdP for example.com can be located at https://example.com:8443/.well-known/idp-proxy/provider.js.

Now in `setIdentityProvider()`, it seems that the port number can be specified as part of the `provider` attribute string, together with the domain name. So we can call

[code]

to lo

[2017-07-21 09:34] soareschen opened #1503 "Identity assertion process should wait for certificate to be generated"
Indentity assertion requires use of certificate fingerprint. In steps to create offer/answer, the step for waiting for certificate generation should go before waiting for identity assertion process.

The certificate generation should also be triggered in other places, such as in `getIdentityAssertion()` and section 9.3 Requesting Identity Assertions. Some refactoring can be done to simplify the st

[2017-07-24 04:26] soareschen opened #1504 "Origin value for IdP proxy script"
In rtcweb-security-arch section 6.4.1.  PeerConnection Origin Check:

Does this means that in section 9.1.2 Instantiating an IdP Proxy, it should specify that the origin value inside the IdP proxy script would be using the `rtcweb://` protocol instead of `https://`?

[2017-07-24 09:01] soareschen opened #1505 "Is contents validation based on exact string matching or fingerprint list matching when verifying identity assertion?"
There are a few places that mention that `contents` returned by `validateAssertion` must be exact string match of `contents` passed to `generateAssertion`:

And in rtcweb-security-arch:

However in section 9.4 Verifying Identity Assertions, `contents` is validated by only decoding it and match against all a=fingerprint attributes.

This means it doesn't need to be exact, e.g. there can be extra fi

[2017-07-24 09:38] soareschen opened #1506 "Specifying third party IdP for validating assertion"
If my understanding is correct, `setIdentityProvider()` is used to set IdP proxy only for local peer identity. `setIdentityProvider()` can be set to any host and generate identity assertion for any domain, because the assertion is an opaque string and `RTCPeerConnection` does not care about local peer identity.

For remote peer identity, the `domain` and `protocol` fields are used to construct the

[2017-07-24 22:29] markandrus opened #1507 "Limiting number of RTCRtpTransceivers"
Hi,

I have a few questions. As far as I can tell,

* In certain cases, when we call `addTransceiver` and `stop` over the course of a few rounds of negotiation, JSEP says we can recycle m= sections. This is nice because we don't necessarily need to keep adding m= sections to our SDP. ([Example 1](https://gist.github.com/markandrus/c970eeaf37c5b26cc8c7d7b4973cdc2a))
* However, we cannot recycle or

[2017-07-25 00:52] martinthomson commented on #1506
I think that the question here is about how an IdP might make a claim about a different domain.  Or, if you get an assertion for `user@example.com`, how `example.net` might verify that assertion.

This is not a function that `setIdentityProvider` is intended to provide.  This is something that the browser might decide to allow, but a site wouldn't and indeed MUST NOT.

Say that I know you as `soar

[2017-07-25 00:54] martinthomson commented on #1505
I don't understand the question.

[2017-07-25 00:58] martinthomson commented on #1504
See https://github.com/rtcweb-wg/security-arch/issues/41

[2017-07-25 00:59] martinthomson commented on #1503
This isn't a question, it's just an issue to track a (reasonable) change to the algorithm.

[2017-07-25 01:00] martinthomson commented on #1502
Yes, I think that allowing a port number in domain is eminently reasonable and we should do that.

[2017-07-25 01:00] martinthomson commented on #1501
Duplicate of #1502.

[2017-07-25 01:01] martinthomson commented on #1500
Not a question, just a bug.

[2017-07-25 02:16] aboba commented on #1503
@soareschen Can you submit a PR?

[2017-07-25 02:17] aboba commented on #1502
@soareschen Can you submit a PR?

[2017-07-25 02:19] aboba commented on #1500
@soareschen Can you submit a PR?

[2017-07-25 03:30] soareschen commented on #1505
Oops, I missed rtcweb-security-arch _section 5.6.4. Binding Identity Assertions to JSEP Offer/Answer Transactions_ which specifies the format of `contents`, which caused the entire misunderstanding.

In that case I just need one clarification: Is reordering or reformatting of the fingerprints in `content` allowed? For example:

[code]

If on peer1's `generateAssertion()` receives `contents1` and p

[2017-07-25 03:40] soareschen commented on #1501
This is not exactly a duplicate of #1502. Here at #1501 is about the format for `provider` in `setIdentityProvider`; #1502 is about the format for `domain` in `RTCIdentityProviderDetails`.

[2017-07-25 03:45] soareschen commented on #1502
@aboba sure. I just want to make sure first that rtcweb-security-arch sections 5.6.5. and 5.6.6. allows port number to be specified in `idp.domain`. Will ask over there.

[2017-07-25 04:19] soareschen commented on #1506
My original question is whether custom IdP can be set when validating identity assertion. (It shouldn't, that's why seeking clarification for 5.7.1.2.). But AFAIK `setIdentityProvider`is for _generating_ identity assertion and WebRTC do allows third party IdP to be used.

As far as my understanding in WebRTC there is currently no way for a browser to know about the local identity. It only knows th

[2017-07-25 04:28] martinthomson commented on #1505
The contract specifies `contents` as being opaque. That should be enough for you.  We might later want to rely on that property and include something entirely different.  Allowing mutation of the contents would make that difficult.

[2017-07-25 04:47] soareschen commented on #1505
My point is that string equality cannot be enforced as a MUST in the spec. At most it can only be a SHOULD requirement. The original `contents` string is not in the a=identity line of SDP and so is not passed over to the remote peer. Therefore a remote `RTCPeerConnection` can only do content-based fingerprint matching as specified in 9.4.8.

[2017-07-25 04:49] martinthomson commented on #1505
You could write a test case for an IdP that enforces this constraint and it's an important invariant.

[2017-07-25 04:54] soareschen commented on #1505
Hmm ok. So we can say that IdP proxy scripts MUST treat `contents` as opaque string and return the same string during validation, but it is outside the scope of WebRTC to enforce the requirement.

[2017-07-25 05:02] soareschen commented on #1490
The `sendEncodings` passed to `addTransceiver` only applies to `RTCRtpSender`, not `RTCRtpReceiver`.  "current remote description" works as well, just less concise.

[2017-07-25 05:12] stefhak commented on #1507
I think this is a more generic question. In 'Is there a limit on the number of RTCRtpTransceivers an application can create?' you could replace 'RTCRtpTransceivers' with e.g. RTCPeerConnections, or WebSockets, or MediaStreams, etc. and I assume there is a limit (depending on browser, system, HW etc.), but AFAIK no way to determine what the limit is.

[2017-07-25 05:26] stefhak commented on #1496
@aboba what would be the use of the exposed RRID?

[2017-07-25 06:13] aboba commented on #1496
The link indicates that the RRID links RTX/FEC protection/retransmission streams to the corresponding simulcast streams.

[2017-07-25 06:14] markandrus commented on #1507
@stefhak yeah, my first question is fairly generic/obvious. I too assume there is a limit. I'm actually interested in the follow-on questions.

Although JSEP specifies that we can reuse a stopped RTCRtpTransceiver's m= section, there isn't a similar behavior at the WebRTC layer for "freeing" stopped RTCRtpTransceivers. AFAICT, if I have some long-lived application calling `addTransceiver`/`stop` o

[2017-07-25 09:29] henbos opened #1508 "setRemoteDescription and ontrack order of events: SRD before ontrack?"
TL;DR: Should `setRemoteDescription` be resolved before the resulting `ontrack` fires for remote tracks or after in the same task? @jan-ivar @taylor-b

`setRemoteDescription` does, in parallel to returning a promise, a number of things. On success this includes:
[code]
As described, the promise would be resolved before `ontrack` fires. Invoking `then()` of a resolved promise means the resolver is

[2017-07-25 09:48] stefhak commented on #1125
I don't think there is support for putting addStream/removeStream (or getLocal/RemoteStreams) back into the spec. In addition, the experience for putting offerToReceive back into the spec is not encouraging. I intend to close this Issue with the comment "won't fix" unless I hear strong objection.

[2017-07-25 09:54] stefhak commented on #1507
@markandrus got that!
I would guess that a RTCRtpTransceiver does not cost much in terms of memory etc. but some implementers should comment.

[2017-07-25 09:58] ibc commented on #1125
Answering the issue question "_Should the spec describe addStream/onaddstream as legacy API?_":

*NO*: It's proven to be a bad, wrong and problematic API (I won't repeat again all the rationale already given about it).

What we (and all the users) should do is complain against Chrome for keeping it for years while all its competitors have already moved to (at least) the track based API.

And no, `

[2017-07-25 17:57] taylor-b commented on #1508
Good question. Firefox currently emits "track" before the promise resolves, and Chrome equivalently emits "addstream" before the promise resolves. That behavior makes sense to me; by the time a promise resolves, one would naturally assume everything associated with it is completed.

I think this was my fault: https://github.com/w3c/webrtc-pc/pull/1136

It was my shortsighted attempt to ensure that

[2017-07-25 21:36] pthatcherg commented on #1496
If there were an .rrid on the rtx or fec parameters, it would have to be equal to the encoding .rid, would it not?  So doesn't that mean it's really a bool of .usesRrid?  And if so, why is that useful for the app to know?

[2017-07-26 03:09] soareschen opened #1509 "Default identity provider"
There are numerous mentions that if no identity provider is set, the browser may use a default IdP configured. How do application know whether there is a default IdP set, and the details of that IdP?

I also feel that there are some privacy implications of having a default IdP. Does this means any website can find out the identity of a user if they are logged in to a default IdP?

[2017-07-26 05:45] stefhak commented on #1496
In response to https://github.com/w3c/webrtc-pc/issues/1496#issuecomment-317640021: I understand that the UA must be able to associate what encoding FEC and RTX streams belong to in order to be able to use the FEC/RTX data to recover from packet losses. But it's still not clear to me why it would be helpful for the app to have this info.

[2017-07-26 06:50] soareschen opened #1510 "Requesting Identity Assertions incorrectly mention steps of validating assertion"
Section 9.3 Requesting Identity Assertions:

I believe the step is incorrectly copied from _section 9.4 Verifying Identity Assertions_. The correct statement should be:

4. If the IdP proxy produces an error or returns a promise that does not resolve to a valid `RTCIdentityAssertionResult ` (see 9.5 IdP Error Handling), then assertion generation fails.

[2017-07-26 07:14] soareschen commented on #1509
Having default identity provider could also cause problems for applications that do not care about IdP. If the user is not logged in to the default IdP or if the IdP produce error, `createOffer()` and `createAnswer()` would fail.

This means pretty much almost all of existing WebRTC apps today would fail on browsers with default IdP and unlogged in users.

[2017-07-26 09:34] soareschen opened #1511 "Ambiguous definition for IdP errors"
In the last step of 9.3 Requesting Identity Assertions:

This is not consistent with several other sections.

- Section 9.5 _IdP Error Handling_ suggests that IdP-related failures would cause the corresponding method to reject with `RTCError`.

- In `createOffer` and `createAnswer`, any error from identity assertion request process would cause it to reject with `NotReadableError`.

Section 9.5 als

[2017-07-26 11:06] henbos commented on #1508
Actually, I found that "addstream" is fired _after_ the promise's then-callback is invoked in Chrome for the exact same reasons as "track" in the spec and in my work-in-progress: it's queued to fire in the next loop.

A `[[pendingTrackEvents]]` would be a nice solution to this if we want a promise to be resolved after all events have guaranteed to be fired, since a fired track event does not tell

[2017-07-26 11:15] henbos commented on #1508
As for the risk of inspecting the `pc` in an event between the effects of setRemoteDescription, but before the SRD's promise's then-callback, I think this is an inherent risk with promises that can't be avoided, regardless of how we write the spec, e.g:
[code]
Because both promises are resolved before the event loop is empty, I would expect the callbacks to be invoked in order as soon as SRD is do

[2017-07-26 18:26] taylor-b commented on #1508
Yeah, I was wrong about Chrome's behavior; I got mixed up with something else. Hmm. That complicates things. But I still think it makes more sense for "track" events to fire before the SRD promise is resolved.

[2017-07-27 02:10] aboba commented on #1415
One way to address the problem would be to add a `canInsertDTMF` attribute as in [ORTC](http://draft.ortc.org/#rtcdtmfsender*).

[2017-07-27 02:17] aboba commented on #1259
From: https://www.w3.org/2017/06/28-webrtc-minutes

Bernard to create a PR based on Tim's suggestion

[2017-07-27 02:21] aboba commented on #1174
From https://www.w3.org/2017/06/28-webrtc-minutes

Taylor to do a PR to remove the odd behavior

[2017-07-27 02:22] aboba commented on #1178
From https://www.w3.org/2017/06/28-webrtc-minutes

Resolution: the group agrees with Taylor's suggestion.  Taylor will create an PR

[2017-07-27 02:24] aboba commented on #1406
From https://www.w3.org/2017/06/28-webrtc-minutes

For DTLS, we agreed that we would create a new object when a new DTLS association is created (a=tls-id change, for instance)

[2017-07-27 07:03] soareschen opened #1512 "setRemoteDescription should fail if target peer identity is set but no a=identity in SDP"
Currently the identity assertion validation is only done if an a=identity line is present. This means an impostor can simply not include any a=identity line and get connected to a victim.

[2017-07-27 07:19] soareschen opened #1513 "The same connection.peerIdentity promise can be resolved multiple times"
In 9.4 Verifying Identity Assertions:

Identity assertion validation is performed every time `setRemoteDescription()` is called with SDP containing a=identity line. Whether the validation succeed or failed, 9.4 attempts to resolve `connection.peerIdentity` promise without considering if it has previously been resolved.

The only time the `peerIdentity` promise is replaced is when _identity validat

[2017-07-27 07:22] martinthomson commented on #1512
Seems reasonable.

You had me worried there for a minute.  In we check the identity every time.  If `a=identity` isn't present, then we set the actual identity to `null`.  If we have a target identity, then `setRemoteDescription` without `a=identity` causes a failure.

[2017-07-27 07:51] soareschen commented on #1512
If so then the spec should add some steps to clarify. For example something like:

This would have a few implications:

- If SRD is first called with a=identity then without it, the operation fails with `InvalidModificationError` and the connection closes.
- If SRD is first called with no a=identity then with it, the operation also fails with `InvalidModificationError` and the connection closes.

[2017-07-27 14:30] taylor-b commented on #1488
Do you mean that step 7 in the `setParameters()` algorithm shouldn't actually invoke the `getParameters()` algorithm? I don't think that was ever the intention; it was just written that way for simplicity.

[2017-07-27 14:47] #1231 closed

[2017-07-27 15:20] aboba commented on #1498
@soareschen Can you submit a PR?

[2017-07-27 15:21] aboba commented on #1495
@soareschen Can you submit a PR?

[2017-07-27 15:22] aboba commented on #1494
@docfaraday Can you submit a PR?

[2017-07-27 15:26] aboba commented on #1490
@soareschen Can you submit a PR?

[2017-07-27 15:26] #1478 closed

[2017-07-27 15:26] #1473 closed

[2017-07-27 15:27] #1418 closed

[2017-07-27 15:27] #1465 closed

[2017-07-27 15:29] #1447 closed

[2017-07-27 15:32] aboba commented on #1378
@soareschen Can you submit a PR?

[2017-07-27 15:34] aboba commented on #1331
@soareschen Can you submit a PR?

[2017-07-27 15:36] aboba commented on #1183
@soareschen Can you submit a PR?

[2017-07-27 15:39] aboba commented on #1496
Discussion on the MMUSIC mailing list: https://www.ietf.org/mail-archive/web/mmusic/current/msg18062.html

[2017-07-27 16:29] #1210 closed

[2017-07-27 16:39] #1366 closed

[2017-07-27 23:48] martinthomson commented on #1513
If there is a target peer identity or the promise resolves (those are the two cases), then the promise should be left alone if it is already resolved.  There is no new information to provide.  In the former case, `setRemoteDescription()` will fail; in the latter, the value would only resolve to the same value (but it would create a separate promise with a different resolution time).

[2017-07-28 02:45] soareschen commented on #1513
I think the wordings can be more explicit instead of relying on the implicit behavior of promises. e.g. "If `connection.peerIdentity` is not yet resolved, resolve it with ...".

Still, it doesn't solve the first case where peer identity is set but first call to identity validation fails.

[code]

Relevant paragraphs:

So if validation fails and there _is_ a target peer identity, the rejected `peer

[2017-07-28 05:44] stefhak commented on #1125
Closing this issue as per the discussion above.

[2017-07-28 05:44] #1125 closed

[2017-07-28 05:48] stefhak commented on #1166
Closing.

[2017-07-28 05:48] #1166 closed

[2017-07-28 09:06] soareschen opened #1515 "insertDTMF when transceiver.currentDirection is null"
Currently step 4 of `insertDTMF` throws `InvalidStateError` when `currentDirection` is `recvonly` or `inactive`. But `currentDirection` is only set after setting answer description.

Since it probably doesn't make sense to send DTMF before connection is established, we can probably make `insertDTMF` throw `InvalidStateError` as well when `currentDirection` is `null`.

One minor issue remain is tha

[2017-07-28 09:33] soareschen opened #1516 "duration and interToneGap should be stored as internal slots of RTCDTMFSender"
Since they are not defined as attributes, currently they look like closure variables that are captured when Playout task is executed.

With current definition, when two calls of `insertDTMF()` are made in succession, the `duration` and `interToneGap` of the first call is used even though the `toneBuffer` is overridden in second call.

[2017-07-28 09:53] martinthomson commented on #1513
Hmm, that changes things subtly.  It means that if you set a target peer identity, then you can keep trying to set a remote description.  I can't see a problem with that right now.

[2017-07-28 12:10] henbos commented on #1508
Related: With the recent https://github.com/w3c/webrtc-pc/pull/1402/files (@jan-ivar) we also add and remove tracks to the associated streams of the receiver. This results in addtrack and removetrack events firing, but note that this processing happens before we fire the `ontrack` and exposing the new streams, so there will be no chance to hook up anything to the streams' `onaddtrack`. Is this on

[2017-07-28 16:11] fluffy commented on #1470
Given rollback is one of the way to recover from an some errors, my preference is pretty much no matter what state you are in, and no matter which set* got called, exactly the same things happens which is you roll back to last stable state. If you are in a stable state, then it just stays at that same stable state. What I am trying to avoid is needing error handling for my error handling code. It

[2017-07-28 16:12] fluffy commented on #1470
As side note, JSEP has bugs with this same conversation going on. I suspect that JSEP is the right place to figure out what we want to have happen then figure out how to reflect any call or errors needed into the API.

[2017-07-31 02:22] soareschen commented on #1513
Does the original definition not allow setting remote description multiple times if target peer identity is set?

[2017-07-31 09:28] soareschen opened #1517 "DTMF tonechange event timing when toneBuffer is modified in between"
The current spec says:

This means that if `toneBuffer` is changed via `insertDTMF()` in the middle of `tonechange` events firing, the first character of the new `toneBuffer` is supposed to fire only after the `duration` + `interToneGap` time of the last `tonechange` event. (1)

For the behavior of `tonechange` when Playout Task is not scheduled, the first character is `toneBuffer` is fired almost

[2017-07-31 18:26] jan-ivar commented on #1508
(Cc @docfaraday whom I gave opposite advice before going on vk!)

[The promise guide](https://www.w3.org/2001/tag/doc/promises-guide#resolve-promise]), says *"If the algorithm using ["Resolve p with x" or "Reject p with r"] is running in parallel, the shorthands queue a task on p’s relevant settings object’s responsible event loop to call the stored function."*.

Which, since these steps of [SRD](

[2017-07-31 20:25] taylor-b commented on #1508
@jan-ivar But the step of SRD that resolves the promise is not from a step run in parallel, it's from a queued task itself.

[2017-07-31 23:16] jan-ivar commented on #1508
@taylor-b Whoops, you're right. Please ignore my previous comment. I should have looked closer.

We probably also need to address then that the SRD promise may resolve much later if `setIdentityProvider` was called.

[2017-08-01 00:11] jan-ivar commented on #1508
If the streams (a track may be in more than one) are fully populated ahead of the `track` event, then it makes sense to me that users who hook the streams' `onaddtrack` or `onremovetrack` from within the first `ontrack` only hear of future renegotiations.

Note that [mediacapture](https://w3c.github.io/mediacapture-main/getusermedia.html#stream-inactive) appears to queue a task for each firing of

[2017-08-01 03:38] soareschen commented on #1517
Thinking about it, the spec should have the correct behavior. Reason being that only one DTMF tone can be played at a time. Therefore if `insertDTMF()` is called when there is a DTMF tone being played out, the new tones can only start playing after the current tone have finished playing.

Closing this issue as I believe no change is needed for the spec.

[2017-08-01 03:38] #1517 closed

[2017-08-01 04:23] soareschen opened #1518 "Constructor for RTCDTMFToneChangeEvent does not validate format of tone"
Currently it is possible to manually construct `RTCDTMFToneChangeEvent` instances with `tone` having arbitrary characters of any length.

The fix is to add a step in the constructor:

- If `tone` contains any unrecognized characters, or if `tone` has more than one character, throw an `InvalidCharacterError`.