[2019-03-01 13:28] henbos commented on #2108
Or if we want to do as little as possible here, add an editorial "NOTE" explaining this stuff.

[2019-03-01 13:37] murillo128 commented on #2108
After working with transceivers and done m-line mapping for local SDP O/A I
feel that current behavior is what I would expect it to be.  IMHO it is
kind of confusing to depend on the remote side offer to know what do to
with my local transceivers.

Most people should just use addTrack if they don't care about transceivers.

El vie., 1 mar. 2019 14:28, henbos <notifications@github.com> escribió:

[2019-03-01 18:00] amithilbuch commented on #1174
@aboba I am against SDP munging in applications overall.
What i meant is that if the (legacy) SFU doesn't support RIDs, then the application will have to munge the SDP to simulate the `a=rid` and `a=simulcast` lines arriving from the SFU while negotiating a completely different SDP to the SFU - one that probably closely resembles `a=ssrc-group:SIM`.
And in that case, the application is better off*

[2019-03-01 18:01] henbos commented on #2108
OK then. I suggest giving this a couple of days in case people want to comment but I get the impression that we can close this and open an editorial issue for adding a note.

[2019-03-01 19:29] kuddai commented on #2109
And to make it explicit, this one is high priority for me.

[2019-03-01 19:33] henbos commented on #2108
Related question: If I do addTransceiver() followed by addTrack(), causing the first transceiver to be used for the track, is that transceiver still an ”addTransceiver-transceiver” or did it change to an ”addTrack-transceiver”?

[2019-03-02 00:45] jan-ivar commented on #2108
Then it's not "added to the PeerConnection by addTrack" I think.

[2019-03-02 08:45] fippo commented on #2027
Yes, the jsep issue has been merged on January 9th. Thanks Harald for writing a test!

[2019-03-02 08:45] #2027 closed

[2019-03-02 18:05] bakkot commented on #2111
Is this a change you'd like to make? I'd be happy to submit a PR here and to [the corresponding web platform test](https://github.com/web-platform-tests/wpt/blob/20715b3f6a3b774b78a9724abde411ccb34a6212/webrtc/RTCError.html), if so.

[2019-03-02 22:28] emcho commented on #1174
@amithilbuch I am still not clear how you see it will be possible, (munging or no munging), to provide the SFU with SSRCs ... since they are completely gone now.

[2019-03-04 14:59] henbos commented on #2111
Thanks, I'm happy to update the WPT, that can be done by the same CL that updates Chrome and the WPT import bot can take care of the rest. A PR on this issue would be very much appreciated if you can do it before Thursday morning (that's when we have a spec meeting), otherwise I can do it myself. What do you say?

[2019-03-04 14:59] henbos commented on #2111
Or Thursday afternoon if you're in Europe :)

[2019-03-04 15:25] henbos commented on #2111
Here's the Chrome CL, including the WPT changes: https://chromium-review.googlesource.com/c/chromium/src/+/1499613

The new constructor is:
[code]

[2019-03-04 17:01] amithilbuch commented on #1174
@emcho it is currently not possible to extract the SSRCs.
I was making a hypothetical argument, that if you intend on munging the SDP, then you should continue using the legacy technique. It is still supported.
We do not want people to munge the SDP with the new API. You should be using it in the spec-compliant way.

[2019-03-04 17:10] aboba commented on #1174
@emcho As referred to in this issue, the WebRTC 1.0 APIs formerly included SSRCs in the object model so that applications could signal them in the Offer, regardless of the content of the SDP.  The functionality was removed based on Taylor's assertion that putting the SSRC information into the SDP would reduce implementation time for browsers and SFUs.

[2019-03-04 20:25] emcho commented on #1174
@amithilbuch indeed, and this discussion is about defining what the spec-compliant way is. Specs get written with various criteria in mind. One important piece to always take into consideration is the current state of the art. There has been an omission on that so far and this is what we are trying to fill in.

@aboba yes, certainly! Any place would work ... as long as it is actually somewhere.

[2019-03-05 09:25] fippo commented on #1174
So I made the "playground approach" work, see [here](https://github.com/fippo/simulcast-playground/blob/gh-pages/spec.html)
It doesn't extract the tracks in resolution order but that was a weak assertion anyway. And we get the decoded images so can query their resolution. There are some rough edges such as relying on plan-b in Chrome in order to generate an answer that is mid- and rid-less but thi

[2019-03-05 10:59] ibc opened #2114 "Missing CNAME in RID based simulcast offer"
Just wondering if the simulcast video SDP m= section should signal the `CNAME` into it or not.

### Firefox

This is a video m= section with simulcast produced by Firefox:

<details>

[code]

</details>

It signals the `CNAME` value in `a=ssrc` lines:

[code]

### Chrome M74

However, since in [Chrome M74 with `rid` based simulcast there is no `a=ssrc` lines](https://github.com/w3c/webrtc-pc/issue

[2019-03-05 11:00] ibc commented on #1174
Hi, I was about to write here about a related issue, but finally did it in a separate issue:

"Missing CNAME in RID based simulcast offer": #2114

[2019-03-05 11:12] ibc commented on #1174
This is not so easy. In my experiments (don't remember now which browser/version):

* If `a=extmap:3 urn:ietf:params:rtp-hdrext:sdes:mid` is negotiated in the PeerConnection and a RTP packet with a header extension with `id=3` is received, and assuming that the remote SDP signals `a=ssrc` lines:
   * The browser will drop the packet if its SSRC matches the one in `a=ssrc` but its RTP MID does not

[2019-03-05 11:18] lminiero commented on #1174
@ibc just summarized my main concerns here. In my case, my server is not a pure SFU, so while there may be scenarios with sendonly/recvonly PeerConnections, there will also be sendrecv PeerConnections hooked together where the respective MIDs may not match. Which means that regenerating RTP extensions on the way out would be the only way to include the proper MID there, something that as Iñaki poi

[2019-03-05 11:23] murillo128 commented on #1174
I have to disagree here, you will have to add headers (transportwide-cc,abs-send-time) and remove header extensions (client-to-mixer-audio-level/rids) negotiated between SFU and peers anyway, or change the ids (from 1 byte to 2 byte headers). If you expect to do a zero copy of the in buffer to the output buffer I think you are doing it wrong IMHO.

[2019-03-05 11:39] ibc commented on #1174
Well, of course I'll do. But the point here is that people is complaining because the "new" MID/RID mechanism breaks their working SFU logic (that depend on signaled `a=ssrc` values) even if Firefox implements it for long. Forcing them to also implement RTP header extension rewriting/addition/removal do not seem a comfortable solution. First of all, because they may not need it if they don't imple

[2019-03-05 11:51] murillo128 commented on #1174
What we can't do is specify one thing and implement another. Providing access to the `ssrc` values in `getParameters` and a clean migration path is something we should aim, but claiming that rewriting a RTP header extension on server side is something hard or annoying.. well..

[2019-03-05 12:14] ibc commented on #1174
Rewriting a RTP header extension (both its `id` and `value`) on server side is not hard. Addition/removal/value-expansion of RTP header extensions is harder. Not sure which your position in this subject is other than making it clear that you have implemented that feature in your stuff and that any other approach is wrong.

[2019-03-05 12:28] murillo128 commented on #1174
My position is that changing the spec because rtp header extension rewriting is required on server side and it is considered difficult is not a valid point IMHO and this thread has evolved from an specific issue about how to handle `ssrc` on the API to an MID/RID vs ssrc discussion that I don't think is the correct place for having it.

[2019-03-05 12:36] ibc commented on #1174
The thing here is that, due to SDP O/A negotiation, it's currently "easy" to implement proper MID/RID parsing and correlation in server side, but if the PeerConnection is used for bidirectional media then complex RTP header extensions mangling is required in server side for transmitting media to receivers in those bidirectional pcs.

[2019-03-05 14:35] docfaraday opened #2115 "Should we surface a=msid changes to JS, even though they're not compliant with draft-jsep?"
draft-jsep says that a=msid attributes, once set, are invariant until the corresponding transceiver is stopped. webrtc-pc does not seem to say anything about this invariance, which means that if a=msid _does_ change in a remote description, we surface that change to content.

Was this invariance imposed because we did not want to surface such changes to content? Or was there some other reason?

[2019-03-05 17:09] jan-ivar commented on #2013
What's the effective rid length limit here now? We're trying to fix [web-platform-tests/wptwebrtc/RTCPeerConnection-addTransceiver.https.html](https://github.com/web-platform-tests/wpt/blob/ffbaf43aa0253856f14d7343e49b0ba5d1b50a26/webrtc/RTCPeerConnection-addTransceiver.https.html#L345) which still says 16 bytes.

[2019-03-05 18:12] amithilbuch commented on #2013
i think it needs to fit in a header extension, so i believe 16 is the right number.
Implementations and applications should prefer smaller values (like a single byte) to reduce packet size.

[2019-03-05 18:20] amithilbuch commented on #2114
Why is a `cname` needed?
my understanding is that it helps associate and uniquely identify an rtp stream in case the ssrc changes, but that is exactly what `rid`s + `mid`s do.
specs do not indicate the use of `cname` in simulcast (or at all, according to op).
I would say that this is closely related to #1174 should we have "conflicting" or dual identifiers for streams.

[2019-03-05 18:40] jan-ivar commented on #2013
@amithilbuch Thanks, can you help me locate the spec support for that? Just making sure I'm not missing it.

[2019-03-05 18:52] amithilbuch commented on #2013
we've actually decided not to formally specify it and refer to the specification in ietf.

so it's referring to this:
https://tools.ietf.org/html/draft-ietf-mmusic-rid-15#section-10

it's out of date and might need a revision because it currently indicates a single character.

[2019-03-05 19:07] ibc commented on #2114
Isn't CNAME used by receiving endpoints to synchronize different tracks (audio and video)? I assume the CNAME is unique per "participant" for a reason. A PeerConnection may receive multiple audio and video tracks with different ssrcs and MIDs, but the only way to know which ones of those tracks must be synchronized is by looking at the CNAME of them.

[2019-03-05 19:20] ibc commented on #2114
https://tools.ietf.org/html/draft-ietf-rtcweb-rtp-usage-26#section-4.9

   CNAME MUST be unique within the RTCPeerConnection.  RTCP CNAMEs
   identify a particular synchronisation context, i.e., all SSRCs
   associated with a single RTCP CNAME share a common reference clock.
   If an endpoint has SSRCs that are associated with several
   unsynchronised reference clocks, and hence different synchro

[2019-03-05 19:21] lminiero commented on #2114
Looks like it's mandated here: https://tools.ietf.org/html/draft-ietf-rtcweb-rtp-usage-26#section-4.9

The previous section mentions how ssrc should be mandated as well, incidentally.

[2019-03-05 21:29] jan-ivar commented on #2115
Same question on the other side with [sender.setStreams()](http://w3c.github.io/webrtc-pc/#dom-rtcrtpsender-setstreams) which actively changes msids.

[2019-03-06 00:38] jan-ivar commented on #2013
That's a normative reference, so that seems problematic if we want to allow 3 or 16 characters. Do we need to open an issue?

[2019-03-06 00:42] amithilbuch commented on #2013
@jan-ivar can you ask Mr. Roach what the original intent was? and if an upcoming draft is due that addresses this? if not, then i guess we should file an issue on the ietf spec.

[2019-03-06 00:48] jan-ivar commented on #2013
@adamroach thoughts?

[2019-03-06 06:42] nils-ohlmeier commented on #2114
"While support for signalled SSRC identifiers is mandated, their use
   in an RTP session is OPTIONAL.  Implementations MUST be prepared to
   accept RTP and RTCP packets using SSRCs that have not been explicitly
   signalled ahead of time."

I read that as "you need to be able to receive SDP with SSRC in it", but every implementation also needs to be prepared to receive SDP without SSRC.

[2019-03-06 07:13] lminiero commented on #2114
Good catch, sorry for the noise!

[2019-03-06 12:24] ibc commented on #2114
@alvestrand said in blink-dev:

Is this from the receiver perspective? I mean: if a PeerConnection is receiving ssrc 1 with audio and ssrc 2 with video, without CNAME in the remote SDP, and eventually it receives a RTCP compound packet with CNAME=AAA associated to ssrc 1 and CNAME=AAA associated to ssrc 2, is that enough for it to sync both tracks?

[2019-03-06 14:44] guidou commented on #2109
Separate from this proposal, the spec language IMO does not forbid applyConstraints() from working on tracks sourced by a peer connection.  It just says "The basics of ... is outlined in [GETUSERMEDIA]".

In Chrome in particular, applyConstraints() allows changing resolution for peerconnection tracks  via rescaling.

With regards to this proposal, I think giving a different meaning to the latency

[2019-03-06 15:16] henbos opened #2116 "Simulcast stats"
We need to move several stats that should be per-stream but that lives on the sender/receiver stats into the outbound-rtp/inbound-rtp stats dictionaries.

[2019-03-06 15:18] fippo commented on #2116
see https://github.com/w3c/webrtc-stats/issues/318 ?

[2019-03-06 17:51] ibc commented on #2114
Hi @amithilbuch, just in case you are assuming that `a=ssrc` line with CNAME is useless, just try to send two video streams to Chrome M72 without signaling the CNAME in the remote SDP (but just `a=ssrc` lines with ssrc and msid information). And you will see... (second video is never rendered even if the remote endpoint is sending proper RTCP SenderReports with SDES items containing the CNAME valu

[2019-03-06 18:08] ibc commented on #2114
And [here](https://bugs.chromium.org/p/webrtc/issues/detail?id=10383) more fun regarding Chrome and CNAME.

[2019-03-06 19:10] amithilbuch commented on #2114
@ibc i am not assuming it is useless, i am trying to understand it's uses. i read that it uniquely identifies an rtp stream, and hence might be replaceable by rid + mid. i did not read about it being used to synchronize to different rtp streams to sync audio and video. if that is the use case for it, and there is no alternative (ex. as what @alvestrand  suggested in blink-dev), then we will need i

[2019-03-06 19:36] alvestrand commented on #2114
The CNAME has been reasonably controversial for a long time. It's been suggested (among other things) that it represent a MediaStream, because a MediaStream also tries to impose the requirement to synchronize. But it got rejected because the WebRTC client is free to move tracks between MediaStreams - so we ended up with the current language saying "all tracks from a WebRTC client must have the sam

[2019-03-06 20:01] ibc commented on #2114
@alvestrand I'll properly read your comment later but, for now, just let me tell you a real problem:

* Chrome (at least M72) requires `a=ssrc` lines with `cname` in order to match those SSRCs.
* Using `a=ssrc` lines with any other "attribute" (such as `msid`, `mslabel` or `label`) does not work.

Use case:

* PeerConnection receiving one audio track (Unifien-Plan).
* MID RTP header extension not

[2019-03-06 20:45] ibc commented on #2114
@alvestrand [here](https://bugs.chromium.org/p/webrtc/issues/detail?id=10385) the issue report.

[2019-03-06 21:24] ibc commented on #2114
@alvestrand said:

Once the bug has been (mostly) identified, can we please focus on whether knowing the CNAME (in advance via SDP or in runtime upon reception of RTCP SDES) is useful or not for synchronizing incoming tracks from the same source?

* AFAIU RTP `timestamp` are the same for SSRC streams originated by the same source, so for example the mic and webcam tracks share both CNAME and RTP t

[2019-03-06 21:31] jan-ivar commented on #1812
[Turns out](https://jsfiddle.net/jib1/zroe80px/) I missed that Firefox offers `a=inactive` after `transceiver.stop()`—apparently to avoid interop headaches—which somewhat wrecks my [earlier argument](https://github.com/w3c/webrtc-pc/pull/1845#issuecomment-385675103) for closing this. Re-opening.

I suggest we enshrine that behavior in the spec, and open a bug on Firefox to add the missing events (

[2019-03-06 21:31] rshpount commented on #2114
Do you think it would be better to use a Lip Sync group (https://tools.ietf.org/html/rfc5888#section-7) instead for CNAME for stream synchronization?

This way CNAME can be completely ignored.

[2019-03-06 21:33] amithilbuch commented on #2114
Here is the problem:
https://cs.chromium.org/chromium/src/third_party/webrtc/pc/webrtc_sdp.cc?type=cs&sq=package:chromium&g=0&l=690
tracks are not created if there is no incoming cname.
that doesn't mean that if there is a cname, something is done with it... so this might be an easy fix.

[2019-03-06 21:37] ibc commented on #2114
Definitely using something like "a=group:LS 1 2" would help here. Now my question is: what are current WebRTC implementations use to synchronize tracks from the same source? Or is it just that they do not try to sync them at all?

[2019-03-06 21:38] amithilbuch commented on #2114
My mistake, it gets fed into the RTCP cname property, so we would need to understand what happens when RTCP does not contain cname before fixing this.

[2019-03-06 21:47] ibc commented on #2114
I think we should split the issue into two items:

1. Whether CNAME is required in the SDP. Obviously libwebrtc depends on it as you found [here](https://cs.chromium.org/chromium/src/third_party/webrtc/pc/webrtc_sdp.cc?type=cs&sq=package:chromium&g=0&l=690).
1. Whether libwebrtc uses CNAME for something. Here I want to clarify that CNAME can be told in two ways:
   1. By signaling it in the SDP.

[2019-03-06 21:51] fippo commented on #2114
From a rather old comment by @alvestrand it uses msid:
  https://bugs.chromium.org/p/webrtc/issues/detail?id=4667#c18

But that would mean msid and LS are redundant?

[2019-03-06 22:24] ibc commented on #2114
wow... I can believe that. `msid` is just a **Web**RTC artifact to "associate" tracks within a `MediaStream`. It's just crazy that the RTP receptor depends on that to do sync stuff. What about if the source is not using `MediaStream` at all?

Does this also affect the sender? I mean, if I call twice to `gUM` (one for audio and one for video) and I don't "mix" them into the same `MediaStream` and I

[2019-03-06 22:27] fippo commented on #2114
suppose you have a LS group and two msids which contradict each other...

[2019-03-06 22:28] ibc commented on #2114
ok, so I will use the CNAME as `streamId` to generate `a=msid` and `a=ssrc:xxx msid` lines with the same "media stream id".

[2019-03-06 22:45] rshpount commented on #2114
From what I can see, libwebrtc is using msid to synchronize the RTP streams. CNAME is used for statistics only.  "LS" groups are not supported. Based on the source code (https://cs.chromium.org/chromium/src/third_party/webrtc/call/audio_receive_stream.h?type=cs&q=sync_group&sq=package:chromium&g=0&l=123), there was an issue (https://bugs.chromium.org/p/webrtc/issues/detail?id=4762) to fix how sync

[2019-03-06 22:52] ibc commented on #2114
I agree that LS is the way to go here. At least it does not depend on pure "Web" concepts (such as `MediaStream`).

[2019-03-07 02:13] jan-ivar opened #2119 "RTCIceCandidate construction is under-specified (Editorial)"
For instance, it's not clear how [usernameFragment](https://w3c.github.io/webrtc-pc/#dom-rtcicecandidate-usernamefragment) should be initialized from the constructor. Its initDict cousin should probably be nullable like its siblings.

Also, the non-essential attributes aren't being initialized where we create `RTCIceCandidate`s in the spec.

[2019-03-07 13:02] jan-ivar commented on #2109
Most behavior is not forbidden by specs. My reading of specs is that whatever they say to do is standard; whatever they don't is not.

If we want this behavior to be web compatible, I suggest we specify it. That's [what we did](https://w3c.github.io/mediacapture-screen-share/#constrainable-properties-for-captured-display-surfaces) for screen-capture.

I'm happy to remove the *"will always be missi

[2019-03-07 13:42] guidou commented on #2109
I interpret the text "The basics of MediaTrackSupportedConstraints, MediaTrackCapabilites, MediaTrackConstraints and MediaTrackSettings is outlined [GETUSERMEDIA]" to mean that applyConstraints(), getCapabilities() and getSettings() should work for PeerConnection tracks in the way that is indicated in the getUserMedia() spec.  Thus, I do not see why these functions should not work for PeerConnecti

[2019-03-07 15:07] jan-ivar commented on #2109
It doesn't specify *how* it should work. Implementors should not have to infer this. I think there's precedent here in https://github.com/w3c/mediacapture-screen-share/issues/31.

*MediaTrackSupportedConstraints* is returned from [navigator.mediaDevices.getSupportedConstraints()](https://w3c.github.io/mediacapture-main/getusermedia.html#dom-mediadevices-getsupportedconstraints). How exactly is it

[2019-03-07 15:18] guidou commented on #2109
The getUserMedia spec specifies pretty well how it should work. If it shouldn't work as explained in the getUserMedia spec, then the whole 9.3.1 section should be removed or rewritten.

Yes, it should fire. And, BTW, Chrome is implementing that behavior.

[2019-03-07 15:52] #2111 closed

[2019-03-07 17:17] jan-ivar opened #2121 "Constrainable properties on remote tracks are under-specified"
What behaviors specific to remote peer connection tracks are available through the constraints APIs? There's a [single paragraph](https://w3c.github.io/webrtc-pc/#mediatracksupportedconstraints-mediatrackcapabilities-mediatrackconstraints-and-mediatracksettings) on the topic, and it doesn't say.

From @guidou in https://github.com/w3c/webrtc-pc/issues/2109#issuecomment-470566522, Chrome appears to

[2019-03-07 17:18] jan-ivar commented on #2109
@guidou When I [try it](https://jsfiddle.net/jib1/x7r4pknu/) in Chrome I get `applyConstraints not supported for this track`:
[code]
I get similar output in Canary except it crashes. Is it behind a pref?

FWIW, I would not expect a peer connection to have a `deviceId`, nor mention capabilities that do not make sense, like `facingMode`. [resizeMode](https://w3c.github.io/mediacapture-main/getuserme

[2019-03-07 18:01] guidou commented on #2109
applyConstraints() on remote tracks landed recently, so you need a very recent canaYour example works for me on a recent canary (although getSettings

WRT to resizeMode, I would argue that the spec should say source instead of camera.  The definition of what the property does applies to any source that provides frames, and even getUserMedia() can support devices that are not cameras (but use the s

[2019-03-07 21:37] jan-ivar commented on #2109
@guidou Thanks for the info. Looking forward to trying it! FWIW the crash I got was on 74.0.3726.0 on Mojave.

[2019-03-07 22:58] jan-ivar opened #2122 "pc.close() should null out currentDirection"
[stop()](https://w3c.github.io/webrtc-pc/#dom-rtcrtptransceiver-stop) will *"Set transceiver's [[CurrentDirection]] slot to null."*, whereas [close()](https://w3c.github.io/webrtc-pc/#dom-rtcpeerconnection-close) won't. Omission.

Would be great to find a way for *close* to reuse the [stop the transceiver](https://w3c.github.io/webrtc-pc/#dfn-stop-the-rtcrtptransceiver) algorithm *stop* uses here.

[2019-03-07 23:01] jan-ivar commented on #2122
Chrome already does this, and Firefox will after [bug 1531448](https://bugzilla.mozilla.org/show_bug.cgi?id=1531448).

[2019-03-08 05:25] guidou commented on #2109
@jan-ivar Thanks for the info.
Reporting the deviceId is indeed a bug. In Chrome PC tracks have an internal fake deviceID and the code is exposing like for gUM tracks. We're tracking that bug in https://crbug.com/938840.

As for the crash, thanks for the report. I just tried it on Mac and also got the crash. It works as expected on Linux for me. Filed https://crbug.com/939682

[2019-03-08 09:34] henbos commented on #2121
Observations or starting point-opinions:
- Constraints are usually applied to tracks, not sources. As such, "width" can make sense whether the source is a camera or a network source. However sometimes they only make sense for a particular source... (see below).
- Starting point: Unless otherwise specified or not applicable, constraints should mean the same thing independent of what the source is.

[2019-03-08 09:36] henbos commented on #2121
@armax00 ;)

[2019-03-08 09:51] henbos commented on #2122
My understanding of currentDirection is that it means the "direction currently negotiated", which is why it is updated at setLocalDescription(answer) and setRemoteDescription(answer). Stopping a transceiver is something that needs to be negotiated, which has not been done at either stop() or close(). Setting "stopped" to true is the right thing to do. But touching currentDirection? I'm not sure.

[2019-03-08 09:52] henbos commented on #2122
New definition of currentDirection: "It is either the direction currently successfully negotiated, or if stopped is true it is null"?

[2019-03-08 12:44] fippo commented on #2109
what is the rationale for making this controllable via the track and not the rtpReceiver? (other than the receiver not having a setParameters)

[2019-03-08 12:58] henbos commented on #2122
Or perhaps the definition was always "what it is currently _doing_" in which case this makes perfect sense.

[2019-03-08 15:40] henbos commented on #2122
Nevermind, PR approved.

[2019-03-08 18:26] jan-ivar commented on #2122
@henbos Thanks, did you resolve it, or do you still have the above questions?

[2019-03-10 07:00] alvestrand commented on #2115
When we defined a=msid the first time (in the context of plan B), changing the track ID (aka "appdata") was the way to say "the old track has gone away, you're now seeing a new one".

Now that tracks are identified by their tie to a media section, it's possible to make a change of appdata mean something else - but we also took away the requirement to send it, and the requirement to show it on the

[2019-03-11 08:23] armax00 commented on #2121
My 2 cents.

With respect to the behavior of applyConstraints() as well as gUM constraints, my understanding is that they should behave as filters, not as settings. This means that for local tracks it makes sense to filter which device should be used based on some criteria but with remote tracks this seems blurry, mostly because such parameters are anyway negotiated (hence, I am not sure why, afte

[2019-03-11 09:03] kuddai commented on #2109
Mostly, because the latency parameter we want to change is quite similar to the one which has been already described by MediaStreamTrack applyConstraints algorithm. On the rtpReceiver even getParameters are not having anything similar.

[2019-03-11 15:09] jan-ivar commented on #2121
It's clearly both. Constraints outsource (no pun intended) *user requirements* from a source to its sink(s); a classic *"put the control surface on the result object"* thing. A `width` might reconfigure the camera, or software downscale, doesn't matter. Tracks are inseparable from their source; multiple heads of it.

It's an API. We're in an ugly spot of asking: *"What behavior should this API pro

[2019-03-11 15:29] jan-ivar commented on #2109
There's no rule saying we can't specify a modifiable `receiver.latency` attribute.

Symmetry spell broken. 🧙

[2019-03-12 15:54] henbos commented on #2024
Slides added in the form of a Q&A. If we want to define removeTrack() by invoking replaceTrack() + setting the direction or adding a clarification I think that is an editorial issue.

[2019-03-12 15:57] henbos commented on #2024
I guess this optimization is possible because removeTrack() does not need to acquire new encoding resources. replaceTrack(null) could probably special-case to be synchronous, but it already returns a promise, so I think it would just be confusing. "Do we care?" Meh. But considering this is all shipped, we shouldn't change the async/sync behaviors.

[2019-03-12 15:58] henbos commented on #2024
I think adding a "NOTE" that says "this is basically the same as replaceTrack() + setting the direction (with caveats)" is enough to resolve the confusion.

[2019-03-12 16:31] docfaraday opened #2124 "RTCIceTransport.getRemoteCandidates() does not return prflx candidates"
The spec says getRemoteCandidates() returns the set of remote candidates passed to addIceCandidate, but prflx candidates are never passed to that interface. They are discovered via ICE. It seems that they should make an appearance in getRemoteCandidates() also.

[2019-03-12 20:40] docfaraday opened #2125 "RTCIceCandidateInit has no required fields, so should probably be optional in addIceCandidate"

[2019-03-12 20:42] docfaraday commented on #2125
Note that this gets kinda ugly with legacy addIceCandidate, since the dictionary is the first arg, and the remaining args are not optional...

[2019-03-12 20:48] docfaraday commented on #2115
Ok. So it sounds like a bug in the JSEP spec then?

[2019-03-12 20:54] docfaraday commented on #2125
It seems to me that calling pc.addIceCandidate() being interpreted as an end-of-candidates signal is a violation of the principle of least surprise. Maybe we should make RTCIceCandidateInit.candidate required, and have the empty string convey its present meaning?

[2019-03-12 22:12] jan-ivar commented on #2125
Depends. To discourage anything but `addIceCandidate({candidate: signaledCandidate})`, then yeah we could *require* `addIceCandidate({candidate: ""})` and remove the `""` default. This would make it harder to end candidates "manually" or accidentally.

This is the opposite of WebIDL advice which aims to make calling APIs simpler, but we have a reason. I don't have a strong opinion however.

The le

[2019-03-12 22:53] lgrahl commented on #2125
`addIceCandidate({candidate: ""})` is quite weird to me. I like [how the ORTC API has solved this](http://draft.ortc.org/#dom-rtcicecandidatecomplete).

However, I don't have a strong opinion here either and would be fine with keeping it. From a practical perspective, I haven't heard of issues from users and AFAIK browsers haven't even implemented handling this.

[2019-03-12 23:16] jan-ivar commented on #2125
On purpose. Users aren't supposed to have to end candidates manually, just do:
[code]
and the browsers take care of the rest.

[2019-03-13 05:45] aboba commented on #2092
@henbos @jan-ivar  Would it be helpful to discuss this issue at the March Interim?  If so, can you prepare slide(s) for that discussion?

[2019-03-13 09:32] stefhak opened #2126 "Misalignment with -stats?"
webrtc-pc says on mandatory to implement stats, for RTCVideoReceiverStats, that `framesCorrupted` must be supported. However, webrtc-stats does not define `framesCorrupted`.

[2019-03-13 12:16] henbos commented on #2092
I've made a slide for this.

[2019-03-13 13:18] henbos commented on #2121
I've created a slide for this.

[2019-03-13 13:28] guidou commented on #2121
I agree with @jan-ivar's comment.
I propose we update mediacapture-main to say that the constrainable properties defined there apply exclusively to tracks backed by getUserMedia() calls and that other specs using MediaStreams and related objects should explicitly define the properties that apply to them while respecting the constrainable pattern in general.

[2019-03-13 14:24] docfaraday commented on #2125
So, this information can be useful; for instance, an ICE stack might like to know when to stop waiting for remote ICE candidates to be given to it.

[2019-03-13 14:34] jan-ivar commented on #2092
I said yesterday in review I was having [doubts about this](https://github.com/w3c/webrtc-pc/pull/2102#discussion_r264942039). I've slept on it, and I see a problem: stats.

Stats closely [model internal object lifetimes](http://w3c.github.io/webrtc-pc/#introduction-0), so this isn't just for people who care about stats. Today, our model is that the majority of [monitored objects](http://w3c.githu

[2019-03-13 14:52] henbos commented on #2092
getStats() should only return stats for objects that are "live". If the underlying object that the stats represent is removed, "onstatsended" should fire. This should happen to RTP stream stats already, and if that's not explicit then we should file a spec bug. So yes, if a transceiver is stopped I think it follows that we should fire "onstatsended" for the sender/receiver/rtp stats.

sender/recei

[2019-03-13 14:54] henbos commented on #2092
Sorry, the spec also says "RTP monitored objects are not deleted."

This is surprising to me :O

[2019-03-13 16:21] docfaraday commented on #2125
It seems like nobody has a strong opinion here, so I think it would be prudent to just make addIceCandidate (non-legacy) take an optional RTCIceCandidateInit, so we don't break compat.

[2019-03-13 18:17] lminiero commented on #1174
Apologies for the possibly out of scope message, but following back on a small exchange we had during the interim call (I didn't know how to get in touch with Amit offline), this is just to confirm to @amithilbuch that I do get proper rid RTP extensions in my packets now using M74 simulcast: I was negotiating back using `a=simulcast:recv rid=xxx` instead of `a=simulcast:recv xxx`, so fixing that f

[2019-03-13 19:12] jan-ivar commented on #2024
FWIW I think the spec is [super-clear](http://w3c.github.io/webrtc-pc/#dom-rtcpeerconnection-removetrack) how to implement `pc.removeTrack(sender)`. It's just counterintuitive, a misnomer. Unsure what note will solve that except *"No, really"*. I mean it takes a *sender*...

It's there mostly for [legacy reasons](https://blog.mozilla.org/webrtc/the-evolution-of-webrtc/) and best ignored IMHO. Migh

[2019-03-13 19:26] ibc commented on #1174
Firefox still uses the simulcast draft version 03.

[2019-03-14 05:04] aboba commented on #2114
@inaki Can we separate W3C and IETF specification issues from implementation bugs?

From a WebRTC 1.0 API perspective, the specification supports CNAME in the object model.  Assuming that were to be provided, is it sufficient?

[2019-03-14 14:00] jan-ivar commented on #2020
What we did in [media-capture](https://w3c.github.io/mediacapture-main/getusermedia.html#media-flow) when *setRemoteDescription()* needed a synchronous algorithm was this:

But we should have a good reason for doing this.

The advice I've gotten from DOM folks is it's generally preferable, predictable and safer to always queue a task to fire an event. This is because [event dispatch](https://dom.s

[2019-03-14 15:09] ibc commented on #2114
Hi @aboba, I assume you meant @ibc :)

In my case it's ok with just having CNAME in the object model. Whether it must be in the SDP or not is indeed another subject. Note that CNAME is (theoretically) also sent in RTCP Sender Reports (within a SDES item) so the receiver can correlate it with the media SSRC (already known via SDP or RID).

In the other side, libwebrtc fails to match incoming SSRCs

[2019-03-14 15:40] youennf commented on #2043
WPT issue https://github.com/web-platform-tests/wpt/issues/15840

[2019-03-14 15:50] #2122 closed

[2019-03-14 15:51] #2125 closed

[2019-03-14 16:01] aboba commented on #2115
Closing - bug should be filed against JSEP.

[2019-03-14 16:01] #2115 closed

[2019-03-15 08:12] dontcallmedom commented on #1264
Since isolated streams have moved to webrtc-identity, I've moved [that issue there](https://github.com/w3c/webrtc-identity/issues/27) as well; closing this one as a result

[2019-03-15 08:12] #1264 closed

[2019-03-15 08:14] dontcallmedom commented on #1646
moved to https://github.com/w3c/webrtc-identity/issues/28, closing here

[2019-03-15 08:14] #1646 closed

[2019-03-15 08:20] dontcallmedom commented on #1702
https://github.com/rtcweb-wg/jsep/issues/842 has been closed for a while now, @jan-ivar can we close this issue?

[2019-03-15 08:28] dontcallmedom commented on #2012
I'm not seeing much progress on this, and given our timeline for WebRTC 1.0, it feels unlikely it can be integrated that late in the process.

Also, it's not clear to me that this can't as easily be done via an extension spec.

[2019-03-15 10:37] vr000m commented on #2126
We removed framesCorrupted in https://github.com/w3c/webrtc-stats/issues/308

[2019-03-15 11:31] henbos commented on #2121
Count me in

[2019-03-15 11:34] henbos commented on #2024
See also slide 26: https://docs.google.com/presentation/d/1RmKf-Fb10pF0_P8YwMVCnH2lV7_2_dDREiGI1tY1zl0/edit#slide=id.g411fb2292a_0_8

[2019-03-15 14:12] lgrahl commented on #2012
Thanks for the reminder. I'll create a PR next week. Spec-wise, I don't expect this to be challenging.

[2019-03-15 14:32] dontcallmedom commented on #2012
to be clear (but not to discourage you to create the PR), the timeline to WebRTC 1.0 needs to take into account implementation support, not just inclusion in the spec.

[2019-03-15 21:09] jan-ivar commented on #1702
Yes, closing. Thanks.

[2019-03-15 21:09] #1702 closed

[2019-03-15 22:01] youennf commented on #2124
prflx candidates were not surfaced to JS in the past so this requires some thoughts.
In particular, prflx candidates are not discovered by the same ICE agent as for local/srflx candidates.

WebRTC stats do expose them somehow but it is mandated to not expose https://w3c.github.io/webrtc-stats/#dom-rtcicecandidatestats-address for privacy reasons.

getSelectedCandidatePair() might expose prflx cand

[2019-03-18 08:02] alvestrand commented on #2126
The old name needs to be added to the "obsolete stats" section, for traceability. That's what it's for.

[2019-03-18 11:22] stefhak commented on #2126
I can't find that section in webrtc-pc.

[2019-03-18 13:58] aboba commented on #1174
At the March 2019 interim, there was no interest in changing the WebRTC object model to surface SSRCs.  The debate centered around whether "a=ssrc" lines should be included in SDP - but that is an issue for the IETF rather than the W3C.  As a result, this issue is being closed.

[2019-03-18 13:58] #1174 closed

[2019-03-20 16:04] ExE-Boss opened #2130 "RTCSctpTransport should inherit EventTarget"
`RTCSctpTransport` has the `onstatechange` property which is an event handler property.

It’d make sense if `RTCSctpTransport` inherited `addEventListener` and other methods from [`EventTarget`](https://dom.spec.whatwg.org/#interface-eventtarget).

[2019-03-20 16:45] docfaraday opened #2131 "[[LastOffer]] and [[LastAnswer]] should probably be cleared when negotiation completes"
If we don't clear these when offer/answer completes, it is legal to set them again even though they are likely to be invalid (eg; https://jsfiddle.net/ckz73mfw/). Both Chrome and Firefox have additional checking to handle cases like this, but those checks are not in the spec.

[2019-03-21 10:44] alvestrand commented on #2124
Good questions. The most important part of a prflx candidate (the IP address) is readily observable to anyone with access to the network - but JS generally doesn't have that.

It seems obvious that seeing a candidate in stats or in the active candidate pair, and then not finding that candidate in getRemoteCandidates, is going to be puzzling to users who expect logical consistency between these can

[2019-03-21 10:54] alvestrand commented on #2130
Yes. PR created.

[2019-03-21 13:08] lgrahl commented on #2124
We need to be careful to not expose IP addresses that have been hidden via the use of mDNS. Otherwise, one could create two peer connections A and B:

1. Add all candidates from A to B.
2. Filter out all mDNS candidates from B when adding them to A.
3. B will resolve A's concealed IP addresses and start connectivity checks.
4. A will pick them up as prflx candidates, exposing the IP address again.

[2019-03-21 14:06] docfaraday commented on #2124
I'm trying to understand the threat model here. This might prevent JS from learning about a prflx, but does this really make a difference if you control the ICE agent, or the STUN/TURN servers, or the web server, or any other network element that the browser sends packets to? Am I missing something here?

[2019-03-21 14:15] lgrahl commented on #2124
With my example, you would not need to control any network element and could learn private IP addresses by just creating two `RTCPeerConnection` instances.

[2019-03-21 14:24] docfaraday commented on #2124
Ok, so the threat model here is that you have a host candidate leaked to JS by having two PCs created on the same browser, and using mDNS. mDNS allows STUN transactions to succeed on host candidates without any host candidates being trickled, so we want to hide them from JS.

I can see the value of hiding this information in this case, but having non-obfuscated prflx candidates available in the st

[2019-03-21 14:27] lgrahl commented on #2124
I'm wondering: Is there a concrete use case that would require this?

[2019-03-21 14:31] docfaraday commented on #2124
Did we specify having ICE candidate stats without having a concrete use-case in mind? If so, that's the use-case you're looking for. If not, well... *shrug*

[2019-03-21 14:32] lgrahl commented on #2124
Good question! I pass that on to the stats experts. :slightly_smiling_face:

[2019-03-21 14:34] docfaraday commented on #2124
I wonder; what if we specified that when we learn about our own prflx candidates (ie; we get a STUN response that tells us about them), we trickle them as long as they don't expose any info we want to keep hidden. If we do trickle them, they end up being handled like a srflx.

[2019-03-21 14:39] lgrahl commented on #2124
I can't quite follow that. Can you elaborate? In particular, I don't understand what "trickle them" means.

[2019-03-21 14:48] docfaraday commented on #2124
When the browser receives a response to an ICE check, we treat the XOR-MAPPED-ADDRESS as a newly-discovered local candidate for that component, just like we would do with a response from a STUN server. We check to see whether that IP:port is one we've already discovered, and whether we want to obfuscate it. If neither of those are true, we call the icecandidate event handler with it.

[2019-03-21 14:57] lgrahl commented on #2124
Thanks! How would you determine whether we want to obfuscate a `prflx` candidate?

[2019-03-21 15:03] docfaraday commented on #2124
By looking at the IP address, and comparing it to your local addresses.

I wonder if the same checking should be performed for srflx, actually.

[2019-03-21 15:11] #2119 closed

[2019-03-21 15:13] #2126 closed

[2019-03-21 15:16] #2131 closed

[2019-03-21 15:16] #2130 closed

[2019-03-21 15:47] #2108 closed

[2019-03-21 16:32] youennf commented on #2124
getRemoteCandidates definition is only about candidates added through addIceCandidate.
Given that there is no clear use cases for adding PRFLX candidates, it is suggested to keep the status quo.

Proposal is therefore to close this issue and do the following actions:
- Make it clear in getRemoteCandidates description that PRFLX candidates will not be listed.
- Ensure that getSelectedCandidatePair

[2019-03-21 16:35] youennf opened #2134 "getSelectedCandidatePair needs special treatment for PRFLX candidates"
getSelectedCandidatePair is potentially exposing a used PRFLX candidate.
Given that it does not come from SDP/addIceCandidate, it might contain information not know from the web application, like the IP address.
This should be concealed like done for WebRTC stats.

Also, PRFLX candidates do not have an SDP equivalent, which makes it not straightforward to populate some of RTCIceCandidate propertie

[2019-03-21 16:36] youennf commented on #2124
Filed https://github.com/w3c/webrtc-pc/issues/2134 for getSelectedCandidatePair.

[2019-03-21 16:43] youennf commented on #2124
Related PR: https://github.com/w3c/webrtc-pc/pull/2135

[2019-03-21 16:49] docfaraday commented on #2124
I don't agree. If we have candidate stats, we should be exposing prflx candidates unless there's some good reason not to.

[2019-03-21 17:15] docfaraday commented on #2124
To be clear, I think it is completely reasonable to expose only the remote candidates that have been passed to addIceCandidate, and it is also reasonable to expose only the local candidates that have been signaled via the icecandidate event handler. The change that makes the most sense to me is to signal prflx via icecandidate exactly like we do srflx.

[2019-03-21 17:52] youennf commented on #2124
I agree that in some cases, a prflx candidate could have been a srflx candidate, should the web app provide a STUN server.
I do not see the advantage of trying to manage prflx as srflx (but I see some complexity in doing that).

We need to do signaling of srflx candidates through the web app.
On the other hand, signaling of prflx candidates through the web app is not needed since this is done thro

[2019-03-21 20:26] docfaraday commented on #2124
I would argue that an API that only gives us *some* of the ICE candidate statistics isn't very useful. In my mind, the question is how we make this API useful in the scenario where there are prflx candidates.

[2019-03-22 12:36] youennf commented on #2124
ICE candidate statistics are provided by WebRTC stats.
From https://w3c.github.io/webrtc-pc/#mandatory-to-implement-stats, stats are to be done "when the corresponding objects exist on a PeerConnection".
My interpretation of this rule is that:
- Any ICE candidate that is exposed to JS/provided by JS should have corresponding stats.
- The selected candidate pair should have corresponding stats.
- A

[2019-03-22 13:09] docfaraday commented on #2124
I don't think we ought to make exposure of a candidate to JS via stats (or stats-like stuff, eg getRemoteCandidates/getLocalCandidates) contingent on whether that candidate is part of a selected pair.

[2019-03-22 14:16] youennf opened #2137 "Strengthen generateCertificate expires capping"
Currently the spec says that user agent MAY cap expires value.
Implementations seem to cap by 1 year.
We could strengthen the spec to say that user agent MUST cap expires value.
We could suggest or mandate a maximum cap value, leaving the possibility for implementations to set a smaller cap.

[2019-03-22 14:31] kuddai opened #2139 "Add setTargetJitterBufferDelay method to RTCRtpReceiver"
Following discussion [here](https://github.com/w3c/webrtc-pc/issues/2109), can we add a new method to the `RTCRtpReceiver`, called `setTargetJitterBufferDelay`. It would allow to provide a preference for the user agent for the target jitter buffer delay, but depending on the congestion control and network condition actual delay may differ.

The justification is essentially the same as in previous

[2019-03-22 14:34] kuddai commented on #2109
Closed in favor of #2139

[2019-03-22 14:34] kuddai commented on #2109
Closed in favor of #2139

[2019-03-22 14:34] #2109 closed

[2019-03-22 14:39] kuddai commented on #2139
@jan-ivar, can you please take look?

[2019-03-22 19:50] lgrahl commented on #2137
I don't see any rationale for *MUST* but a guideline as part of a *note* or perhaps even a *SHOULD* is something I would support.

[2019-03-22 20:19] youennf commented on #2137
Current spec says MAY. If we upgrade it to SHOULD, why not going to MUST given that this cap is in place in major implementation?
Spec would document what implementations are already doing.

[2019-03-22 20:28] lgrahl commented on #2137
Most WebRTC implementations also violate message integrity on data channels. The point being that just because it's being done, it doesn't necessarily justify moving it into the spec. :slightly_smiling_face:

[2019-03-22 20:55] lgrahl commented on #2137
To elaborate, I believe just switching from *MAY* to *MUST* would not add any value if there's no concrete guideline. This is what I was arguing about in the above comments.

Going back to what @martinthomson stated:

Based on that, it may make sense to say *MUST limit to less than or equal to X but MAY go below that*. Maybe I misinterpreted your previous comments and this is what you proposed.

I

[2019-03-22 21:11] youennf commented on #2137
Yes, I think we are on the same page then.

[2019-03-22 21:20] steely-glint commented on #2137
Yeah, we use it and I wouldn't have a problem with a MUST of say 1 year. Any lower could hinder usability.
The problem comes when the expiry is shorter than the time between re-use of a periodically used system. Ideally don't want to have to push message people just to rotate their keys to the robo-lawn-mower every month of the winter when the thing is in the shed and probably powered down.

[2019-03-22 21:24] steely-glint commented on #2137
Given that these certs aren't backed up anywhere, any system has to have a way for a user to obtain fresh keys when the user loses their phone/resets it. So these are really a medium term distributed  identity cache.

[2019-03-22 21:34] youennf commented on #2124
@alverstrand might know more about the intent of this rule, maybe I am misinterpreting what the minimum stats production requirements are.
An implementation is free to provide additional stats if desired.

I would separate this discussion from getRemoteCandidates/getLocalCandidates.
These are convenience APIs exposing data going through icecandidate events/addIceCandidate.
We might need to change

[2019-03-23 21:11] alvestrand commented on #2139
I actuallly prefer the latency-on-track format. It allows us to specify a parameter reasonably consistent with the value for sending tracks, and allows the full expression power of constraints ("not less than this" and "no more than this", with "preference for something like this" all expressible), rather than just saying "this is the value you have to aim for".

It also gives us a well defined sp

[2019-03-24 09:28] murillo128 opened #2141 "Missing specification on how to assign bandwidth between encodings and/or drop simulcast layers"
During the IETF hackaton we have found a weird situation in chrome with latest simulcast implementation via addTransceivers in which the ordering of the encoding affects how the bandwidth is allocated to the different simulcast encoding:

https://bugs.chromium.org/p/webrtc/issues/detail?id=10469

If the reverse order of encodings is used on the addTransceiver call, all of the bandwidth will be ass

[2019-03-24 09:45] murillo128 commented on #2141
A possible solution would be to add the following attributes to the `sendEncodings`:

- `minBitrate` : bellow this threshold the encoding/layer will be dropped (i.e. will not be sent until there is enough bandwidth to start sending it again). Default: `0`
- `weight` : weight of this encoding compared to the other encodings of this sender. Default: `1/scaleResolutionBy`
- `dropOrder` : In case two

[2019-03-24 10:26] lminiero commented on #2141
I'm personally fine "privileging" lower layers (just to ensure we always have something to decode no matter the bandwidth) but I agree that once higher layers do appear, the bandwidth allocation should be more balanced as a consequence. I don't have a particular preference over the specific mechanism, but `minBitrate` sounds reasonable, even though in practice it may be difficult to enforce; `weig

[2019-03-24 10:30] murillo128 commented on #2141
@lminiero what IMHO is critical is having a consistent behavior between browser and don't have to check how each browser implements it (which may be even incompatible) in order to do our sfu logic.

[2019-03-24 10:32] lminiero commented on #2141
100% agree.

[2019-03-24 10:32] youennf opened #2142 "Set the configuration is unnecessarily checking for some members being set"
https://w3c.github.io/webrtc-pc/#set-the-configuration in step 5 is saying:
"If the value of configuration.bundlePolicy is set ..."

This check seems to suggest that the following is allowed:
const pc = new RTCPeerConnection({bundlePolicy: "max-compat"})
pc.setConfiguration({}); // Should not throw.

Given that bundlePolicy takes a default value of "balanced", I would think that configuration.bund

[2019-03-24 14:32] ibc commented on #2141
I don't like `minBitrate` at all. It may affect "super efficient" encoders. Just imagine you send audio with DTX and set `minBitrate: 20000`. During silence the bitrate will be mostly zero. What does it mean? Does it mean that the browser should "disable" such an encoding?

Coming back to the issue and proposals above:

As Adam Roach said in Twitter, there is some spec (and I don't know which one

[2019-03-24 14:37] lminiero commented on #2141
Just a note that this may have an impact on [draft-ietf-mmusic-sdp-simulcast](https://tools.ietf.org/html/draft-ietf-mmusic-sdp-simulcast-14) in the IETF, though, which is where the snippet Adam pasted comes from.

[2019-03-24 14:38] murillo128 commented on #2141
I agree, but we need to know when a layer should be dropped first, that's why I proposed the `minBitrate` (and it could be always set to 0). I would be happy with any other mechanism that produces reproducible and predictable results about when a layer should be paused/resumed.

[2019-03-24 14:38] ibc commented on #2141
Not in my comment. I said:

[2019-03-24 14:42] lminiero commented on #2141
@ibc you're right, that proposal would be in line with the draft :+1:

I was mostly referring to any other effort that may break the current rules: in case we propose changes here, we might need the related changes made there too.

[2019-03-24 14:43] ibc commented on #2141
I will delete my previous comment about the `minBitrate` proposal since I did not properly understand it. Anyway:

If there are three encodings with `minBitrate': 1000, `minBitrate`: 2000 and `minBitrate`: 3000, and the TOTAL BWE is 3500, what should happen? the browser may send streams 1 and 2, or just 3. IMHO this does not fix the problem. A explicit `dropOrder` looks much better.

[2019-03-24 14:45] murillo128 commented on #2141
@ibc : firom the psudo algorithm I outlined avobe:

[2019-03-24 15:02] murillo128 commented on #2141
or another alternative, when there is a layer which `minBitrate` cannot be satisfied, then layers are dropped by the `dropOrder` until all the `minBitrate`s of the remaining layers are satisfied.

[2019-03-24 17:20] ibc commented on #2141
I still don't know whether such a encoding needed `minBitrate` must be compared to the **total** available BWE ro just to the "fraction" that corresponds to that specific encoding based on... on things.

I mean: the assigned bandwidth of which encoding the browser should reduce if there are network issues/limitations? To clarify. You said:

If the current bitrate of a encoding does not satisfy its

[2019-03-24 17:54] murillo128 commented on #2141
For example imagine that you have the following encoding settings:

- rid: a minBitrate:700 weight:4 dropOrder=1
- rid: b minBitrate:300 weight:2 dropOrder=2
- rid: c minBitrate:100 weight:1 dropOrder=3

Now, let's say that the BWE is of 2048kbps and that only this video track is present. Then the total weight of the encodings would be 7 and each rid will get the following bandwidths:

- rid a bw=

[2019-03-24 18:12] ibc commented on #2141
Ok. It looks good but IMHO too complex (finally those are 3 new fields!). But indeed if we remove the `minBitrate` field the browser would keep sending all layers even in bad circumstances.

However, you know that current implementations assume they can stop a layer without too much rationale (they just do it). Would that be the effective behavior if `minBitrate` is not given?

I've also some doub

[2019-03-24 18:34] murillo128 commented on #2141
I prefer when parameters have one and only one meaning, they introduce less complexity on the long run than parameters that are used for multiple purposes.

Calculating `weight` internally based on other parameters may  prevent you for doing some use cases like high fps but low weight, or low fps high weight (for screensharing for example). On my initial proposal the default value was `1/scaleReso

[2019-03-24 18:58] ibc commented on #2141
* "high fps but low weight": Isn't better if you set high `minBitrate` and low `dropOrder`?
* "low fps and high weight": You can set low `minBitrate` and high `dropOrder`.

I think the result would be very similar and we avoid an extra parameter.

[2019-03-24 23:32] aboba commented on #2141
How is this different from Issue https://github.com/w3c/webrtc-pc/issues/2080?

[2019-03-24 23:34] ibc commented on #2141
I think this issue is much more complete than #2080 given that here we do not assume simulcast as the only valid use case for multiple encodings.

[2019-03-24 23:36] aboba commented on #2124
Since `getRemoteCandidates` was defined in ORTC several years ago, it has been clear that it only returned candidates which were previously added by `addCandidates`.  See: http://draft.ortc.org/#dom-rtcicetransport-getremotecandidates

[2019-03-25 21:06] jan-ivar commented on #2139
How would `latency: {min: 0.5, ideal: 0.7, max: 0.9}` differ from `latency: 0.7`?

How would it differ from `latency: {min: 0.2, ideal: 0.7, max: 1.2}`?

"flexibility in implementation" != standard. We'd have to specify this.

I also commented in https://github.com/w3c/webrtc-pc/pull/2138#issuecomment-475774761 but we should move here.

[2019-03-25 21:26] jan-ivar opened #2143 "SLD({type: "offer"}) wo/createOffer should be InvalidModificationError"
What error should this produce?
[code]
The default `""` sdp matches **[[LastOffer]]**, which is also `""` here since *createOffer* was never called, so we get past the *InvalidModificationError* check, which seems unintentional.

*RTCError*? *InvalidAccessError*? *OperationError*?

I vote we improve the *InvalidModificationError* check to catch it.

[2019-03-26 07:53] alvestrand opened #2144 "Procedure for DataChannelId assignment on transport open not specified"
The procedure at http://w3c.github.io/webrtc-pc/#connected-procedure (SCTP transport connects) specifies that all the DataChannels will open. It does not specify how IDs will be assigned to those channels that haven't been assigned IDs before.

Suggestion: Add a step between 1 and 2 that allocates an ID if it is currently null. If no ID could be allocated (such as when MaxChannels is <= #open chan

[2019-03-26 08:50] lgrahl commented on #2144
Good catch. We can copy & paste most of step 19 of [createDataChannel](http://w3c.github.io/webrtc-pc/#rtcpeerconnection-interface-extensions-0) for that purpose.

[2019-03-26 08:52] lgrahl commented on #2144
Be aware of #1818. So, we could either make a quick fix as proposed in my previous comment or move data channel ID assignment of in-band negotiated channel to the SCTP transport connected procedure and have it always be `null` before, regardless of whether or not the DTLS role has already been established.

[2019-03-26 11:23] alvestrand commented on #2144
data channel assignment of in-band negotiated channel can't be moved to the SCTP transport connected procedure in general, because when you call createDataChannel() after the SCTP connection has been established, ID assignment should be immediate.

[2019-03-26 12:34] lgrahl commented on #2144
Right. Then, at least we could make it a separate algorithm referred by both.

[2019-03-26 13:01] alvestrand commented on #1818
It seems that the spec had this halfway fixed, by specifying that id is nullable and not assigned until the DTLS role is assigned - but the fix missed the other half, that of specifying how to assign id once the DTLSTransport exists (which is what #2144 was about).
Closing #2144 as a duplicate of this one.

[2019-03-26 13:01] alvestrand commented on #2144
This was already discussed in #1818. Closing as duplicate.

[2019-03-26 13:01] #2144 closed

[2019-03-26 20:18] jan-ivar opened #2145 "createOffer does not guard against "have-remote-offer""
There's no limit on when *createOffer* may be called today. *"Unlike createOffer, repeated call to createAnswer cannot be used again with setLocalDescription because doing so is invalid in stable state."* https://github.com/w3c/webrtc-pc/issues/1183#issue-227312645

It seems the reason is *createOffer* may be called from `"stable"` *and* `"have-local-offer"`.

But @docfaraday pointed out to me tha

[2019-03-27 14:27] murillo128 commented on #2141
@aboba #2080 is only about what layer should be dropped first, but it does not cover how the bandwidth should be split between the different layers and it's relationship with the order of the encodings.

My tentative proposal would cover both issues tough.

[2019-03-27 14:31] ibc commented on #2141
Friendly reminder that if we constraint encodings to just mean simulcast we'll have giant problems when SVC came into the spec and implementations.

[2019-03-27 15:37] murillo128 commented on #2141
The current proposal for adding SVC to webrtc (https://w3c.github.io/webrtc-svc/) that has been discussed over the last meetings has diverged from the ORTC one, and does not rely on different encodings to set SVC layers but on the scalability mode within each encoding.

So my understanding is that each encoding maps 1-to-1 to a simulcast layer (even if using different codecs).

[2019-03-27 16:45] ibc commented on #2141
It seems easy to implement:

![L4T7_KEY_SHIFT](https://user-images.githubusercontent.com/16191/55095252-20712000-50b8-11e9-8985-e9b12924ea18.png)

[2019-03-27 16:50] ibc commented on #2141
BTW I just like the [webrtc-svc](https://w3c.github.io/webrtc-svc/) proposal and its simple `scalabilityMode` parameter. It looks like `encodings` should probably be renamed to `streams` (as that is what it's about at the end) but anyway.

[2019-03-27 16:51] murillo128 commented on #2141
That is one of the standard SVC modes for AV1, try to configure that scalability structure with 27 encodings in an ORTC way.. ;)

[2019-03-27 16:55] murillo128 commented on #2080
I disagree that #2141 is a duplicate of this, anyway:

What does it mean "highest priority", I may want a layer with more bandwidth but that is dropped the first, is it the highest or the lowest priority layer?

[2019-03-27 16:55] ibc commented on #2141
I'm pretty sure the biggest problem wouldn't be how to fill those complex `sendEncodings` but making browsers correctly interpret them. But yes, you are right.

[2019-03-27 20:51] jan-ivar opened #2147 "simulcast offer doesn't work with addTrack. An omission"
https://github.com/w3c/webrtc-pc/pull/2081 put all simulcast processing of offers from SFUs under:

 *"3. If no suitable transceiver is found (transceiver is unset), run the following steps:"*

This means that when a suitable transceiver from *addTrack* **is** found—[section 5.10](https://tools.ietf.org/html/draft-ietf-rtcweb-jsep-25#section-5.10) says they're suitable—then we succeed without proc

[2019-03-27 20:58] fippo commented on #2147
Thanks @jan-ivar! I've run into a couple of bugs in Chrome [here](https://bugs.chromium.org/p/chromium/issues/detail?id=944821)

I do not think that `SRD, then use replaceTrack on a sender` is an API we should promote. Also there seem to be some cases where addTrack works (when called after setRemoteDescription; this is covered by the reuse in the addTrack algorithm afaics).

Quite oddly, calling

[2019-03-27 21:30] jan-ivar commented on #2147
[suitable](https://tools.ietf.org/html/draft-ietf-rtcweb-jsep-25#section-5.10) = *"If the m= section is sendrecv or recvonly, and there are RtpTransceivers of the same type that were added to the PeerConnection by addTrack and are not associated with any m= section and are not stopped, find the first (according to the canonical order described in Section 5.2.1) such RtpTransceiver."*

The WG decid

[2019-03-28 04:19] jan-ivar opened #2148 "Clarify or fix racy peerIdentity validation failure"
I was reviewing [some identity code](https://github.com/web-platform-tests/wpt/blob/master/webrtc-identity/RTCPeerConnection-peerIdentity.html#L75) I think is racy on failure:
[code]
...because `pc2` in this instance has no [target peer identity](http://w3c.github.io/webrtc-pc/#target-peer-identity) before [SRD](http://w3c.github.io/webrtc-pc/#dom-peerconnection-setremotedescription):

I read thes

[2019-03-28 15:10] jan-ivar opened #2150 "transceiver.stop() needs more work (avoid BUNDLE footgun)"
Most API complaints I hear are from people negotiating manually. It's hard to get right, and steeped in historical reasons (needing to munge SDP, Chrome's `negotiationneeded` not working). So let's check in on `negotiationneeded`:

[code]
Clicking the button will most likely stop only the first transceiver, but once in a blue moon it will stop all of them. That's broken. 😞

Quick reason: `stop()`

[2019-03-28 15:35] alvestrand commented on #2141
We should have some words saying that the browser needs to do "something sensible" - this will depend on the scaledownby and max-bandwidth parameters, it's complex (and likely undesirable) to specify exactly how bandwidth should be distributed under congestion, but the first example in the comment chain is clearly wrong.

[2019-03-28 15:57] aboba commented on #2023
hbos to mark this as a "feature at risk".

[2019-03-28 20:39] ibc commented on #2141
@alvestrand may I know please which "first example in the comment chain" you mean?

[2019-04-02 08:44] alvestrand opened #2157 "DatachannelInit "id" attribute description inconsistent with procedure"
In section 6.1 bullet 13, the spec says that "id" is ignored when "negotiated" is false.

In the attribute description of "id", it says "Overrides the default selection of ID for this channel."

The datachannel tests just merged seemed to assume that "id" would override the selection even when "negotiated" was false. This shows that the description can appear inconsistent.

Suggested fix: Change "

[2019-04-02 08:49] alvestrand opened #2158 "DataChannel max value for "id" before connecting?"
Current spec says:

18. If [[DataChannelId]] is equal to 65535, which is greater than the maximum allowed ID of 65534 but still qualifies as an unsigned short, throw a TypeError.

20. Let transport be the connection's [[SctpTransport]] slot.

If the [[DataChannelId]] slot is not null, transport is in the connected state and [[DataChannelId]] is greater or equal to the transport's [[MaxChannels]] s

[2019-04-02 08:49] alvestrand commented on #2158
Tagging @lgrahl

[2019-04-02 09:22] lgrahl commented on #2158
[rtcweb-data-channel-13, sec 6.2](https://tools.ietf.org/html/draft-ietf-rtcweb-data-channel-13#section-6.2) says that implementations should allow for 65535 channels (with ids 0 to 65534):

     The number of streams negotiated during SCTP association setup SHOULD
     be 65535, which is the maximum number of streams that can be
     negotiated during the association setup.

IIRC from what @tuexe

[2019-04-02 09:35] lgrahl commented on #2157
Which ones are you referring to?

Agree with the suggestion, though. :+1:

[2019-04-02 09:36] alvestrand commented on #2158
The code in webrtc.org's code indicates that the memory footprint of increasing channels from the current 1024 to 65535 is worrisome:
[code]

[2019-04-02 09:43] lgrahl commented on #2158
The ahead-of-use memory allocation overhead is an implementation problem. Just like the lack of ndata results in stream monopolisation and ignorance of stream prioritisation is an implementation problem. I'm not convinced the spec should work around these. Instead, it should aim at how it's supposed to be.

[2019-04-02 11:01] alvestrand commented on #2157
RTCPeerConnection-createDataChannel, subtest   `createDataChannel with id ${id} should succeed`

Fix is in https://chromium-review.googlesource.com/c/chromium/src/+/1547975

[2019-04-02 11:31] lgrahl commented on #2157
Cheers. Good catch! :+1:

[2019-04-02 22:23] tuexen commented on #2158
The number of data channels is dynamic. The best way to deal with this is to use the capability of SCTP to increase the number of streams during the lifetime of an association. This was specified in earlier versions of the internet draft and implemented in Firefox, if I remember it correctly. However, the WebRTC WG decided that having the procedure to add dynamically streams to an existing associa

[2019-04-04 08:26] henbos opened #2159 "Clarify update negotiation needed"
This step can easily be misinterpreted:

The remote description's direction need to be reversed in order to check if the transceiver direction "matches" with it.

Example:
[code]

This should cause negotiation needed because direction recvonly does not match our POV of the remote's "recvonly" which is "sendonly", but if you take the above paragraph literally you would compare this to "recvonly" an

[2019-04-04 11:51] henbos commented on #2139
This will be moved to an extension spec, closing. See also https://github.com/w3c/webrtc-pc/pull/2149.

[2019-04-04 11:51] #2139 closed

[2019-04-04 14:10] #2147 closed

[2019-04-04 14:34] alvestrand commented on #2142
Youenn, can you propose a PR?

[2019-04-04 14:48] alvestrand commented on #1812
Discussion is done, and the test bug exists. Closing.

[2019-04-04 14:48] #1812 closed

[2019-04-04 16:25] jan-ivar opened #2161 "Too many test links in the spec, some redundant"
After https://github.com/w3c/webrtc-pc/pull/2156 merged, I see lots of test links in the spec, which is great! I'm not sure if they are in their final visual form yet (could they be smaller perhaps?), but I think there are too many of them right now, making it a bit hard on the eyes.

Some of them seem redundant. For instance, I don't think steps that create internal slots, like in [create an RTCR

[2019-04-04 16:41] dontcallmedom commented on #2161
Re test links being too noisy, I don't disagree - I think a css rule to hide by default the relevant `<details>` element would be right; I'm working on building a test-dedicated view separately.

Re redundant links, I agree there is probably room for deduplication - as long as we make sure we don't leave normative text without an attached test case.

(I will have very little availability in the up

[2019-04-04 17:19] alvestrand commented on #2161
I note that the test links are also missing /webrtc/ - so they all go 404. I guess this is a fixable bug.

[2019-04-04 17:22] dontcallmedom commented on #2161
I've fixed the links (a / was missing the testSuiteURI in the config)

[2019-04-04 17:27] jan-ivar commented on #2161
On second thought, I realize the steps I mention set default values, which I gather can and should be tested.

[2019-04-05 16:08] lgrahl commented on #2158
First of all: I agree that WebRTC compatible endpoints (but **not** browsers) must be able to announce less than 64k streams. Definitely needed when talking to a small embedded device. But that's covered by the spec as it is today.

Realistically, if a browser encounters such a scenario where ~6 MiB more would result in OOM, it's probably already doomed. :slightly_smiling_face:

Hrm, I can't quite

[2019-04-06 08:09] alvestrand commented on #2158
My current worry about the negotiation thing is that when you create a datachannel that requires negotiation, the id will have to remain -1 and the state remian "opening" until the negotiation is completed - after which it will transition to "open" or "closed" depending on the outcome.

It is reasonable to think that since this is a rare case, people will forget to program for it.

[2019-04-06 08:40] lgrahl commented on #2158
The maximum amount of streams is something that will always be negotiated during the SCTP handshake. And since we can't assume the other endpoint is a browser, what you worry about is something that can and will happen.

For example, the browser supports 64k streams but the remote is something tiny and only supports 8 inbound and 8 outbound streams.

1. Calling `createDataChannel('foo')` five time

[2019-04-07 20:13] jan-ivar opened #2164 "Silence OperationError in addIceCandidate from stop()"
In [bug 1542370](https://bugzilla.mozilla.org/show_bug.cgi?id=1542370) we discovered that rollback may cause subsequent *addIceCandidate* calls to error:

It seems unreasonably difficult for JavaScript to detect and suppress these failures, so we propose that *addIceCandidate()* silently discard these candidates without error.

[2019-04-07 21:09] jan-ivar opened #2165 "A simpler glare-proof setLocalDescription()"
In [my latest blog](https://blog.mozilla.org/webrtc/perfect-negotiation-in-webrtc/) on *"Perfect negotiation in WebRTC"*, I discovered that most `negotiationneeded` code is glare-prone. E.g.
[code]
In short, *createOffer* is asynchronous and takes time, so a remote offer may race us here and sometimes take us out of `"stable"` to `"have-remote-offer"`, beating our call to *setLocalDescription*, ca

[2019-04-07 21:31] jan-ivar opened #2166 "A simpler non-racy rollback"
In [my latest blog](https://blog.mozilla.org/webrtc/perfect-negotiation-in-webrtc/) on *"Perfect negotiation in WebRTC"*, I cover using `negotiationneeded` and `"rollback"` in combination to abstract away negotiation. I describe implementing something I call "the polite peer" (a peer that rolls back in the face of an incoming offer):
[code]
In the blog I cover in depth why the `Promise.all` is nee

[2019-04-07 23:42] jan-ivar opened #2167 "{iceRestart: true} works poorly with negotiationneeded"
The currrent ICE restart API doesn't work well with `negotiationneeded`. Say you have this:
[code]
How is the application supposed to restart ICE? Break that abstraction and call the methods directly, duplicating whatever logic the app may have put in there—after of course first checking we're in `"stable"` state and handling glare? That seems error-prone.

Performing an ICE restart is an applicat

[2019-04-08 06:35] fippo commented on #2167
What keeps the app from doing this:
[code]
Adding a restartIce method leads down the slippery slope of triggering it based on peerconnection logic, not application logic.

[2019-04-08 15:27] jan-ivar commented on #2167
@fippo `iceconnectionstatechange` does not wait for `"stable"` state, so that code will fail occasionally. I think safer APIs will avoid these races.

I don't see that, but feel free to clarify. I see quite the opposite. It's today's API that seems buried in the details of peer connection's negotiation handling.

`negotiationneeded` is meant to help people encapsulate the detail-task of negotiatin

[2019-04-08 16:55] alvestrand commented on #2167
On general principles, I object to adding new API surface to WebRTC 1.0.

It's not clear to me that the original question is well formed; what in the quoted code indicates that the application ever wants to restart ICE?

[2019-04-08 16:57] fippo commented on #2167
@jan-ivar ah... i typically write such code to wait for signalingstate=stable or enqueue an operation until signalingstatechange -> stable. Which results in the same thing you do, but avoid ONN

[2019-04-08 18:05] jan-ivar commented on #2167
@alvestrand This isn't about adding new stuff, rather it's about fixing old stuff so it works with ONN.

I welcome you to read the [blog I just posted](https://blog.mozilla.org/webrtc/perfect-negotiation-in-webrtc/), "Perfect negotiation in WebRTC", where I explore the full potential of ONN and rollback. My conclusion is that the WebRTC API is inherently racy, and will be too hard to use safely if

[2019-04-08 18:23] fippo commented on #2167
hrm. What @jan-ivar proposes is not polyfill-able, right? He has a very good point that without this, ONN seems unfinished.

:+1:

[2019-04-09 10:35] guest271314 commented on #2148
@jan-ivar What is the correct approach as defined in this and/or the identity repository to set `peerIdentity` for the purpose of `MediaStreamTrack`s not being set to `"remote  "` and "isolated", where `MediaRecorder` throws a security error? Both `PeerConnection` streams are local. Read https://www.w3.org/TR/webrtc-identity/#dom-rtcidentityassertion, https://github.com/web-platform-tests/wpt/edit

[2019-04-10 08:56] fippo commented on #2167
one concern I have: I am observing calls to createOffer and look for {iceRestart: true} to determine if an ice restart happened. You are hiding this by using an internal slot.

wdyt about
[code]

[2019-04-10 12:51] jan-ivar commented on #2167
@fippo That would make the `restartIce` method a dud unless people explicitly did this? That seems a a bit lame.

I don't think we'd need to compromise `restartIce` to expose something like `pc.iceRestarting`, but TBH I don't understand the use-case for this. If this is for a polyfill, you're probably better off intercepting the `restartIce` method directly to obtain this information.

[2019-04-10 12:55] jan-ivar commented on #2167
@fippo Couldn't you also observe this by looking at the sdp from `await pc.createOffer()`?

[2019-04-10 13:09] fippo commented on #2167
@jan-ivar it would still trigger ONN

And yes, this could be observed by comparing the SDP between createOffer calls but that is... :-)

[2019-04-10 13:47] jan-ivar commented on #2167
But it would trigger ONN, and keep triggering ONN, in a loop...

[2019-04-10 13:55] #2092 closed

[2019-04-10 14:17] henbos commented on #2167
I think restartIce() is a nicer API than createOffer({restartIce:true}) for the ONN reasons mentioned here. It's an action that requires negotiation, and all other things that fall into this category cause ONN. But I do think O/A is inherently a fragile API regardless due to signaling state surprises (what if SRD(offer) happens between createOffer() and setLocalDescription(offer)?), so I'm not sur

[2019-04-11 00:14] jan-ivar commented on #2167
I guess you didn't read [my blog](https://blog.mozilla.org/webrtc/perfect-negotiation-in-webrtc/)? it solves that. See https://github.com/w3c/webrtc-pc/issues/2165.

Well, I didn't call my blog *"Perfect negotiation in WebRTC"* for nothing. 🙂 I do actually believe I've solved the fragility of it. Happy to have people poke holes in it, if they can.

I'm super cognizant of the need to reach 1.0. Tha

[2019-04-11 11:47] alvestrand commented on #2141
@ibc https://github.com/w3c/webrtc-pc/issues/2141#issue-424592590

[2019-04-11 11:56] aboba commented on #2167
@fippo In ORTC, an ICE restart can potentially be done in multiple ways, some of which may also supported in [WebRTC-ICE](https://w3c.github.io/webrtc-ice/), such as allowing`RTCIceTransport.start()` to be called multiple times.

[2019-04-11 12:14] aboba commented on #2167
@alvestrand Not clear to me that a `restart` method can't be emulated:

. . .
var options = {iceRestart: false} ;

async function negotiate() {
  await pc.setLocalDescription(await pc.createOffer(options));
  io.send({desc: pc.localDescription});
}
pc.onnegotiationneeded = () => negotiate();
pc.oniceconnectionstatechange = (e) => {
  if (pc.iceConnectonState == 'failed') {
    options.iceRestart =

[2019-04-11 13:19] jan-ivar commented on #2167
@aboba That won't trigger renegotiation, so it won't do anything.

[2019-04-11 14:29] youennf opened #2170 "data channel default binaryType value is 'blob'"
The default binaryType value is 'blob' in the spec.
Firefox implements it but Chrome and Safari uses 'arraybuffer'.
'arraybuffer' might be more convenient for web developers.
It could be promoted to the default value.

[2019-04-11 14:50] lgrahl commented on #2170
Although I generally find `ArrayBuffer` more useful, I'm not sure it is a good idea to do this late.

What do you think, @jesup?

[2019-04-11 14:56] youennf commented on #2170
My biggest concern is that we would no longer be aligned with WebSocket.binaryType default value.

[2019-04-11 15:26] jesup commented on #2170
The point of the overall design for the JS interface was to largely ducktype to WebSockets, so (other than setup code) you can substitute a DataChannel for a WebSocket.
Two issues: any code that assumes the default as specified for the last ~6 years might break.  (This is mitigated by Chrome and now Safari not following the spec, requiring any user to deal with that.)  The other is that it require

[2019-04-11 16:39] alvestrand commented on #2026
@foolip can you help us guess what the cost is going to be?

[2019-04-11 16:39] alvestrand commented on #2026
@foolip can you help us guess what the cost is going to be?

[2019-04-11 16:40] alvestrand commented on #2026
@dontcallmedom ?

[2019-04-12 21:01] aboba commented on #2080
Decision from April Interim: Harald to develop PR highlighting currently supported solution.

[2019-04-13 21:16] guest271314 opened #2171 "Clarify "multiple sources of media stitched together" at Note describing replaceTrack"
1) Am consider composing a PR for another W3C repository (MediaRecorder) which will prospectively use language contained in this W3C repository; the description of replaceTrack() https://w3c.github.io/webrtc-pc/#dom-rtcrtpsender-replacetrack, particularly

2) When reading content in this specification relating to `replaceTrack()` there is a note at https://w3c.github.io/webrtc-pc/#dom-rtcrtpsender

[2019-04-14 05:41] fippo commented on #2171
"multiple sources of media stitched together" is probably describing the time behaviour, i.e. that RTCRtpSender is supposed to generate a continuous series of timestamps.

[2019-04-14 09:13] guest271314 commented on #2171
@fippo The code at Chromium source appears to use

`std::unique_ptr<WebRtcMediaStreamTrackAdapterMap::AdapterRef> track_ref;` at several occasions, particularly at https://github.com/chromium/chromium/blob/1dc524aa4005eb08c533f2a344d5812863ae60a5/content/renderer/media/webrtc/rtc_rtp_sender.cc#L192

[code]

is that the basis of the code which performs the task of "multiple sources of media stitche

[2019-04-15 14:00] chxg opened #2172 "Clarify the definition of "playout" for `RTCRtpContributingSource`."
This is related to [WebRTC Issue 10545](https://bugs.chromium.org/p/webrtc/issues/detail?id=10545).

There seem to be some confusion around the exact definition of "playout" for [RTCRtpContributingSource](https://w3c.github.io/webrtc-pc/#dom-rtcrtpcontributingsource):

1. **After receiving a packet. Before it's added to the jitter buffer.**

This interpretation is supported by:

2. **After a packe

[2019-04-15 21:13] jan-ivar opened #2173 "Timing of setRemoteDescription's identity validation is unclear"
The steps under [setRemoteDescription](https://w3c.github.io/webrtc-pc/#dom-peerconnection-setremotedescription) talk about two things:
  1. calling the [setting an RTCSessionDescription](http://w3c.github.io/webrtc-pc/#set-description) algorithm, and
  2. validating any identity assertion.

But it doesn't nail down the timing between the two. This must be clarified.

I believe the [setting an RTC

[2019-04-17 03:22] na-g opened #2174 "Should DataChannels have a getStats() method, should they be usable as selector to the getStats algorithm?"
As it stands if one wants to check the stats of a RTCDataChannel one needs to poll the stats of the entire PC. Does it make sense to allow `RTCDataChannel` stats to be accessed directly like `RTCRtpSender`s and `RTCRtpReceiver`s via a `getStats()` method? Does that also imply that `RTCDataChannel`s should be accepted as a selector for the `getStats()` algorithm?

[2019-04-17 14:00] jan-ivar opened #2176 "Spec steps on stop() underestimate BUNDLE problem."
Our [BUNDLE warning](http://w3c.github.io/webrtc-pc/#methods-8) says:

This suggests the problem is limited to calling `stop()` in `"have-remote-offer"`, but the same problem exists if `stop()` has been called *before* SRD(offer).

This is true only if we replace "a subsequent" with "an immediate", and assume an SRD(offer) cannot come in beforehand. It also assumes our offer isn't rolled back.

[2019-04-17 14:10] henbos commented on #2176
Stop()... our old nemesis is back. Jan-Ivar I think we need to burn the body once we are done with it for it not to come back alive.

[2019-04-17 14:57] jan-ivar commented on #2150
Due to https://github.com/w3c/webrtc-pc/issues/2176 I no longer think there's a way to make `stop()` work safely with the offerer-tagged m-line being one of the exposed transceivers.

The BUNDLE spec [says](https://tools.ietf.org/html/draft-ietf-mmusic-sdp-bundle-negotiation-54#section-7.2.1): *"It is RECOMMENDED that the suggested offerer tagged "m=" section is a bundled "m=" section that the off

[2019-04-17 16:01] jan-ivar commented on #2150
And:

  4. Fix/violate BUNDLE, by having all browsers support moving the bundle group to an active m-line?

[2019-04-17 19:29] jan-ivar commented on #2150
Even this workaround has wrinkles: it [won't work](https://jsfiddle.net/jib1/6ct0b8fq/33/) with *addTrack* which will reuse the dummy.

if we get around that, having both ends do this, means we end up with *two* extra m-lines, not one.

[2019-04-18 14:34] jan-ivar commented on #2172
"Playout" is 3. Isn't that clear? This is what Firefox implements. The primary goal of this info is audio bars visually synced with playing video.

[2019-04-18 14:50] aboba commented on #2171
@fippo Yes, this is referring to generating a single RTP stream, with continuous timestamps and a single sequence number space.

[2019-04-18 14:56] jan-ivar commented on #2171
It's stitched together over time. The purpose of this note is more to dispel the 1:1 myth of tracks. I think the vague language here is fine to convey that. I don't think this note counts as citeable.

[2019-04-18 14:59] jan-ivar commented on #2170
Good points raised. I reverse my earlier position. Firefox already implements the spec correctly, so I now think we should keep the spec as is, and have Chrome fix it.

[2019-04-18 17:34] na-g commented on #2172
As @chxg says, physical device playout time isn't knowable in practice. Firefox records the levels into a 10 second rolling history when the packet is received and adjusts the playout time based on the jitter buffer at time of reception. This sounds like what (lib)WebRTC does. In practice this seems to yield good results for the use cases that @jan-ivar mentions.

[2019-04-18 19:51] jan-ivar commented on #2150
More ideas:

  5. Only half-stop the offerer-tagged transceiver in SRD(offer) and lie. Emit BYE and fire `"ended"`, but don't set port 0 in the answer, to save the transport. Locally consider this transceiver `stopped`, and trigger negotiationneeded in `"stable"`. To solve `stop()` now being a dud in the predetermined roles scenario, would require some additional bit ("please stop") in the answer

[2019-04-20 09:31] lgrahl commented on #2004
Bumping this one. At least for data channels, it's currently undefined whether or not the SCTP association is supposed to survive which makes ICE restarts unreliable for data channel applications.

[2019-04-21 06:42] alvestrand commented on #2174
Has anyone operating a service based on datachannels asked for stats on individual datachannels?

Unlike media, traffic on a datachannel is byte-countable at the API.

I'd like to add stats to address operational concerns with WebRTC 1.0, and leave additional functionality to use cases in the NV document if I can.

[2019-04-21 17:21] guest271314 commented on #2171
How to incorporate the functionality of `RTCRtp.sender.replaceTrack()` in to a method of `MediaRecorder` without using `RTCPeerConnection`; e.g., `if (currentVideo.currentTime > N) { await mediaRecorderInstance.replaceTrack(nextVideoStream.getVideoTracks()[0]) }`?

[2019-04-21 21:21] aboba commented on #2004
An SCTP association (or a TCP or QUIC connection, for that matter) should not terminate immediately when ICE enters the "failed" state, since an ICE restart could restore the ICE virtual connection.  By default, retransmission timers will fire and the RTO estimate will increase until potentially the association limits will be reached.  When ICE enters the "connected" state again, if the selected p

[2019-04-22 07:04] lgrahl commented on #2004
To not ABORT due to ICE failed is logical. But the question is what happens when ICE recovers but the SCTP association already failed.

[2019-04-22 08:09] aboba commented on #2004
If the SCTP association fails, then `RTCSctpTransport.state` will transition to `closed` and a `statechange` event will be fired.  I would also expect a `close` event to fire on the `RTCDataChannel`.  If the ICE restart subsequently succeeds, then it would be necessary to establish another SCTP association and bring up another data channel.

Would calling `pc.createDataChannel()` cause that to hap

[2019-04-22 08:30] lgrahl commented on #2004
JSEP sec 5.11:

      *  If no valid SCTP association exists, prepare to initiate a SCTP
         association over the associated ICE component and DTLS
         connection, using the local SCTP port value from the local
         description, and the remote SCTP port value from the remote
         description, as described in [I-D.ietf-mmusic-sctp-sdp],
         Section 10.2.

Not sure the termino

[2019-04-23 18:13] chxg commented on #2172
Thanks for the information!

So if I understand it correctly, then Firefox stores a `RTCRtpContributingSource`-like record at (1) but sets its timestamp to be an estimate of (2). Chrome is more naive in that it both records at (1) and timestamps for (1). Neither implementation tries to timestamp for (3) today. The exact lines of code for audio seem to be in [`Channel::OnReceivedPayloadData()`](htt

[2019-04-23 23:34] juberti commented on #2004
I don't think anything should happen automatically in an ICE failed situation. The app can stop things if it wants to, but given that an ICE restart might bring things back to life, we shouldn't do anything automatically.

[2019-04-24 02:42] aboba commented on #2004
@juberti  Agreed.

@lgrahl Have you seen implementations that do things automatically (like closing SCTP associations) when ICE fails?  This is really more of a protocol implementation issue, but just trying to understand whether this is an interop issue.

[2019-04-24 07:38] lgrahl commented on #2004
Haven't seen any browser that closes in case of ICE failed but I haven't tested whether anyone (re)starts the SCTP association. So, perhaps this is not an issue at all. I believe a clarification in the form of "ICE moving into the failed state does not affect any of the upper layer transports" would be helpful since I can't imagine being the only person wondering.

[2019-04-24 08:15] fippo commented on #2004
for media: do we need something in jsep or rtp-usage saying there are no timeouts such as the ones described in https://tools.ietf.org/html/rfc3550#section-6.3.5?

[2019-04-24 14:34] drkron opened #2177 "Add RTP timestamp to RTCRtpContributingSource"
One use case for this would be to synchronize external events to the corresponding RTP packets.

[2019-04-24 18:50] ibsusu commented on #1853
This was a shortsighted decision.  It would have been good if this was designated as a privileged api instead of outright saying no.  Extensions exist too.

[2019-04-24 19:55] ibsusu opened #2179 "Allow to import existing certificate"
In-browser, RTCPeerConnection provides an option to generate RTCCertificate or can generate it by itself.
https://w3c.github.io/webrtc-pc/#dom-rtcpeerconnection-generatecertificate

It would be helpful to allow it to import existing certificates, for instance when we want to use the same certificate for communication with signalling server.

Generator with such functionality(FromPEM) is already im

[2019-04-24 20:12] lgrahl commented on #2179
I understand that this can be helpful but it would not help the torrent use case which is your rationale. Let me explain:

This is not being fixed by allowing to reuse a certificate. It requires much more than that, see https://github.com/w3c/webrtc-nv-use-cases/issues/15#issuecomment-427669110

[2019-04-24 20:26] ibsusu commented on #2179
My aim was to make a new session with the stored cert and then sending the required information to the torrenting peer when we've already stored the rest of the information necessary to contact them.  With regard to torrenting these certs are superfluous.  All of the files are hashed, the pieces are hashed and the peers ip address and peer id is what is used to determine whether to ignore, ban, or

[2019-04-24 20:56] lgrahl commented on #2179
IIRC you want to circumvent signalling. But there are more variables than the certificate's fingerprint in the signalling data. ICE username fragment, ICE password, ICE candidates, ... none of this is persistent, nor does it allow you to use it for more than one 1-to-1 connection.

It's potentially a different story for browser-to-native communication with a couple of hacks.

[2019-04-24 21:19] ibsusu commented on #2179
Let's theorycraft for a bit: 4 users have public & private certs, ice username fragments, passwords, candidates.

user 1 connects the normal, handshake way to user 2 and then sends all of his info to user 2.
user 3 connects the normal handshake way to user 2 and then sends all of her info to user 2. User 2 says he knows user 1.
user 3 wants to connect to user 1 and starts the negotiation process w

[2019-04-24 21:33] lgrahl commented on #2179
1 can't connect to 3 with the same ICE candidates it is connected to 2. There is currently no way to establish multiple connections over a single `RTCPeerConnection` instance.

[2019-04-24 21:41] ibsusu commented on #2179
That goes for browser->native and browser->browser right?  What about the inverse?

[2019-04-24 21:53] lgrahl commented on #2179
Everything deviating from the spec can do whatever it wants. It may be possible to multiplex connections over the same ICE credentials and candidates (dunno, haven't tried but I presume it's going to be very hacky). A native implementation can also choose to just accept any certificate, so what certificate the other peer uses would be irrelevant.

[2019-04-24 22:19] aboba commented on #2171
@jan-ivar I believe the text in the note is actually incorrect.  When receiving simulcast, the `RtpReceiver` *does* need to combine two distinct RTP streams into a single track.  This is non-trivial because re-ordering can cause the streams to be co-mingled, so that the `RtpReceiver` will need to maintain two jitter buffers and figure out when to switch between streams so that it can feed material

[2019-04-24 22:40] ibsusu commented on #2179
@lgrahl First off, thank you again for setting me straight on the capabilities of all of this.  Second, I just have to say that the entire ssl security mechanism behind the web today is really hindering us from doing some amazing things.

I'm just going to close this.  The request leads to a dead end.

[2019-04-24 22:40] #2179 closed

[2019-04-24 23:51] youennf commented on #2124
Is it ok to close the issue?

[2019-04-25 09:33] henbos opened #2183 "There are redundant steps in setCodecPreferences"
See #2152.

[2019-04-25 09:47] henbos commented on #2183
Revisiting this I don't think it is redundant.
The first part ensures there is at least one codec that works for both sending AND receiving. A must for the negotiation of a sendrecv transceiver to work.
The second part ensures that none of the codecs are one we do not support.
The first part already ensures that we do not succeed if your only codec preference is "FEC" because the first bit require

[2019-04-25 09:47] lgrahl commented on #2179
I heavily disagree with that. I've clearly pointed out that a native implementation can just accept any certificate and pin its own, so at least that portion would not require any individual signalling. You would still have to sort out all the other variables to establish an *unsignalled* connection (which is possible I believe). But that would be limited to browser <-> native. And there are most

[2019-04-25 09:47] henbos commented on #2183
@dontcallmedom I'm closing me, correct me if I'm confused.

[2019-04-25 09:47] #2183 closed

[2019-04-25 09:50] henbos commented on #2183
Note: It might be reasonable to allow setCodecPreference to work such that a transceiver only works for sending or only works for receiving if you are interested in @jan-ivar's one-way transceiver model, but you if you include a sendrecv-capable codec in your list and then only ever negotiate sendonly or recvonly then you'll end up only negotiating the one-way capable codec. So I don't think it's

[2019-04-25 09:53] henbos commented on #1921
I'm closing this due to inactivity. While I think the API makes sense, I realize there is little interest, it's easy to work around per @jan-ivar's comment above, and we have other priorities.

[2019-04-25 09:53] #1921 closed

[2019-04-25 09:58] henbos commented on #1979
Chrome's implementation, likely the cause of all of this confusion, has been fixed. Reading the spec again it seems pretty straight forward: "When the bufferedAmount decreases from above this threshold to equal or below it, the bufferedamountlow event fires."

I'm closing this issue. Feel free to object, but if so let me know what you think the example should contain.

[2019-04-25 09:58] #1979 closed

[2019-04-25 10:06] henbos commented on #2023
PR exists: for marking it "feature at risk", not for removal.

[2019-04-25 10:07] henbos opened #2185 "Mark getDefaultIceServers() as feature at risk."
See discussions at #2023

[2019-04-25 10:09] henbos commented on #2023
For the sake of the changelist I filed #2185 for the feature at risk thing. Consider this issue blocked on that one instead.

[2019-04-25 10:09] lgrahl commented on #1979
@henbos The implicit closing is still there in Chrome.

I believe an example would be good and, if desired, I could provide one.

[2019-04-25 10:23] henbos commented on #2103
Closing per @alvestrand's comment

[2019-04-25 10:23] #2103 closed

[2019-04-25 10:24] henbos commented on #2116
All issues are tracked on the webrtc spec, this was just an FYI for the interim. Closing

[2019-04-25 10:24] #2116 closed

[2019-04-25 11:18] henbos commented on #2172
@chxg

Playout does not happen on a track. The track is just the middleman, playout happens some time after passing samples/frames off to its sinks. Isn't that right, @guidou ?

@jan-ivar

Which playout? As far as I can tell, the last step that is within the scope of WebRTC is delivery of samples/frames to the remote MediaStreamTrack. But the track may have 0, 1 or multiple sinks. Each sink could

[2019-04-25 11:20] henbos commented on #2172
Different sinks can have different properties and mechanisms for transforming the source stream as well.

[2019-04-25 11:23] henbos commented on #2172
Playout time = receive time + jitter buffer size. Or playout time = time when they exit the jitter buffer?

[2019-04-25 11:38] henbos commented on #2172
Proposal:
- Define playout as "when samples/frames exit the jitter buffer".

[2019-04-25 11:57] chxg commented on #2172
I don't believe that it should be defined in terms of "jitter buffer". There are too many other parts (e.g. "frame spacing", "decoding", "rendering delay", "sync buffer", etc.) that may or may not be included in "jitter buffer" depending on implementation.

The best definition seems to be:

It's more or less identical to the existing definition, but gets rid of the word "playout" since the latter

[2019-04-25 12:40] henbos commented on #2121
Related: I filed https://github.com/w3c/mediacapture-main/issues/578 on the gUM spec.

[2019-04-25 12:51] henbos commented on #2172
I like your definition, it probably most accurately describes "playout" without leaving the scope of this spec.

Btw has it not already been decoded when it exits the jitter buffer? Maybe the difference between "exists the jitter buffer" and "delivered to the track" is splitting hairs? (In case implementation difficulty varies between the two but its not noticeable?)

How does @chxg's definition s

[2019-04-25 13:35] jan-ivar commented on #2177
@drkron What do you mean by "external events"? Can you give an example?

[2019-04-25 13:45] chxg commented on #2172
The flow is roughly:

1. Network
2. Jitter Buffer
3. Decoder
4. Sync Buffer (Audio) or Render Buffer (Video)
5. MediaStreamTrack
6. Other kinds of intentional delays?
7. OS and Hardware Buffers
8. Playout

An implementation could decide to pop packets from the jitter buffer as soon as all earlier packets (i.e. packets with lower sequence numbers) have arrived. Frames that are decoded too early (to

[2019-04-25 13:59] henbos commented on #2172
OK thanks for clarifying!

[2019-04-25 14:14] alvestrand commented on #2177
The longer proposal (a lot more clocks) I made some time ago is here:
https://alvestrand.github.io/webrtc-framelog/

[2019-04-25 14:34] #2185 closed

[2019-04-25 14:39] #2159 closed

[2019-04-25 14:45] youennf commented on #2170
Closing the issue with no action then.

[2019-04-25 16:18] jan-ivar commented on #2172
@na-g knows the Firefox implementation best, so I'll leave it to him to answer the detail questions.

One additional point I'd like to make, since we seem to be asking for tighter specification of this API:

Firefox does not return timestamps in the future. That way, someone naively polling the (synchronous) API would receive information only later once playout time is *now*.

We arrived at this a

[2019-04-25 16:53] na-g commented on #2172
@henbos, play-out time = reception time + jitter buffer time depth.

As @chxg pointed out, the playout time will always be an estimate. For the use case of detecting when someone is speaking, which is how I understand this data is to be used, I think that recording at any point in @chxg's flow at or deeper than 2 is sufficient. The further down the flow the data are recorded, the greater accuracy

[2019-04-25 18:52] na-g commented on #2177
RTPContributingSource is provided by polling interface and makes no guarantee that a specific packet in a stream will ever be reported.  Any packets that are not played out may not be reported at all. The timing of its output is based on playback, not network events. All of these reasons make it a difficult interface to correlate to events. A reception time stamp would help with the last of those

[2019-04-25 19:51] jan-ivar opened #2189 "Define time order of results from getContributingSources() et al"
When returning a sequence, defining its order whenever possible, helps web compat.

For example: A naive implementation might use this for some purpose:
[code]

...which would work most of the time, when `receiver.getSynchronizationSources().length` is either `1` (good audioLevel) or `0` (`undefined`).

Except once in a blue moon when the SSRC changes for whatever reason, and `receiver.getSynchron

[2019-04-25 19:53] jan-ivar commented on #2189
I also propose we explicitly omit information with a playout timestamp in the future. See https://github.com/w3c/webrtc-pc/issues/2172#issuecomment-486740788

[2019-04-26 08:31] henbos commented on #2172
OK. So the estimate updated when the packet arrive, meaning the timestamp observed in JS could be _in the future_?

So getSSRCs/getCSRCs are referring to "latest packet", but timestamp is referring "estimated playout of latest packet"?

[2019-04-26 08:33] henbos commented on #2172
I am happy with this being the case and the spec clarifying that it is a timestamp. I think having information about latest packet as well as estimates for playout allows extensions covering multiple use cases.

[2019-04-26 08:36] drkron commented on #2177
I'm happy for the discussion.

The use case I have in mind is for a game streaming service that is based on WebRTC. So what we need is a way of tying an input event from the person playing a game to the particular frame that was displayed at that time. By doing this it would be possible for the game engine to compensate for latency in the network (up to a certain level).

So the RTP timestamp is i

[2019-04-26 10:23] chxg commented on #2172
How about we do this:

1. I'll first create a PR to make it so that each `RTCRtpContributingSource` SHOULD be recorded when a frame from a RTP packet is delivered to `MediaStreamTrack`. `timestamp` would then be defined in terms of the instant of that delivery. Firefox's current implementation doesn't do the SHOULD, but its `timestamp` is still spec-compliant under the "may be implemented in any m

[2019-04-26 10:41] drkron commented on #2172
If I understand correctly, all timestamps will correspond to the same audio/video frame. What do you think of adding the RTP timestamp of that frame as an identifier for the audio/video frame, as suggested in #2177?

[2019-04-26 10:54] chxg commented on #2172
I think that it's a splendid idea, but there are tons of tiny details to think about when speccing it out. Let's have that discussion in the other ticket.

[2019-04-26 12:03] chxg commented on #2177
I think that a per-frame ID (of some kind) would be very nice to have for `RTCRtpContributingSource`. For example: It would allow a caller to tell if two consecutive `getContributingSources()` calls returned the info about the exact same frame, or if they returned info about two different frames but `timestamp` didn't have enough resolution to tell the frames apart.

There are a bunch of challenge

[2019-04-30 01:50] jan-ivar opened #2191 "Says to count datachannel label & protocol in bytes, but they're USVString"
[Spec](https://w3c.github.io/webrtc-pc/#dom-peerconnection-createdatachannel) says:
*"If [[DataChannelLabel/DataChannelProtocol]] is longer than 65535 bytes, throw a TypeError. "*

But `label` and `protocol` are `USVString`.

https://github.com/w3c/webrtc-pc/issues/543#issue-140173549 says these are *"mapped into UTF-8 in the underlying protocol"*, so we should specify this conversion before count

[2019-04-30 08:41] lgrahl commented on #2191
FYI, it is defined in [DCEP, sec 5.1](https://tools.ietf.org/html/draft-ietf-rtcweb-data-protocol-09#section-5.1).

[2019-05-02 00:21] youennf commented on #2043
Fixed by https://github.com/w3c/webrtc-pc/pull/2113

[2019-05-02 00:21] #2043 closed

[2019-05-02 00:21] youennf commented on #2045
Fixed by https://github.com/w3c/webrtc-pc/pull/2105

[2019-05-02 00:22] youennf commented on #2137
Fixed by https://github.com/w3c/webrtc-pc/pull/2181

[2019-05-02 00:22] #2137 closed

[2019-05-02 14:42] #2024 closed

[2019-05-03 10:41] henbos opened #2193 "Add a security/privacy note about remote SDP"
The spec guards against malformed SDP and SDP that violates the spec, but it does not do anything to guarantee that you get the SDP that you expected.

For example, you might offer sendrecv and assume that if the remote endpoint accepts your offer, they will answer with sendrecv. An application that is not prepared for one-way media might be surprised about this.

This is more of a note to users o

[2019-05-03 10:54] lgrahl commented on #2193
Absolutely. Lack of integrity and authentication of the exchanged SDP allows for man-in-the-middle attacks. IMO the weakest point of WebRTC in regards to its end-to-end encryption claim.

[2019-05-06 16:00] fippo commented on #2193
the security model of the spec is "have the developers pass large blobs of SDP which they do not understand to the API without validating input". I am not sure that a note will help.

[2019-05-06 17:19] lgrahl commented on #2193
Understanding that the content is sensitive does not require understanding the content itself. :slightly_smiling_face:

[2019-05-07 17:10] na-g commented on #2189
Sorting by descending by playout time seems a reasonable thing to do as the most recently played information is the most relevant. @jan-ivar, as to omitting future results, that is Firefox's behavior (and has been since these APIs were implemented).

[2019-05-09 04:30] drkron commented on #2177
@chxg Thanks for your comments.
I agree that there are a few edge cases that need to be defined. I just updated the PR according to the review comments and specified it as: "The *last* RTP timestamp of the media played out at timestamp"
To me it make sense to specify that it's the last RTP timestamp. That also solves most of the cases you mentioned and naturally preserves causality.

[2019-05-09 13:56] alvestrand commented on #2191
So "if" should be rewritten as "if the UTF-8 representation of".

[2019-05-09 14:13] #2177 closed

[2019-05-09 14:25] #2172 closed

[2019-05-15 19:37] jan-ivar commented on #2176
Actually, it's more than just the note. Step 6 underestimates the problem as well:

In the case where `stop()` is called *before* SRD(offer) then step 6 will not stop all bundled transceivcers, leaving them unstopped, even though their underlying transport will be stopped/nonworking.

[2019-05-16 14:07] #2191 closed

[2019-05-16 14:09] #2189 closed

[2019-05-16 14:13] #2164 closed

[2019-05-23 13:56] drkron opened #2197 "Make RTCRtpContributingSource::rtpTimestamp required"
RTP timestamp was added to RTCRtpContributingSource in #2177.
In hindsight I think it should have been marked as "required".

[2019-05-23 14:04] jan-ivar commented on #2197
Do you mean mandatory to implement? A dictionary member can also have the `required` dictionary, but so far we haven't annotated any of the stats dictionary members as required (the `required` keyword has only marginal normative meaning and are largely for documentation when used in dictionaries that are never used as inputs).

[2019-05-23 14:07] alvestrand commented on #2197
If it's required, it's a spec violation to not implement it.
I don't like much adding extensions that break compliance of older implementations.

[2019-05-23 14:10] jan-ivar commented on #2197
Sorry I was thinking about stats.

[2019-05-23 14:24] henbos commented on #2197
@drkron Can you create a PR?

[2019-05-23 14:31] drkron commented on #2197
PR created.

[2019-05-23 14:32] #2197 closed

[2019-05-30 14:06] jan-ivar opened #2199 "Clarify/strengthen timing invariants of candidates not firing before SLD(offer)"
Based on a [discussion in this crbug](https://bugs.chromium.org/p/chromium/issues/detail?id=960718#c15), we've found that Firefox's behavior to avoid ice candidates racing with offer/answer is desirable, and seems to be following the broad intent of the spec and the desired API properties espoused, even if there's no explicit prose to guarantee it. Since it's not clear that the spec mandates this

[2019-06-03 07:12] alvestrand commented on #2199
If you can add a WPT test that verifies the behavior, I'm happy to make this change. Offhand, I can't think of a case where it would be beneficial to generate a candidate before SLD() resolves.

[2019-06-03 07:38] fippo commented on #2199
while that is mostly guaranteed by timing (gathering candidates takes time), iceCandidatePoolSize is interesting. The intent in [JSEP is pretty clear](http://rtcweb-wg.github.io/jsep/#rfc.section.3.5.4), gather but surface only via onicecandidate which avoids duplicate candidates and the need to filter them as mentioned [here](https://github.com/feross/simple-peer/issues/469)

[2019-06-06 00:43] aboba opened #2202 "Setting active attribute to false triggers BYE?"
We are currently seeing implementations send an RTCP BYE as a result of setting the `active` attribute to `false`. This doesn't seem right - my understanding is that an RTCP BYE is to be sent only when an SSRC is removed, such as for [RTCRtpTransceiver.stop()](https://w3c.github.io/webrtc-pc/#rtcrtptransceiver-interface).  Setting the `active` attribute to `false` doesn't cause the SSRC to removed

[2019-06-06 12:35] alvestrand commented on #2167
pc.onnegotiationneeded = async () => {
  await pc.setLocalDescription(await pc.createOffer());
  io.send({desc: pc.localDescription});
}

actulally allows shimming in a RestartIce method, like this:

RTCPeerConnection.prototype.restartIce = function() {
   this.iceRestartNeeded = true;
   pc.onnegotiationneeded();
}

pc.onnegotiationneeed = async() => {
  await pc.setLocalDescription(await pc.crea

[2019-06-06 13:24] alvestrand commented on #2158
I'm closing this as "no change needed". There doesn't seem to be a compelling reason to change the spec; the code will have to deal with negotiating down the number of channels anyway, and we can hope that the present case (where Chrome supports 1024 channels) is not permanent.

[2019-06-06 13:24] #2158 closed

[2019-06-06 14:25] #2157 closed

[2019-06-06 14:26] #2202 closed

[2019-06-07 19:41] jan-ivar commented on #2167
Like @fippo's [above](https://github.com/w3c/webrtc-pc/issues/2167#issuecomment-480880197), this polyfill will throw `InvalidStateError` if called in anything but `"stable"` state. Since the goal of this method is to abstract away knowledge of the signaling state, both of these polyfills fail miserably, proving my point that we need to fix this, and not leave it to JS.

The polyfills also severely

[2019-06-08 00:22] jan-ivar commented on #2150
I plan to present 6, as it doesn't have special behavior only for the offerer-tagged transceiver.

[2019-06-08 21:25] jan-ivar commented on #2167
Arguably, when `negotiationneeded` is configured correctly, this method ***is*** the imperative action that triggers ICE to be restarted.

It will keep triggering the `negotiationneeded` event until an ICE-restarting negotiation has completed. I don't know what more we would expect an imperative `restartIce()` method to do.

Its predecessor never started negotiation:
[code]

[2019-06-11 08:11] ibc commented on #1823
This may be related:

https://bugs.chromium.org/p/webrtc/issues/detail?id=10727

Well, not exactly related, but shows that current Chrome behavior regarding `bufferedAmount` when DTLS is connected but SCTP association is not established is not correct.

[2019-06-13 13:58] #2091 closed

[2019-06-13 14:06] henbos opened #2207 "Remove [WEBIDL-1] reference in favor of [WEBIDL]"
Now that [WEBIDL] is up-to-date, we should not have multiple references to different versions of the same spec.

Related question: Should we reference a specific version or tip-of-tree?

[2019-06-13 15:20] #2193 closed

[2019-06-13 15:23] henbos commented on #2150
We have several issues now (moved to [July Virtual Interim](https://github.com/w3c/webrtc-pc/labels/July%202019%20Virtual%20Interim)). Is this issue still applicable or can it be merged into one of those issues?

[2019-06-14 00:41] jan-ivar opened #2208 "SLD without {sdp} reads [[LastCreatedOffer/Answer]] at the wrong time"
The current prose on [setLocalDescription](https://w3c.github.io/webrtc-pc/#dom-rtcpeerconnection-setlocaldescription) reads **[[LastCreatedOffer]]** and **[[LastCreatedAnswer]]** on method entry. This is the wrong time, and may produce the wrong result if other methods are enqueued. For example, it would fail in the [FIFO peer](https://docs.google.com/presentation/d/1UrXARLbAfwmfK686rX_9W_-FGIc62

[2019-06-14 00:52] guest271314 commented on #2193
@fippo

Even where a user might try to understand SDP from a cursory point of view, by following the links, from, for example, a very basic web search - to the primary source - some of the descriptions of  [`<character>=<value>`](https://en.wikipedia.org/wiki/Session_Description_Protocol#cite_note-1) that a user might encounter at varying sources relevant to what is actually in the `sdp` at Chromi

[2019-06-14 01:09] guest271314 commented on #2193
There is zero realistic expectation of "privacy" or "security" on the web.

Any assertion of "security" or "privacy" within the scope of using the web in general - or any browser or browser API - particularly a browser API which requires any network, networking or signaling - should be carefully examined.

[2019-06-14 02:35] guest271314 commented on #2193
[What does 'sdparta' stand for in a Firefox webRTC session description?](https://stackoverflow.com/q/52581525)

[2019-06-14 11:48] alvestrand opened #2210 "RTCIceTransport role before start() called"
This was first noticed in the webrtc-ice repository: https://github.com/w3c/webrtc-ice/issues/4

Before a role is assigned, it seems misleading to give "role" either of the values "controlling" or "controlled".

I suggest we create a new enum value called "unknown", which is the initial value.
(This name also corresponds to the implementation inside the WebRTC library. No need to make new names wh

[2019-06-15 02:51] nkev commented on #230
Creating a browser "refresh resistant" WebRTC data channel in a shared worker could potentially change the way web apps are built forever! It's a shame not much has happened here in over 3 years...

[2019-06-17 02:23] guest271314 opened #2213 "Is it possible to manipulate playout-delay extention at SDP of RTCSessionDescription directly affect playout (playback) delay at remote peer connection?"
Is it possible to manipulate playout-delay extention header at SDP of local RTCSessionDescription directly affect playout (playback) delay at remote peer connection?

That is, to compose an appropriate character, value pair for the purpose of delaying media being playout (playback) at remote peer, for example, for 10 seconds (given a single or the predominant timing mechanism being used by WebRTC,

[2019-06-20 14:33] henbos opened #2214 "Specify when RTCIceRole is updated"
We should introduce an internal slot and say when it is updated.

[2019-06-20 14:33] #2210 closed

[2019-06-20 14:40] henbos commented on #2213
This is an experimental header extension in webrtc.org which has not previously been discussed by the WebRTC WG, perhaps file an issue on https://crbug.com/webrtc/ ?

[2019-06-20 23:39] guest271314 commented on #2213
@henbos The existence of the extension

has already caused some confusion in the wild (for users that browse various WebRTC documentations and experiment themselves)

Change playout delay in WebRTC stream https://stackoverflow.com/q/56510151

https://gist.github.com/jimmywarting/2296342bfb7a31ad26068659d1fd9fc9#gistcomment-2945243

https://gist.github.com/jimmywarting/2296342bfb7a31ad26068659d1fd9

[2019-06-21 00:03] guest271314 commented on #2213
@henbos https://bugs.chromium.org/p/webrtc/issues/detail?id=10759. At the minimum the OP of the SO question should get a complete answer to their inquiry.

[2019-06-21 17:45] youennf opened #2215 "Order of multiple RTCDataChannel.send calls in case of blobs"
https://w3c.github.io/webrtc-pc/#datachannel-send defines how a blob is to be sent.
It is not clear though how blob data is retrieved.

Reading the spec, it seems that blob data retrieval is expected to happen synchronously.
This guarantees the sending order of the messages.
Sending (blob1, arrayBuffer1, blob2) would lead to three messages in the same order (blob1, arrayBuffer, blob2) on the recei

[2019-06-21 20:54] youennf commented on #2215
I did some testing.
Safari WebSocket implementation preserves the order of sending.
Firefox DataChannel implementation does not seem to preserve the order (https://jsfiddle.net/Lgmp2shu/).

[2019-06-22 08:09] lgrahl commented on #2215
I don't think we need to say anything about order since an ordered channel should always reflect order to the API. But a clarification note is never wrong.

You will always need a send queue with the high level API we have. Firefox has one, libwebrtc has one. It's just a matter of ensuring the order. The current behaviour should be fixed by Mozilla. /cc @nils-ohlmeier

[2019-06-24 08:00] henbos commented on #2213
I'm saying the WG is just as confused as you are ;) I can ask around (since I also work in Chrome) but it appears Chrome is doing something outside of specs of the WG.

[2019-06-24 13:53] guest271314 commented on #2213
@henbos

Am not trying to assess blame. `goog-remb` is described by webrtcHacks (https://webrtchacks.com/wp-content/themes/parament/custom-pages/sdp/68.html) as

however, Firefox 69 includes `goog-remb` in the SDP of Mozilla WebRTC implementation (http://lists.w3.org/Archives/Public/public-webrtc-logs/2019Jun/0105.html)

The various concerns can sort out the blame, if any, for extending SPD beyond

[2019-06-24 14:16] henbos commented on #2213
The WG does not know the intent. The right Chrome people should know, which is why I'm directing you to the chromium/webrtc issue trackers.

[2019-06-24 14:16] #2213 closed

[2019-06-24 19:28] jan-ivar opened #2217 "Example 11 expects event.streams[0] from streamless tracks"
[Example 11](https://w3c.github.io/webrtc-pc/#advanced-peer-to-peer-example-with-warm-up) adds streamless tracks:
[code]
which is fine, except it also expects `event.streams` to be non-zero in `pc.ontrack`, which it won't:
[code]

[2019-06-26 12:39] drkron opened #2219 "Encode and Decode error event"
I'm looking for a way to detect decoding errors (both in the sense of failure to decode a frame and also in the sense that the decoder is falling behind due to scarce resources.

My suggestion is to add error events for decoding and encoding errors.

This was also proposed two years ago in #1323, where the consensus was that getStats() would be good enough.

The primary target for me is to use thi

[2019-06-26 15:56] aboba commented on #2219
There are several types of errors that can occur.  A device (such as a webcam) can have a built-in encoder.  Sometimes the device will successfully initialize, but later on there will be transient encoding errors, or perhaps encoding will stop.   Then there are transient or fatal errors in hardware or software decoders/encoders.  If encoding/decoding totally stops, then the application needs to kn

[2019-06-26 15:58] aboba commented on #2219
@drkron Would you be available to present this issue (and potential solutions) at the July 2 Virtual Interim?

[2019-06-27 14:28] #2217 closed

[2019-06-29 00:05] jan-ivar commented on #2150
Still relevant. I'll refer to both issues in the slides.

[2019-07-01 21:37] jan-ivar opened #2221 "Negotiation methods are vestigial, racy with a pushy SFU."
Not covered in ["Perfect negotiation in WebRTC"](https://blog.mozilla.org/webrtc/perfect-negotiation-in-webrtc/), is dealing with an SFU. Fippo explained to me that SFUs can be “pushy”: They’ll send an offer, followed immediately by a second “better” offer. One strategy is the “FIFO peer”:
[code]
A second offer may come in while we’re busy responding to the first offer. As a workaround we use `Pro

[2019-07-01 22:20] drkron commented on #2219
I'm on vacation but I will try to attend the meeting.

[2019-07-02 08:04] henbos commented on #2219
Yes, see the [slides](https://docs.google.com/presentation/d/1xcvf0udNeSH7s1FOY7RRqr1dEFvokZjn-MZPjwy3iXQ/edit?usp=sharing). I gave you write-access with your google account

[2019-07-03 18:28] solmaks commented on #2166
@jan-ivar , great post , and finally a summary of annoying real world problems with current WebRTC media signalling APIs! A couple of extra thoughts about the proposed API:

- If intent is to simplify life for application developers, then I would suggest going step further and removing the need to provide the {rollback:true} altogether. SRD and current PC state should have all the information to d

[2019-07-04 10:23] a2sheppy commented on #2023
FWIW I like the idea of having a flag you can set when creating an `RTCPeerConnection` (or anytime STUN/TURN servers come into play) that indicates "also allow any default servers to be used".

In fact, I would expand that from being a pure binary, to include the following options using an `enum`:

* Don't use browser's default ICE servers
* Prefer browser's default ICE servers, if any
* Prefer th

[2019-07-04 11:11] henbos commented on #2023
I think it's worth considering if this is a use case we want to solve for [webrtc-nv-use-cases](https://github.com/w3c/webrtc-nv-use-cases), but I don't see getDefaultIceServer() happening before WebRTC 1.0 reaches PR, and - as juberti points out - if we accurately capture the use cases of interest, the way forward should probably not be a JS exposed API.

There is a lack in implementer interest f

[2019-07-04 11:18] a2sheppy commented on #2023
I would concur that removing `getDefaultIceServers()` makes sense. It needs to be done regardless, I think; if we want to solve the concept of default servers, it should be done without exposing those to the client directly, so this method is unneeded regardless.

[2019-07-04 11:57] henbos commented on #2023
This feature has been marked as risk since April 25. Chairs @alvestrand @aboba @jan-ivar, can we add the `Ready for PR` label?

[2019-07-04 14:11] alvestrand commented on #1727
Since this is a new feature, and we've stopped adding new features, I'm moving this to the NV repo.

[2019-07-04 14:12] alvestrand commented on #1742
Since this is a new feature, and we've stopped adding new features, I'm moving this to the NV repo.

[2019-07-08 12:55] alvestrand commented on #2080
At the moment, there's a note in the "createOffer" section saying

NOTE
[SDP-SIMULCAST] section 5.2 specifies that the order of RIDs in the a=simulcast line suggests a proposed order of preference. If the browser decides not to transmit all encodings, one should expect it to stop sending the last encoding in the list first.

This was added in #2071, merged Jan 31.

I think this is necessary and su

[2019-07-08 12:55] #2080 closed

[2019-07-08 13:10] alvestrand commented on #2114
I'm not sure what change is being asked for here.
We've got cname as part of RTCRtcpParameters, which is a member of RTCRtpParameters, whch is the base dictionary for RTCRtpSendParameters and RTCRtpReceiveParameters, which can be read by getParameters() on their respective sender/receiver objects.

So you can figure out what CNAMEs are in use once the browser has started using them (and lack of su

[2019-07-08 14:45] ibc commented on #2114
@alvestrand, the current status is:

* [Issue 10383: Simulcast video sends SDES with CNAME items with zero length](https://bugs.chromium.org/p/webrtc/issues/detail?id=10383) - Fixed.
* [Issue 10385: PeerConnection fails to match RTP streams if there is no a=ssrc line with CNAME attribute](https://bugs.chromium.org/p/webrtc/issues/detail?id=10385) - Not fixed.

This is: right now if Chrome generate

[2019-07-08 14:46] jan-ivar commented on #2166
@solmaks Thanks! On implicit rollback, you'll be happy to know that was the [resolution](https://www.w3.org/2019/07/02-webrtc-minutes.html#resolution03).

On timeouts, I think you bring up a good point. The existing mechanism remains in the spec, at least for now.

[2019-07-08 14:52] alvestrand commented on #2022
Yes, I think we should move this to the WPT issue list (and we should find a procedure for going through that list on a regular basis).

[2019-07-08 14:57] alvestrand commented on #1192
I see that the current/pending local description are now described in terms of internal slots, and there's just one normative statement on adding candidates to them.
Closing this one as "overtaken by events".

[2019-07-08 14:57] #1192 closed

[2019-07-08 15:01] alvestrand commented on #1240
The PR in #1832 doesn't seem to do everything that's suggested in the discussion. @fippo are you still planning to submit a PR here?

[2019-07-08 15:17] fippo commented on #1240
I'm still abstaining from PRs so unassigned myself. This is still an issue though but its editorial only so feel free to close.

[2019-07-08 15:36] alvestrand commented on #1745
For consistency, I'm in favor of rejecting remote offers with no m-lines.

[2019-07-08 19:08] solmaks commented on #2166
Referenced PR has rollback option set to false by default. Will you update it to be true by default instead (for true implicit rollback behavior)?

[2019-07-08 19:39] nils-ohlmeier commented on #1745
An answer with no m-lines basically means the remote side refuses to communicate. I would have expected that such and answer already results in an error of some form. If that is not the case then I agree that it should.

[2019-07-09 18:21] rshpount commented on #1745
I would like to point out the offer and answer with no m= lines are technically legal. Here is one example of this:
https://tools.ietf.org/html/rfc4317#section-5.1

In general, SDP session with no m= lines or with all the m= lines refused with port 0 means that the session is active but no media is sent. This is used either to pause playback when communicating with media servers or for session war

[2019-07-10 23:37] jan-ivar opened #2226 "Use consistent internal slot terminology (editorial)"
There are 94 matches for `.[[`, and 165 matches for `'s [[`. It's

vs.

We should pick one and be consistent.

I'm partial to the former since it's more compact and predominant in [ECMAScript](https://tc39.es/ecma262/).

Thoughts?

[2019-07-11 04:22] aboba commented on #2226
My understanding is that the latter approach was considered the favored style (which may explain why it has more matches).  @stefhak may have a better understanding of the history.

[2019-07-11 14:10] #2167 closed

[2019-07-11 14:22] #2208 closed

[2019-07-11 22:00] jan-ivar commented on #2226
Some discussion on this can be found in https://github.com/whatwg/streams/issues/178.

[2019-07-12 16:26] jan-ivar opened #2227 "Operations "queue" is a misnomer. Confuses people."
With my editor's hat on, there's [evidence](https://github.com/w3c/webrtc-pc/pull/2212#discussion_r303013577) "[enqueuing an operation](https://w3c.github.io/webrtc-pc/#enqueue-an-operation)" is confusing. Readers confuse it with [queue a task](https://html.spec.whatwg.org/multipage/webappapis.html#queue-a-task), a wildly different concept.

It's understandable, because our [operations queue](http

[2019-07-12 17:32] jan-ivar commented on #2227
To illustrate the difference between a (main thread) task and an operetion:

This click triggers one task (one synchronous operation):
[code]
This click triggers 3 tasks (one asynchronous operation):
[code]
...because it is syntactic sugar for:
[code]
(A fourth task may resolve the final returned promise, but it might be GC'ed since it's unused).

[2019-07-16 15:55] henbos opened #2229 "restartIce(): Look at only ufrag or (ufrag,pwd)?"
The spec talks only about comparing ufrags, but ICE credentials involves both ice-ufrag and ice-pwd. These are in separate a= lines.

In my [work-in-progress implementation](https://webrtc-review.googlesource.com/c/src/+/144941/10/pc/peer_connection.h#1395) I assumed that "ICE credentials" refers to both, not just the ufrag part, but it would perhaps be strange if changing the pwd counts as a rest

[2019-07-16 16:26] aboba opened #2230 "RTCPeerConnectionIceErrorEvent: hostCandidate clarification"
Currently, the explanatory test for hostCandidate states:

"The hostCandidate attribute is the local IP address and port used to communicate with the STUN or TURN server.

On a multihomed system, multiple interfaces may be used to contact the server, and this attribute allows the application to figure out on which one the failure occurred.

If use of multiple interfaces has been prohibited for pri

[2019-07-16 18:06] steveanton commented on #2229
JSEP says an ICE restart is indicated if both the ufrag *and* pwd change in a call to SLD: https://tools.ietf.org/html/draft-ietf-rtcweb-jsep-26#section-5.9

But it also says that an ICE restart is requested by a call to SRD with either ufrag *or* pwd changed: https://tools.ietf.org/html/draft-ietf-rtcweb-jsep-26#section-5.10

[2019-07-16 18:46] jan-ivar commented on #2229
FWIW Firefox looks at [both](https://searchfox.org/mozilla-central/rev/22b330ecb3edba1536a54887060cbdd09db21c59/media/webrtc/signaling/src/sdp/SdpHelper.cpp#106) when deciding whether to restart.

[2019-07-16 18:52] jan-ivar commented on #2229
Unfortunate phrasing on my part. Firefox restarts if *either* the ufrag *or* the pwd  has changed (or both. Thanks grammar).

[2019-07-17 01:29] jan-ivar commented on #2229
[section 5.9](https://tools.ietf.org/html/draft-ietf-rtcweb-jsep-26#section-5.9) says: *"Or, if the ICE ufrag and password values have changed, trigger the ICE agent to start an ICE restart"*

English is imprecise, but I think had the intent been to not trigger unless *both* values have changed, then it would have said so: E.g. *"if the ICE ufrag and password values have both changed"*

This is al

[2019-07-18 14:29] #2166 closed

[2019-07-18 14:32] #2150 closed

[2019-07-18 14:39] #1827 closed

[2019-07-18 14:42] #2003 closed

[2019-07-18 14:44] #2141 closed

[2019-07-18 14:47] #2227 closed

[2019-07-18 14:48] #2229 closed

[2019-07-18 14:57] jan-ivar commented on #2221
Resolition: [no consensus to add setRemoteAndLocalDescriptions](https://www.w3.org/2019/07/02-webrtc-minutes.html#resolution05).

[2019-07-18 14:57] #2221 closed

[2019-07-18 18:29] #2199 closed

[2019-07-18 18:48] jan-ivar commented on #2165
Note the version I presented in [the slides](https://docs.google.com/presentation/d/1xcvf0udNeSH7s1FOY7RRqr1dEFvokZjn-MZPjwy3iXQ/edit#slide=id.g5c2f3df65b_11_66) did not return the description, so you'll have to write:
[code]

[2019-07-21 15:57] aboba commented on #2219
Note that there is an RTCError defined for a hardware encoder error in Section 5.2 (used by `setParameters`):

"If an error occurred due to a hardware encoder not supporting parameters, reject `p` with a newly created `RTCError` whose `errorDetail` is set to "hardware-encoder-error"

[2019-07-22 23:31] jan-ivar opened #2235 "Rollback of pranswer is hard and unnecessary"
Rolling back back from `"have-remote-pranswer"`/`"have-local-pranswer"` can be as hard as rolling back from `"stable"`.

When an answer or pranswer comes in, stuff is set in motion in the transport & media stacks. To roll that back would require we:

 1. Undo "start transmitting RTP media" and/or "stop transmitting all RTP media" in [JSEP](https://tools.ietf.org/html/draft-ietf-rtcweb-jsep-26#sect

[2019-07-23 08:05] aboba commented on #2235
I agree with your sentiments, but I might go even further. One could argue that with perfect negotiation glare would be detected in earlier states so that rollback of an answer is also unnecessary, and complex for the same reasons (e.g. not easy to rollback creation of IceTransport/DtlsTransport/SctpTransport objects).

[2019-07-23 09:46] henbos opened #2236 "Mark voiceActivityDetection and dtx as Feature At Risk (Was: Is voiceActivityDetection still needed?)"
With restartIce() we no longer need {iceRestart:true}, and with parameterless setLocalDescription() we don't need createOffer() even!
...or do we? There is one "missing piece", possibly, and that is the voiceActivityDetection in RTCOfferAnswerOptions. Definition:

I'm not sure how this is supposed to be implemented, but it looks like Chrome is implementing it as [removing all CN codecs from the SD

[2019-07-23 09:54] henbos commented on #2236
@jan-ivar Do we care about voiceActivityDetection?

[2019-07-23 10:10] henbos commented on #2235
Rollback when you are in the stable state (which you are if you apply an answer) is already rejected. Rejecting if you have "pranswer" sounds like a good idea to me, why would you rollback if you have reached the point of getting an answer?

That said, I might be missing something. Like, why do we need "pranswer" at all? Can someone remind me?

[2019-07-23 13:38] jan-ivar commented on #2235
Right, there's no rollback of an answer (just pranswer). No browser has implemented both rollback and pranswer, so removing this obstacle should help tremendously with finishing 1.0.

As to why we need "pranswer", different thread please! 😉

[2019-07-23 14:19] aboba commented on #2235
@jan-ivar Eliminating rollback of a pranswer would eliminate a major obstacle to complete implementation of rollback and finishing 1.0 so it's a great idea.

@henbos We have pranswer because in SIP an offer may receive a sequence of answers, which inform the client of the origins of successive early dialogs that it should listen to. Aside from the state, applying a pranswer has many of the effects

[2019-07-23 15:16] jan-ivar commented on #2236
We do not implement it. With my chair hat, I believe we're considering marking VoiceActivityDetection as a feature at risk.

[2019-07-23 15:29] henbos commented on #2235
;D

[2019-07-24 18:13] Orphis commented on #2236
Isn't that the same feature as the encoding parameter [dtx](https://w3c.github.io/webrtc-pc/#dom-rtcrtpencodingparameters-dtx) ? This could be controlled in the application layer then.
Note that no one has implemented this coding parameter yet either to my knowledge.

[2019-07-25 14:34] #2165 closed

[2019-07-25 14:38] henbos commented on #2236
I'll create a PR to mark is feature at risk

[2019-07-25 17:15] aboba commented on #2236
@orphis `dtx` is about enabling/disabling discontinuous transmission, assuming it was negotiated (e.g. CN codecs in Offer/Answer).  VAD is about whether to negotiate it.  Neither has been implemented AFAIK.

[2019-07-25 17:16] aboba commented on #2236
@henbos Suggest including both `dtx` and VAD in the "feature at risk" designation.

[2019-07-25 20:37] jan-ivar opened #2238 "Nulling mid when m-line is recycled is surprising."
Right now [mid](https://w3c.github.io/webrtc-pc/#dom-rtptransceiver-mid) says *"After rollbacks, the value may change from a non-null value to null."*—for good reason: if we kept a `mid` from a remote offer, we'd risk sharing that mid with the transceiver the remote offer ultimately associates with (not unique).

But there's another place it's set to `null` in [JSEP](https://tools.ietf.org/html/dr

[2019-07-25 23:41] #2235 closed

[2019-07-26 09:02] henbos commented on #2236
Aye aye, cap'n

[2019-07-26 09:44] henbos opened #2240 "Clarify that getSynchronizationSources() should return information even if the track has no sink (<video> tag)"
When [Chrome tried to update its getSynchronizationSources() implementation](https://bugs.chromium.org/p/webrtc/issues/detail?id=10545#c14) to match [the spec](https://w3c.github.io/webrtc-pc/#dom-rtcrtpreceiver-getsynchronizationsources) about when the information is updated...

... it started failing the [getSynchronizationSources() tests](https://cs.chromium.org/chromium/src/third_party/blink/w

[2019-07-26 16:51] na-g commented on #2240
@henbos, on a related note, while implementing this interface in Firefox a number of things occurred to me. This interface cuts across 3 layers, RTP, decoding, and presentation. Each layer has additional filters that will cause a packet not to be reported. That means that if one is interested in the data from the perspective of a particular layer (say RTP: is so-and-so delivering media to me?), on

[2019-07-27 00:24] youennf commented on #2230
There does not seem to be any privacy issue since only mode 1 is allowing multiple interfaces and host candidates should already have exposed the IP address.
I would tend though to make it consistent with other parts of the spec and state that this field must remain null as long as the corresponding address is not already exposed to the web page as a host candidate.

This could for instance leak i

[2019-07-29 11:30] chxg commented on #2240
This seem to be a side-effect of having a "frame pulling" architecture vs. a "frame pushing" one and goes beyond the implementation details of `getSynchronizationSources()` itself.

Video uses the "frame pushing" approach in Chromium. RTP packets arrive. They get decoded. Frames are then "pushed" to the track along with a timestamp of when it should be rendered. This is why the video web tests con

[2019-07-30 00:39] chcunningham opened #2241 "API for codec performance"
Hi Group,

I work on the MediaCapabilities (MC) [spec](https://w3c.github.io/media-capabilities/) ([explainer](https://github.com/w3c/media-capabilities/blob/master/explainer.md)). I've had a few requests from WebRTC apps to expand this API to describe WebRTC encode/decode performance. The use cases make sense but I have some ergonomics concerns and I'd like to collab w/ RTC experts here to explor

[2019-07-30 07:22] drkron commented on #2241
Please see also issue #2219 which would enable a trial and error approach to the same problem.

[2019-07-30 18:09] jan-ivar commented on #2240
This is a bug clearly, since web audio is a sink. I don't see anywhere that says web audio need only work for audio that is already played out through other means—kind of defeats the purpose of web audio.

[2019-07-30 18:21] jan-ivar commented on #2240
I'd suggest the same applies to `getSynchronizationSources()`. See audio bars next to speakers in a WebRTC call seems useful regardless of whether that audio is being outputted. Maybe even more so when it is not.

Browsers that want to optimize this, could look at whether the JS is using the `getSynchronizationSources()` API at all (I suspect very few do)—The API is synchronous, but is meant to be

[2019-07-30 22:00] a2sheppy opened #2242 "setRemoteDescription(): Is parameter optional or not?"
In the WebIDL, `setRemoteDescription()` indicates that the `description` parameter is optional. However, the text doesn't seem to indicate (or, if it does, it doesn't do it clearly or in a place that's obvious).

*To be clear, I know it's optional -- it's the spec that doesn't seem to be sure.*

That is, if you go to [the steps for `setLocalDescription()`](https://w3c.github.io/webrtc-pc/#dom-peer

[2019-07-31 07:47] henbos opened #2243 "Control surface for header extensions"
For codecs we have getCapabilities() for figuring out what is supported by the browser, setCodecPreferences() for controlling what to negotiate, and getParameters() to see what was actually negotiated. In addition, getStats() can tell you more details (such as if multiple codecs were negotiated, which one is being used right now).

Should we have a similar API for header extensions? There is alrea

[2019-07-31 08:15] henbos commented on #2243
Example: Chrome and Firefox support [abs-send-time](https://webrtc.org/experiments/rtp-hdrext/abs-send-time/) which allow receive-side congestion control by looking at the send-side timestamp. Chrome also supports [transport-wide-cc-extensions-01](https://tools.ietf.org/html/draft-holmer-rmcat-transport-wide-cc-extensions-01) which allows for send-side congestion control when used together with RT

[2019-07-31 11:56] Orphis commented on #2243
[getCapabilities()](https://w3c.github.io/webrtc-pc/#dom-rtcrtpcapabilities-headerextensions) will tell you what is supported already.

[2019-07-31 13:06] henbos commented on #2243
Oh right, thanks. Based on getCapabilties(), should there be a setHeaderExtensionsPreferences() akin to setCodecPreferences()?

[2019-07-31 13:39] alvestrand commented on #2243
Given that we've said "no new features": I'd like to put this into the "extensions" category, which should be written up with an use case in webrtc-nv-use-cases and an extension spec to the base spec.

[2019-07-31 21:50] a2sheppy commented on #2242
OK, I got it. This is optional only because WebIDL requires it to be since the description dictionary's members are all optional. Never mind then.

[2019-07-31 21:50] #2242 closed

[2019-08-01 09:56] henbos commented on #2241
Being able to tell which codecs are not only possible to use, but are also "smooth" or "efficient", even _before_ you request to use them is something that would be incredibly valuable. Many applications attempt to send HD, not even knowing if the codec has HW or SW support, and relying on degradation to "back down" if we are unable to send it. But like you said, by then you may already have had a

[2019-08-01 10:16] henbos commented on #2241
RTCRtpSender.getCapabilities() lists the codecs and header extensions that can be negotiated for sending, and RTCRtpReceiver.getCapabilities() lists the codecs and header extensions that can be negotiated for receiving. It does not tell you what the other endpoint supports until this is negotiated with SDP (negotiating is performed with createOffer, setLocalDescription, setRemoteDescription and cr

[2019-08-01 13:22] alvestrand commented on #2238
My intuition says that clearing the mid property was designed to maintain the property that "all transceivers have a mid that is either unique or null".

In particular, the offer/answer exchange:

-> offer: m=video port=5 / a=mid=a

creates a transceiver with mid=a

<- answer: m=video port=0

disassociates the transceiver from the m-line.
If a new offer comes in:

<- offer: m=video port=97 / a=mid

[2019-08-01 14:20] aboba commented on #2243
Copied to WebRTC-NV Issues: https://github.com/w3c/webrtc-nv-use-cases/issues/40

[2019-08-01 14:21] jan-ivar commented on #2238
@alvestrand said he like the invariant that `mid` tracked association. I'm going to abandon this then, unless there's interest. cc @docfaraday

[2019-08-01 14:21] #2238 closed

[2019-08-01 14:34] #2243 closed

[2019-08-01 14:39] aboba commented on #2241
See WebCodecs proposal: https://discourse.wicg.io/t/webcodecs-proposal/3662

[2019-08-01 15:12] alvestrand commented on #1745
@nils-ohlmeier an answer with no m-lines to an offer with > 0 m-lines is syntactically illegal.
So we're only talking about the case with no m-lines in the offer.

[2019-08-01 15:18] #1940 closed

[2019-08-01 15:24] #1972 closed

[2019-08-01 15:24] alvestrand commented on #1972
Since #2018 had no consensus to add, I think this one has "no consensus to solve".

[2019-08-01 15:27] henbos commented on #2240
I'll clarify that it is expected to return this information whether or not sinks are attached in the form of a note. I think it is up to the implementation how often to decode, or even whether to decode, when there are no sinks, as long as it is not testably incorrect. What should be clear for interop is that if packets are being received getSynchronizationSources() should give me recent informati

[2019-08-01 15:28] #2035 closed

[2019-08-01 15:29] #2114 closed

[2019-08-01 15:30] alvestrand commented on #2022
Moved to WPT repo.

[2019-08-01 15:30] #2022 closed

[2019-08-01 15:30] #2124 closed

[2019-08-01 15:35] aboba commented on #2241
Copied to WebRTC-NV repo as Issue https://github.com/w3c/webrtc-nv-use-cases/issues/41

[2019-08-01 15:35] #2241 closed

[2019-08-01 15:36] alvestrand commented on #2215
Adding a note (making sure it's obvious that we intend ordered in -> ordered out) seems like the only reasonable spec change here.

[2019-08-01 15:46] aboba commented on #2055
Copied to the WebRTC-NV repo as Issue https://github.com/w3c/webrtc-nv-use-cases/issues/42

[2019-08-01 15:46] #2055 closed

[2019-08-01 17:26] jan-ivar commented on #1745
Looks like Firefox [67](https://bugzilla.mozilla.org/show_bug.cgi?id=1531075) supports negotiating without media. I've confirmed it with [this fiddle](https://jsfiddle.net/jib1/azqw2k0f/). This means all browsers are in sync, so a change at this point seems doubtful. Closing this issue.

[2019-08-01 17:26] #1745 closed

[2019-08-01 18:11] aboba opened #2246 "Mark Oauth as a "feature at risk""
There are no current implementations of the [`RTCOauthCredentialDictionary`](https://rawgit.com/w3c/webrtc-pc/master/webrtc.html#rtcoauthcredential-dictionary) so it should be marked as a "feature at risk".

[2019-08-01 18:44] jan-ivar commented on #1277
I think all issues reported here have been addressed by now, so we can close this issue.

This algorithm seems to imply that operation is run synchronously
if the queue depth is one (step 6) whereas if it's not, it's run
asynchronously.

This was discussed in https://github.com/w3c/webrtc-pc/pull/1397 and closed. Only an operation's chained preamble ever runs synchronously—matching how `async` fun

[2019-08-01 18:44] #1277 closed

[2019-08-01 20:25] chxg commented on #2240
I don't believe that it adds sufficient clarity to the API.

`getSynchronizationSources()` returning an empty dictionary (in cases without a sink) remain a valid interpretation for as long as an implementation is allowed to postpone the consumption of packets indefinitely.

For example:

1. Things are setup without a sink.
2. Packets are received and inserted into the jitter buffer.
3. Packets are

[2019-08-01 21:12] aboba opened #2248 "degradationPreference is under-specified"
`degradationPreference` appears to have been implemented differently between browsers, but the
differences are not being picked up in the WPT test, which [only tests getting and setting values. ](https://github.com/web-platform-tests/wpt/blob/master/webrtc/RTCRtpParameters-degradationPreference.html)

Currently Section 5.2.2 says:
"When bandwidth is constrained and the `RTCRtpSender` needs to choo

[2019-08-02 08:41] henbos commented on #2240
Yeah that's a good point, and getStats() is another API that exposes Chrome's current behavior when having no sink. Placing the note around the RTCRtpReceiver section is a good place since the requirement to consume has multiple implications.

[2019-08-02 15:19] Orphis commented on #2248
As for Chrome, it's not exposed right now since we are still tuning the balanced degradation preference which is supposed to be the default. We also default internally to "maintain framerate", so we'd be changing the current default behavior in lots of apps, which is tricky to handle.

I don't think we've had any issues interpreting the behavior of the flag though. "Maintain framerate" will try to

[2019-08-02 20:55] jan-ivar commented on #2240
It seems like Chrome is picking up side-effects from trying to meet the new spec definition of when *"RTP packets is delivered to the RTCRtpReceiver's MediaStreamTrack"*. As I recall, that definition was a compromise time-point somewhere between RTP arrival and playout—it's still not a JS observable time-point, and not guaranteed to be the same in every implementation, so why?

Because it was as c

[2019-08-02 22:31] chxg commented on #2240
I don't believe that the changes at https://github.com/w3c/webrtc-pc/issues/2172 had any impact on this matter.

The original spec had language such as:

So the problem described here would still have been present with those definitions. One could even argue that the previous definitions might even be interpreted as demanding the returned dictionaries to be empty without a sink, since there's no "

[2019-08-05 01:02] youennf opened #2253 "RTCDTMFToneChangeEventInit.tone is required"
As per https://w3c.github.io/webrtc-pc/#dom-rtcdtmftonechangeeventinit, RTCDTMFToneChangeEventInit.tone is mandatory.

As per https://web-platform-tests.live/webrtc/RTCDTMFSender-ontonechange.https.html, Chrome and Firefox treat it as an optional member, which then defaults to the empty string.

Additionally, Chrome requires a RTCDTMFToneChangeEventInit in RTCDTMFToneChangeEvent constructor as per

[2019-08-05 01:18] youennf opened #2254 "Checks in https://w3c.github.io/webrtc-pc/#dom-RTCDTMFSender-insertDTMF could be simplified"
Step 3 and 4 of insertDTMF are:
3. If transceiver's [[Stopped]] slot is true, throw an InvalidStateError.
4. If transceiver's [[CurrentDirection]] slot is recvonly or inactive, throw an InvalidStateError.
Step 6.6 (canInsertDTMF) will trigger an InvalidStateError if transceiver's [[CurrentDirection]] is neither "sendrecv" nor "sendonly".

Steps 4 is unneeded given step 6.6.
Since transceiver's [[C

[2019-08-05 07:36] henbos commented on #2240
Yeah the original definition was even more undefined, and all the problems discussed here would certainly have applied to a vague "playout" (what is playout if you have multiple sinks? when you have none?). I think the one we got now is good ("when delivered to the track") and is pretty well-defined.

The question is "when is decoding mandatory?". It could have been asked earlier, but due to previ

[2019-08-05 19:13] aboba opened #2255 "Mark getSupportedAlgorithms as a "feature at risk""
There are no current implementations of the `getSupportedAlgorithms` method so it should be marked as a "feature at risk".

[2019-08-06 14:17] annevk opened #2257 "Consider making RTCCertificate throw when serialized when _forStorage_ is false"
This would make `postMessage()` and friends throw and only allow same-origin usage of the object as seems to be intended. This would allow you to get rid of the `[[Origin]]` field and prevent inadvertent sharing of this object with untrusted origins (who might be able to Spectre-attack its contents at that point, unless the user agent has a more convoluted design whereby it only messages a pointer

[2019-08-08 14:27] jan-ivar opened #2258 "Mark RTCDataChannel/RTCRtpSendParameters.priority as "feature at risk""
There are no current implementations of either of the two JavaScript QoS priority APIs:
1. The `RTCDataChannel`'s [priority](https://w3c.github.io/webrtc-pc/#dom-rtcdatachannel-priority) attribute and `RTCDataChannelInit`'s [priority](https://w3c.github.io/webrtc-pc/#dom-rtcdatachannelinit-priority) member, or
2. The `RTCRtpSendParameters` dictionary's [priority](https://w3c.github.io/webrtc-pc/#d

[2019-08-08 14:41] aboba commented on #1764
I agree with Nils here - sending nothing may be the preferred outcome.  Among other things, this would mean that the effect of track.enabled = false would not depend on whether CN was negotiated or dtx is enabled.

[2019-08-08 15:00] jan-ivar opened #2260 "Mark RTCRtpEncodingParameters.maxFramerate as "feature at risk""
There are no current implementations of the `RTCRtpEncodingParameters` dictionary's [maxFramerate](https://w3c.github.io/webrtc-pc/#dom-rtcrtpencodingparameters-maxframerate) member, so it should be marked as a "feature at risk".

[2019-08-08 15:05] aboba commented on #2260
There was an "intent to implement" statement filed for `maxFramerate`.

[2019-08-08 15:09] aboba commented on #2171
Closing - this issue should be handled in MedaStream Recording.

[2019-08-08 15:09] #2171 closed

[2019-08-08 15:14] jan-ivar commented on #2253
Seems like a simple implementation bug to fix.

[2019-08-08 16:48] Orphis commented on #2260
Yes, I confirm we want to implement it in Chrome, just didn't have the bandwidth yet for it.

[2019-08-09 08:13] dontcallmedom commented on #2045
#2105 fixed this, closing

[2019-08-09 08:13] #2045 closed

[2019-08-09 08:15] dontcallmedom commented on #2134
@youennf can you confirm this issue has been fully addressed by #2182?

[2019-08-09 08:16] dontcallmedom commented on #2145
@jan-ivar could you clarify the status here? Is it that we "just" need to add tests? If so, can this be migrated to WPT issues?

[2019-08-09 08:18] dontcallmedom commented on #2176
@jan-ivar can this be closed now that that  #2220 has been merged?

[2019-08-09 08:27] #2026 closed

[2019-08-09 08:32] dontcallmedom commented on #2020
@jan-ivar I had marked this as editorial in March, but I'm no longer sure that this is correct.

Do we need to do something here?

[2019-08-09 08:33] dontcallmedom commented on #2142
closed by #2192

[2019-08-09 08:33] #2142 closed

[2019-08-09 14:47] jan-ivar commented on #2143
This is no longer an issue since we implicitly call *createOffer* now instead of erroring over this.

[2019-08-09 14:47] #2143 closed

[2019-08-09 18:44] aboba commented on #2248
@orphis Is it accurate to say that in the Chrome implementation `degradationPreference` is orthogonal to content-hints?  That is, there is no interaction between a `degradation-preference` of  "maintain-framerate" and a content-hint of "detail" (or between a `degradation-preference` of  "maintain-resolution" and a content-hint of "motion")?

[2019-08-10 01:53] Orphis commented on #2248
@aboba I believe that is correct.

[2019-08-10 22:04] youennf commented on #2134
@dontcallmedom, yes.

[2019-08-10 22:04] #2134 closed

[2019-08-12 07:24] misi commented on #2246
I want to add that feature.
I am going to implement this feature it in Firefox.

I think it is important to have this feature because
1.  there is no other way to achieve multi tenancy/realm (coTURN?).
2. No other standard RFC that could fit and work for WebRTC & TURN.
          * The REST (from JUberti) is an expired draft.
          * Long Term Credential (user, realm,passwd) couldn't be hide cr

[2019-08-13 18:38] #2226 closed

[2019-08-13 18:39] #1847 closed

[2019-08-13 20:50] aboba commented on #2248
Some of the concerns described [here](https://github.com/w3c/mst-content-hint/issues/30) may also apply to `degradationPreference`.

[2019-08-13 21:25] aboba commented on #1732
Here is a recent proposal along these lines for WebSockets: https://groups.google.com/a/chromium.org/forum/#!topic/blink-dev/X7rWpAkMCyg

[2019-08-13 21:28] aboba commented on #1732
Moved to the WebRTC-NV Use Case repo: https://github.com/w3c/webrtc-nv-use-cases/issues/44

[2019-08-13 21:28] #1732 closed

[2019-08-13 21:47] aboba commented on #1981
Proposal:

When the RTCIceTransport is closed (due to either RTCPeerConnection close() or SLD/SRD removing it)? Proposal: getSelectedCandidatePair() returns null and the event does not fire.
When the RTCIceTransport transitions to 'disconnected'? Proposal: getSelectedCandidatePair() returns the current value the event does not fire.
When the RTCIceTransport transitions to 'failed'? Proposal: getSe

[2019-08-14 07:47] fippo opened #2270 "stuns: usage in examples"
The examples in this document show `stuns:` but AFAIK no browser actually supports stuns. webrtc.org has an open bug [here](https://bugs.chromium.org/p/webrtc/issues/detail?id=3644) and it hasn't seen much activity in the last years.

Might be easier to just say 'stun:'?

[2019-08-14 07:59] dontcallmedom commented on #1708
#1926 proposes removing the example, which would solve the issue

[2019-08-14 08:06] fippo commented on #1709
bump. I still think the use-case the example aims to solve is very hard to understand that there is very little value in showing a simplified example that isn't wrong.

:+1 on removing it as proposed in #1926 and #2271

[2019-08-14 08:59] dontcallmedom commented on #1575
I believe this was fixed in a combination of c8247aa390f3dd2f732b58fd428d5551882e15ca and 3fc6d18305f56b09ae31261888aa023e028b34d0 - @jan-ivar can you confirm?

[2019-08-14 11:25] henbos commented on #2173
I think we've assumed that ontrack fires and the promise resolves, allowing you to do things in then() as soon as possible. I'm not sure that resolves all issues, but more guarantees is certainly a good thing.

[2019-08-14 20:15] a2sheppy commented on #1709
I concur with removing this sample, FWIW. While the idea has merit, it's not a necessary example to present within the specification itself. I generally feel the spec should stick to very straightforward samples, with more intricate ones located separately -- ideally somewhere linked to from within the spec for convenience, since many people will find them useful.

[2019-08-15 13:19] alvestrand commented on #2254
Those seem like simplifications of the language with no change in behavior.
I suspect 17.1 is older than the decision to make transceiver.stop() clear CurrentDirection, I'm a bit hesitant to depend on the "remote action" here. Current language seems to do no harm.

[2019-08-15 14:13] #2258 closed

[2019-08-15 14:15] #2161 closed

[2019-08-15 14:20] henbos opened #2273 "ICE restart and terminal RTCIceTransport.state "failed" state"
If ICE restart results in "failed" not being terminal, we should clarify this.
If it is in fact terminal, but the transport gets swapped out, we should clarify this.

[2019-08-15 14:24] #1708 closed

[2019-08-15 14:24] #1709 closed

[2019-08-15 14:24] #2255 closed

[2019-08-15 14:25] #2246 closed

[2019-08-15 14:25] #2236 closed

[2019-08-15 14:26] #2004 closed

[2019-08-15 16:05] #2270 closed

[2019-08-15 16:07] aboba commented on #2145
The PR has been merged, so I'm closing this issue.

[2019-08-15 16:07] #2145 closed

[2019-08-15 16:09] aboba commented on #2176
PR has been merged, so am closing this issue.

[2019-08-15 16:09] #2176 closed

[2019-08-15 16:16] aboba opened #2275 "Status of Document: Update "features at risk" list"
Since we've added to the "features at risk", we need to update the list in the "Status of Document" section.

[2019-08-22 09:11] Ms2ger opened #2277 "Update spec to new IDL syntax for optional dictionaries"
See heycam/webidl#758

[2019-08-22 13:24] alvestrand opened #2279 "Meta: Create rules for using the Github "project" feature"
If we want to use it, we need to know how.

[2019-08-22 15:21] #2279 closed

[2019-08-28 16:00] henbos opened #2281 "Wrong RFC referenced by rtpTimestamp"
[code]
This should say RFC3550, not RFC3559. (Thanks @ksridhar for [noticing](https://github.com/w3c/webrtc-stats/issues/229#issuecomment-525294082).)

[2019-08-29 09:00] Ms2ger opened #2282 "Update to constructor operations"
See https://github.com/heycam/webidl/issues/778.

[2019-08-29 14:25] #2260 closed

[2019-08-29 14:39] henbos opened #2283 "Merge the steps for updating candidate pair and ice transport state"
We currently do this in two separately queued tasks:

There is room for interpretation which task you queue first. In either case, since they are tasks queued separately and each task fires an event, it is observable which thing happened first.

I think the correct behavior would be to update both the ICE state and the candidate pair, and to fire both events (onstatechange, onselectedcandidatepair

[2019-08-29 14:40] henbos commented on #2283
;)

[2019-08-29 14:48] youennf opened #2284 "Should peer identity specific steps be marked as "Feature at risk""
Identity was marked feature at risk in PR 1114.
There are some mandatory steps in webrtc-pc that might need to be marked as 'feature at risk'

[2019-08-30 13:26] youennf commented on #2254
Agreed this is editorial.
When reading the spec, it seemed odd to me that there could be a possibility for canInsertDTMF to return true and for insertDTMF to throw InvalidStateError.

[2019-08-30 16:36] jan-ivar commented on #2215
(A bit late, sorry) I'd prefer stronger language than a note, but I welcome the note.

@lgrahl That's the desired outcome, but these are the instructions on how to make that happen on the sending side. As such, I think they fall short by treating Blobs—borne out of Files with asynchronous accessors—as having synchronously available data.

As you and @youennf point out, we want this solved in a way

[2019-08-30 19:07] guest271314 commented on #2215
Re the test at https://github.com/web-platform-tests/wpt/pull/18770 when _**both**_ `data1` and `data2` are `Blob`s order _is_ preserved. The maximum `timeStramp` difference between `timeStamp` properties of `event` within `"message"` handler is `2`, e.g.

[code]

plnkr https://plnkr.co/edit/7oYM0i?p=preview

[2019-08-30 19:09] jan-ivar commented on #2215
Yeah the ill-sequencing in Firefox appears to only happen when sending blobs (which require asynchronous reads) ahead of non-blobs (which are synchronous).

[2019-08-30 19:26] #1969 closed

[2019-08-30 21:18] jan-ivar commented on #2173
@henbos Most events (`track`, `mute`, `unmute`, `addTrack` and `removeTrack`) fire *right before*¹ the success callback, which is fine. The exception is `negotiationneeded` which is designed to fire *after* for obvious reasons (super confusing to initiate a new round of negotiation before `SRD(answer)` has resolved).

https://github.com/w3c/webrtc-pc/pull/2251 ensures `negotiationneeded` fires *af

[2019-08-31 18:55] #2275 closed

[2019-09-02 07:55] dontcallmedom commented on #2282
This depends on https://github.com/w3c/respec/issues/2494 (but latest respec seems to trigger a number of errors in the WebRTC spec, so the upgrade is likely not trivial)

[2019-09-02 08:13] dontcallmedom commented on #2282
see https://github.com/w3c/respec/issues/2495 and https://github.com/w3c/respec/issues/2496 for obstacles to upgrade (we would also want #2287 to be merged)

[2019-09-04 07:41] guest271314 commented on #2215
To preserve order at Firefox `async/await` and `arrayBuffer()` of `Blob` can also be used

[code]
https://jsfiddle.net/jy4r3aqc/

See this [answer](https://stackoverflow.com/a/56419176) at [Where is Blob binary data stored?](https://stackoverflow.com/q/38239361)

Given there is an expectation of order relevant to WebRTC specification the capability to set the input/output order of `MediaStreamTrac

[2019-09-05 14:04] #2148 closed

[2019-09-05 14:11] dontcallmedom opened #2289 "Overloaded operations disallowed across partial interfaces in WebIDL"
[WebIDL disallows defining overloaded operations across partial interfaces](https://heycam.github.io/webidl/#idl-overloading):

(this has been disallowed [for a very long time](https://github.com/heycam/webidl/commit/bae069cc35773c1d2ed0efdc1829cd7fa924a5b4))

This means our approach in splitting the legacy versions of the operations in a partial interface is invalid from a WebIDL perspective.

(t

[2019-09-05 14:28] #2281 closed

[2019-09-05 15:43] jan-ivar commented on #2240
@henbos Can you summarize if there's still an issue here? Do we want to add a note? Thanks.

[2019-09-05 15:49] jan-ivar commented on #2273
Basically, it's terminal if you don't touch it.

[2019-09-05 15:56] henbos commented on #2273
OK I'll add a note

[2019-09-05 15:59] henbos commented on #2240
I'll have to go through this again but basically I think we want to add a note.

[2019-09-05 20:59] alvestrand commented on #2289
I thought we'd raised a bug with them before about this, but my github search-fu is not capable of finding it. I know we've discussed this before.

[2019-09-06 06:36] dontcallmedom commented on #2289
@jan-ivar reminded me that there is some language to deal with this in the spec:

that's probably ok-ish, but our next ReSpec upgrade is going to flag this as an error, which is a bit problematic.

I think we may want to keep the prose as a separate section, but move back the IDL definitions into the main IDL fragment - I'll start a PR to see where that leads us.

[2019-09-06 09:34] drkron commented on #2219
I'm looking into using the existing stats, framesReceived and framesDecoded, to detect if the decoder is too slow. From my initial testing it seems as taking the difference gives a quite good indication of the current decoding status.
So for now I don't see the immediate need for this feature.

[2019-09-06 09:47] henbos commented on #2283
With the current spec I think it would be spec-compliant to listen to onstatechange and have pairs that contradict the state, or listen to onselectedcandidatepairchanged and have contradicting state, and that different implementations could be observably different and still be compliant.

[2019-09-06 11:02] #2215 closed

[2019-09-06 11:02] youennf commented on #2215
Fixed by https://github.com/w3c/webrtc-pc/pull/2286 and https://github.com/web-platform-tests/wpt/pull/18770

[2019-09-09 09:16] henbos opened #2294 "Local versus remote rollback, and clarifying implicit SRD-rollbacks"
Confusion ensued in https://crbug.com/980875 when discussing implementing the implicit rollback in Chrome. Mainly,
1. Should we roll back only local offers, only remote offers, or either type of offer when setRemoteDescription is called with a description and we implicitly roll back due to the signalingState not being stable?
2. Is there a difference between SLD(rollback) and SRD(rollback)?

We tr

[2019-09-10 05:44] alvestrand commented on #2294
From what I understand to be the situation prior to the automatic rollback discussion:
SLD(rollback) is only valid in have-local-offer state, SRD(rollback) is only valid in have-remote-offer state. This is simple, tidy and unsurprising.

Automatic rollback on SRD(new description) is a new thing, and we can define it as desired. I think we should define it as invoking the permitted rollback accordi

[2019-09-10 09:31] henbos commented on #2294
+1: I agree that we should define it as invoking the permitted rollback according to state.

Now with implicit rollback, transceiver mids can be nulled "without warning" (and later set to something else) now, which could yield edge-case surprises. Are we OK with not having an "onrollback" event?

[2019-09-10 10:06] henbos commented on #2294
Last point: You know if rollback is needed or not based on signalingState so you could create your own "onrollback" if you wanted to. Let's not add more APIs.

[2019-09-10 14:55] jan-ivar commented on #2294
My take: We call JSEP here to take care of rollback. The remaining webrtc-pc algorithm is just reacting to success (of failure), so I think we have a bug (unless we want to change JSEP).

For example: JS calls SRD(callback) in `"have-remote-offer"`. JSEP (as a sub-function) will roll back the remote offer, then we queue a task and fail to clear [[PendingRemoteOffer]].

Is there another way to look

[2019-09-10 15:05] henbos commented on #2294
Sounds good to me

[2019-09-10 22:39] aboba commented on #2294
@jan-ivar @henbos Can you prepare the slide(s) for TPAC?

[2019-09-11 00:18] jan-ivar commented on #2294
I feel like this got resolved in the [crbug](https://bugs.chromium.org/p/chromium/issues/detail?id=980875#c27) unless we want to reopen JSEP?

[2019-09-11 07:09] alvestrand commented on #2294
Only one of the Pendings will be set in any given state, and the correct rollback will clear them. So after the implicit rollback and before the new SRD(), they'll both be nulll (if there is no race).
I'm OK with clearing them twice, if there is a race and that takes care of it.

[2019-09-11 13:18] jan-ivar commented on #2294
There's no race that I'm aware of. It's more about conforming to JSEP to say `"rollback"` clears whichever one is set regardless of whether SLD(rollback) or SRD(rollback) is used, which seems fine to me as a solution.

This simplifies SRD's prose on implicit rollback too, since otherwise we'd have to fix that prose to somehow pass in whether "the description is set as a local" or "remote descripti

[2019-09-11 19:39] jan-ivar commented on #1575
The remaining issue in https://github.com/w3c/webrtc-pc/issues/1575#issuecomment-463242377 required a PR, so I added one.

With this merged, we'll have the following spec behavior (with a running loop as starting point):

Method | Event fired on `pc2.getTransceivers()[0].receiver.track`
------------ | -------------
pc1.close() | `mute`¹
pc1.getTransceivers()[0].stop() | `mute`¹, followed by `ended

[2019-09-12 17:34] gargvk10 opened #2299 "Persistent RTC Connection by using iceCandidatePoolSize"
Hi,
I am trying to develop a solution for making Persistent RTC Connection to save the few network trips for collecting the ice candidates. For doing that i am creating a rtc peer connection as soon as user open my webrtc page. i want to use the same rtc peer connection object for the next call so i thought of cloning this object and pass it to the call so that current call will only close the clo

[2019-09-13 11:13] henbos opened #2300 "Prefer variable ptime (audio frame lengths)"
We negotiate a maxptime (in SDP but there is no control knob for), and RTCRtpEncodingParameters.ptime allows preferring a specific ptime.

Questions:
- Today: Is an implementation allowed to vary frame lengths dynamically/autonomously during a call (e.g. depending on network conditions)?
- Do we think that enabling variation would cause backwards compatibility issues?

Possible proposal:
- Do we w

[2019-09-13 11:16] henbos commented on #2300
@jan-ivar @aboba @alvestrand

[2019-09-13 14:11] henbos commented on #2300
I might want to talk about this at TPAC but until further input I'll remove the label

[2019-09-13 18:43] rshpount commented on #2300
Using variable frame duration in RTP packets will cause serious interop issues. The problem is jitter buffer implementations that assume that all frames are the same length and estimate packet time based on the RTP sequence number and ptime. If frame size changes, then such estimates will no longer work. Furthermore, RTP packet duration cannot be calculated before decoding (or without understandin

[2019-09-16 09:19] henbos commented on #2300
Thanks Roman. Are you speaking with regards specific browser implementation(s), or SFUs, etc? Chromium is interested in varying them dynamically for the sake of better quality especially during low bitrate conditions, but need to be careful how to proceed depending on the interop landscape and interest/interoperability from other browsers/endpoints.

[2019-09-17 00:06] rshpount commented on #2300
I am talking about most of the browser implementations including Chromium (they are using NetEq jitter buffer) as well as any WebRTC enabled media servers and transcoding gateways (such as Asterisk or FreeSwitch), or phones connected via some sort of ICE/DTLS-SRTP to SRTP gateway (such as things derived from rtpengine). All of those will have problems. SFU generally would not care.

[2019-09-17 00:10] rshpount commented on #2300
On the other hand, generating renegotiation needed event, exchanging SDP, changing SSRC, and switching from 20 ms to 30 ms frames should work for low bitrate without many issues.  Such exchange will reset jitter buffer and things should start to work. It is dynamic frame sizing without any notice which would cause problems, not the frame size change on its own.

[2019-09-18 16:52] fippo opened #2301 "do we need RTCCbrStatus?"
Do we need RTCCbrStatus for [opus cbr](https://tools.ietf.org/html/rfc7587#section-3.1.2)?
The description would be somewhat similar  to the [dtx one](https://w3c.github.io/webrtc-pc/#dom-rtcrtpencodingparameters-dtx) (which is marked as at-risk?!)

[2019-09-19 07:34] dontcallmedom commented on #2284
When we move these steps out, let's also plan on reintegrated isolated mediastream somewhere (maybe in getUserMedia)?

[2019-09-20 02:44] henbos opened #2302 "Update mandatory to implement stats based on recent restructuring"
Based on [TPAC-9-19-2019](https://docs.google.com/presentation/d/1Xprz0ElNTUWRDdX6kyp11cZ4ItTvUFUmzoXsKZdXxuU/edit?usp=sharing), "track" stats will be removed and based on recent PRs their metrics have been moved to "outbound-rtp" and "inbound-rtp" we need to update the list of mandatory metrics.

This is also an opportunity to reconsider what should and should not be mandatory.

[2019-09-22 12:52] henbos opened #2303 "RTCStats.id should not be "predictable""
See https://github.com/w3c/webrtc-stats/issues/437

[2019-09-22 13:03] henbos opened #2305 "Remove "onstatsended""
See [TPAC slide](https://docs.google.com/presentation/d/1Xprz0ElNTUWRDdX6kyp11cZ4ItTvUFUmzoXsKZdXxuU/edit#slide=id.g41c8f53d0b_1_98) and webrtc-stats issues (https://github.com/w3c/webrtc-stats/issues/480, https://github.com/w3c/webrtc-stats/issues/472)

[2019-09-22 13:06] henbos commented on #2305
@jan-ivar @aboba @vr00m @alvestrand For the follow-up issue about the possibility of a new event like "onstatsevent" or "onreplacetrack", should that issue be filed here (webrtc-pc) or in webrtc-nv-use-cases?

[2019-09-25 07:39] dontcallmedom commented on #1764
[Nils proposal](https://www.w3.org/2011/04/webrtc/wiki/images/f/fc/Slides-tpac2019.pdf#page=62):
* Video keeps state on the screen, so it is better to send a black frame than to send nothing andhave a frozen picture. This is not the case for audio.
* Recommendation: send nothing regardless of CN or DTX (since they may not be negotiated).

[2019-09-25 07:47] dontcallmedom commented on #2257
[TPAC discussion](https://www.w3.org/2019/09/18-webrtc-minutes.html#item06) points toward keeping the capability to use `postMessage`, maybe limiting it to same-origin communication and calling attention to security risks.

[2019-09-25 09:11] henbos opened #2306 "Explicit rollbacks"
JSEP [says](https://tools.ietf.org/html/draft-ietf-rtcweb-jsep-25#section-5.7) "The effect of rollback MUST be the same regardless of whether setLocalDescription or setRemoteDescription is called." Justin clarifies [here](https://bugs.chromium.org/p/chromium/issues/detail?id=980875#c27) that the intent is indeed that sLD(rollback) and sRD(rollback) do the same thing.

After [PR 2295](https://githu

[2019-09-25 09:12] henbos commented on #2306
@jan-ivar What do you think about 1) vs 2)? I'm arguing for 2) here but I don't feel too strongly about it as long as everyone's on the same page with what should be implemented.

[2019-09-25 20:54] jan-ivar commented on #2306
Nothing "remote" about *setRemoteDescription(offer)* either, it just sets *pc.remoteDescription*.

To reset *pc.remoteDescription*, calling *setRemoteDescription({type: "rollback"})* seems intuitive.

Whereas throwing + needing to call *setLocalDescription({type: "rollback"})* instead doesn't. I vote (1).

I think the confusion stemmed from not reading JSEP, and/or wanting a stricter API that made

[2019-09-26 10:30] eladalon1983 opened #2310 "Add adaptivePtime to RTCConfiguration"
Currently, there is no way to tell the browser that it should attempt to optimize the trade-off between audio latency and bandwidth consumption, by varying the length of audio frames dynamically during a call. It would be good to add this.

See [this document](https://docs.google.com/document/d/12sVXRog-Dl9c-hbMInz9obmODk_yft06z7GMgfpdjPw/edit?usp=sharing) for details.

[2019-09-26 14:05] #2277 closed

[2019-09-26 14:05] #2282 closed

[2019-09-26 14:05] #2289 closed

[2019-09-26 14:34] henbos opened #2311 "Add RTCRtpEncodingParameters.ptime as feature at risk"
Nobody has implemented this

[2019-09-26 14:38] alvestrand commented on #2310
Duplicate of #2300

[2019-09-26 14:38] #2310 closed

[2019-09-26 14:42] youennf commented on #2254
Fixed with #2285

[2019-09-26 14:42] #2254 closed

[2019-09-26 15:28] jan-ivar commented on #2121
@henbos to provide PR?

[2019-09-26 15:29] henbos commented on #2121
Sure

[2019-09-26 15:30] jan-ivar commented on #2257
@annevk Anything else we can do here to somehow limit postMessage use to same origin?

[2019-09-26 15:31] alvestrand commented on #2299
No, there's no way to clone an RTCPeerConnection.
I think what you are looking for won't be doable with the webrtc-pc 1.0 API; I know that @pthatcherg has been talking with some people about extending IceTransport for those use cases.

[2019-09-26 15:35] alvestrand commented on #2306
I'm also in favor of #1.

[2019-09-26 15:43] henbos commented on #2306
In that case I'm closing this issue.

[2019-09-26 15:43] #2306 closed

[2019-09-26 15:46] annevk commented on #2257
I have an idea for a design inspired by you at https://github.com/whatwg/html/issues/4939. I'd like to know if others are somewhat okay with it before writing the text though. I can file a new issue once that's in place.

[2019-09-26 15:46] #2257 closed

[2019-09-27 07:05] fippo commented on #2301
Since @aboba asked: even without an API it is still possible to munge the SDP to enable this.
This is second form munging, i.e. on the signaling channel before setRemoteDescription.
Like for dtx we don't have an actual API to tell the sender to create an offer and negotiate it.

[2019-09-27 15:09] docfaraday opened #2313 "[[SendCodecs]] is updated based on answers, but [[SendEncodings]] is updated based on remote description"
Because the details of a send codec are determined by the remote description (for example, asymmetric payload type), we need to be paying attention to the remote description when setting [[SendCodecs]].

Also, right now the spec updates [[SendCodecs]] and [[SendEncodings]] at a different time; since the two are linked by payload type, and payload type can change due to negotiation, we have a refer

[2019-09-28 01:26] jan-ivar opened #2314 "Can simulcast offers renegotiate rids?"
We appear to allow remote simulcast offers to renegotiate rids and number of layers:

This differs from the local side, and conflicts with [5.4.1.](https://w3c.github.io/webrtc-pc/#simulcast-functionality):

If we allow the rids to be renegotiated (say, we start with 'low', 'med', and 'high', and then a renegotiation happens that changes to rids 'tall', 'grande', and 'venti'), then we have a refer

[2019-09-28 07:53] alvestrand commented on #2313
We can have multiple tracks with the same codec and the same payload type, but different rids; this will be the normal case for simulcast. Also, if the codec used for a track can change, the codec will change, but the rid will not. So rid is not a suitable identifier for codecs.

[2019-09-28 07:57] alvestrand commented on #2314
If this isn't clear from the IETF rid spec (whether rids can be renamed in renegotiation), the rid spec has a problem.

[2019-09-29 10:00] alvestrand commented on #2314
https://tools.ietf.org/html/draft-ietf-mmusic-rid-15#section-6.5

6.5.  Modifying the Session

   Offers and answers inside an existing session follow the rules for
   initial session negotiation.  Such an offer MAY propose a change in
   the number of RIDs in use.  To avoid race conditions with media, any
   RIDs with proposed changes SHOULD use a new ID, rather than re-using
   one from the prev

[2019-09-29 10:02] alvestrand commented on #2314
and it's perfectly legal (but one can question if it's reasonable) to refuse to accept any more rids after the initial negotiation.

[2019-09-29 13:13] docfaraday commented on #2314
Especially considering that webrtc-pc currently forbids JS from changing the rids with setParameters, and there's prose in there that hints that the intent was to disallow changes like this at all.

[2019-09-29 13:19] docfaraday commented on #2313
Since [[SendCodecs]] lives in RTCRtpSender, they only apply to a single track. Also, if we were to use rid to link [[SendEncodings]] to [[SendCodecs]], the linkage would be in the opposite direction, and we would not be using rid as an identifier for anything besides the stuff in [[SendEncodings]].

[2019-09-29 13:21] docfaraday commented on #2313
If we need a stable identifier for the stuff in [[SendCodecs]], we'll have to just pick a random id I think. I am not sure we actually _need_ an identifier, though.

[2019-09-30 15:04] jan-ivar commented on #2314
Hmm, I interpret it as saying rids MAY be renamed. Regardless, we can't normatively specify what WILL come in, only what to do with it.

Looks like MMUSIC wants to manage expectations, but I find it hard to draw normative lines from it:

Either:
 1. Should've been lower-case "may"; can't specify what WILL come in, only what to do with it.
 2. Implementations MAY reject offers over rid number misma

[2019-10-01 00:25] jan-ivar opened #2315 "Racy setParameters()/getParameters() behavior"
### Problem A
The following may race with a remote simulcast offer:
[code]
...because SRD clears [[[LastReturnedParameters]]](https://w3c.github.io/webrtc-pc/#dfn-lastreturnedparameters) if it gets an initial simulcast offer.

### Problem B
A related issue: *getParameters()* is not a true/idempotent getter, because it modifies state, which may cause surprising action at a distance:
[code]

### Pro

[2019-10-02 12:55] alvestrand opened #2316 "Can IceTransportState go checking -> completed?"
https://w3c.github.io/webrtc-pc/#rtcicetransportstate shows a non-normative state transition diagram where there's an arrow from "checking" to "completed".
While revising a relevant test (RTCPeerConnection-iceConnectionState.https), I was asked whether this transition could occur in this test.

I was unable to answer. Can it happen? If so, when?

[2019-10-02 13:03] henbos commented on #2316
Examples:
1. If I have a single candidate and I am able to connect to it. Will I go "new -> checking -> connected -> completed" or "new -> checking -> completed"? I don't know the answer to this question.
2. If my newly created transport is able to connect faster than the UA has time to even create the JS layer object for it, is it allowed to skip the "checking" state? Here I suspect the answer is

[2019-10-02 13:06] henbos commented on #2316
3. Is it mandated that the initial state is "new"? This is a version of question 2 above. (By the time I receive a snapshot of the transports on the JS thread perhaps they're already connected or checking)

[2019-10-02 15:21] alvestrand commented on #2316
3. is answered in the WebRTC spec: "An RTCIceTransport object has the following internal slots:
* [[IceTransportState]] initialized to new"

[2019-10-02 20:51] jan-ivar commented on #2230
@youennf to provide PR

[2019-10-02 20:51] jan-ivar commented on #1764
@aboba to provide PR

[2019-10-03 09:58] alvestrand commented on #1965
I note that the internal slots don't have an unified place to list their behavior the way attributes have; they're defined by scattered pieces of text.
I'm trying to add text to the "operation" section that describes this set of variables and the intended behavior.

[2019-10-03 10:11] alvestrand commented on #2299
Closing as "you can't get there from here in WebRTC 1.0". Sorry.

[2019-10-03 10:11] #2299 closed

[2019-10-03 11:30] alvestrand commented on #2300
The Chrome implementors who proposed varying ptime without negotiation claim to have tried it out without problems. They might not have been looking in the right place, or it might turn out that the code handles it even though it's not "supposed to". Tests would be good.

[2019-10-03 11:33] henbos opened #2319 "Add more specificity on the format of RTCStats.ids"
Even with unpredictable IDs ([PR](https://github.com/w3c/webrtc-pc/pull/2304)), the spec has nothing to say about which symbols are or are not allowed or what the length of the string may be. Problems:
- This could potentially make it difficult to store stats objects in a database. Weird symbols or long strings.
- If you want to make a dashboard for stats it would be nice to know how long the ids

[2019-10-03 11:46] alvestrand commented on #2214
Determining the role is described in https://tools.ietf.org/html/rfc8445#section-6.1.1.
An UA is always a full agent (it's not permitted to be ICE-lite). If it initiates ICE, it will always be "controlling"; if it responds, it will be controlling if the other ends has "a=ice-lite" in its SDP.
Per https://tools.ietf.org/html/draft-ietf-mmusic-ice-sip-sdp-39#section-4.1, it will be considered as ini

[2019-10-03 11:53] alvestrand commented on #2214
If RTCIceRole is "unknown":
If we send out an offer, we can set RTCIceRole to "controlling".
If we get an incoming offer, and it contains "a=ice-lite", we can set RTCIceRole to "controlling".
If we get an incoming offer, and it doesn't contain "a=ice-lite", we can set RTCIceRole to "controlled".

If RTCIceRole is set:
If we get an ICE Binding request, and it indicates a role conflict, follow the r

[2019-10-03 11:57] henbos commented on #2311
Arguments were made over at https://github.com/w3c/webrtc-pc/pull/2309 which would lend support for keeping ptime, but unless there is commitment this is still at risk. If nobody implements it soon we'll have to decide whether to move it (e.g. webrtc-extensions repo) or delete it.

[2019-10-03 14:30] #1818 closed

[2019-10-03 19:09] #2311 closed

[2019-10-04 12:16] #2303 closed

[2019-10-04 12:19] #2273 closed

[2019-10-07 10:43] henbos opened #2323 "Find a home for 1.1 features, extensions and features at risk (was: Move features at risk to an extension spec)"
I've [created a repository](https://github.com/henbos/webrtc-extensions) for [WebRTC Extensions](https://henbos.github.io/webrtc-extensions/). Currently it's on my github and it's a bit "Hello World"-like.

I just merged [webrtc-timing](https://henbos.github.io/webrtc-timing/) into it and me and @eladalon1983 are working on moving [adaptivePtime](https://github.com/w3c/webrtc-pc/pull/2309) there.

[2019-10-07 11:44] foolip commented on #2323
For moving things into the WICG, I'd poke one or more of the chairs listed at https://www.w3.org/community/wicg/participants.

[2019-10-07 13:58] henbos opened #2324 ""Rollback" is under-specified"
How to correctly update transceivers is fairly well specified. But SDP changes a lot of things. What happens to transport, bundling, codec, stream association, etc changes? The spec does little to aid implementers, sentences like "cancel proposed changes" is really rather high level.

Quotes from a [code review](https://webrtc-review.googlesource.com/c/src/+/153525/7/pc/peer_connection.cc#7811):

[2019-10-07 14:02] henbos commented on #2324
We still have [ongoing spec discussions](https://github.com/w3c/webrtc-pc/pull/2298#discussion_r329533685) about how to apply a description to get back to the stable state.

Looking at implementing this, I wonder if we should "apply a description" to get back to stable, or if the right thing to do is to save a snapshot of all the transceivers and transports and to revert back to anything that wasn

[2019-10-07 14:39] henbos commented on #2324
We all agree that the following sender should not be rolled back:
[code]

But how about if we null the track?
[code]
Probably we don't want to roll it back still?

How about this one?
[code]
It's not an "addTrack-transceiver", but we're trying to use it.

What about this one?
[code]

[2019-10-07 19:18] jan-ivar commented on #2324
A lot of questions here. I'll try to answer them all below. But in general, rollback existed in the spec long before the transport APIs came about. Some of the questions here appear to be about ***when changes to exposed transport properties become observable***. I'd push back and ask those same questions wrt regular non-rollback negotiation methods, and look for answers there. If transports are u

[2019-10-07 22:45] aboba commented on #2324
@jan-ivar

"Some of the questions here appear to be about ***when changes to exposed transport properties become observable***. I'd push back and ask those same questions wrt regular non-rollback negotiation methods, and look for answers there. If transports are under-specified, let's hope there's time to address that problem."

[BA] This makes sense to me.  Since we've worked through a number of

[2019-10-07 23:29] aboba commented on #2323
@henbos My suggestion would be to create a "landing pad" extension document so that "features at risk" removed from WebRTC-PC can have some place to reside. This extension document could live in the WebRTC-PC repo which will make it easier to review removal PRs for features such as oauth and `ptime` that are already in the WebRTC-PC spec, but haven't been implemented.  Since the "features at risk"

[2019-10-08 08:50] henbos commented on #2323
OK, so new features can go to "webrtc-extensions" (whether or not we move the repo at some point) and features at risk can go to a separate document on this repo.

[2019-10-08 09:44] alvestrand commented on #2323
Leave it in the private repo for now, pending Dom's advice. The tooling in W3C has had trouble in the past with multiple specs in a single repo. Once we have agreement (if we get it) that the WG wants to adopt the "extension" spec as a WG document (informative note?), we can move it to the W3C space. Or to the WICG space, if that's what we decide.

[2019-10-08 17:07] aboba opened #2325 "Removing degradationPreference"
As noted at TPAC 2019, `degradationPreference` is a "feature at risk" with few prospects for implementation.  Also, the functionality appears to overlap with content-hints (which has been implemented). Rather than moving `degradationPreference` to an extension specification, can we delete it?

Related PR: https://github.com/w3c/mst-content-hint/pull/31

[2019-10-09 08:29] henbos commented on #2323
Ping @dontcallmedom for advice :)

[2019-10-09 08:42] dontcallmedom commented on #2323
I think there are 2 cases to distinguish:
* features that can reasonably easily be separated out into a different spec - for those, we should create one repo per spec and move the relevant spec section there
* features for which creating a separate spec would be impractical (either because they're deeply intertwined in the rest of the spec, or because they're a small addition that doesn't really m

[2019-10-09 08:42] dontcallmedom commented on #2323
(for sake of clarity, if that approach sounds good, I can provide the script and the markup convention that would make this work)

[2019-10-09 10:57] Orphis commented on #2325
I don't think that we really want to remove it as it does have very valid use case.
Also, I was going to add the feature soon in Chrome, so that would be annoying! :)

[2019-10-10 09:07] henbos commented on #2323
I think this makes sense for a substantial chunk, like a new interface, or several related methods. Like we did with identity, ice transport extensions, etc.

This was what I had in mind, things like small mostly standalone additions to existing interfaces. the kind of stuff where you don't want to assemble a new working group, but priorities and commitments are uncertain because they're "1.1" typ

[2019-10-10 09:16] henbos commented on #2323
I think what @aboba said is important; there may be a distinction between more mature features that have not been implemented but have consensus, and less mature features that there is interest from at least one implementer to do, but commitment and priority is unclear from other implementers.

On the latter with my Chrome hat on, I want to unblock our engineers from shipping features that is of i

[2019-10-10 15:08] dontcallmedom commented on #2230
I believe this was addressed by #2322 so closing

[2019-10-10 15:08] #2230 closed

[2019-10-10 19:32] aboba commented on #2325
@orphis We are currently revising content-hints to incorporate some of the behavior in `degradationPreference`:
https://github.com/w3c/mst-content-hint/pull/31

Can you review that PR?

[2019-10-11 17:59] jan-ivar commented on #2313
Dunno if this is the right issue for it, but wanted to write down some notes from offline discussion regarding when to respond to remote changes wrt things like codecs: in SRD(offer) or SLD(answer)?

In short, even though an underlying SDP assumption appears to be that one needs to be prepared to receive pre-answer, in practice DTLS key exchange needs answer, and ICE can’t get candidates pre-SLD.

[2019-10-11 19:01] jan-ivar opened #2327 "data-channel-failure RTCError fired synchronously in SRD"
This needs to either move to the end of the algorithm with the other synchronous events, or queue a task.

[2019-10-15 10:16] yoavweiss commented on #2323
The WICG will be happy to be a home for WebRTC related incubation work, assuming [there's enough support for that work](https://github.com/wicg/admin#contributing-new-proposals).

/cc @marcoscaceres @cwilso @travisleithead

[2019-10-16 23:55] jan-ivar opened #2330 "Backwards compat concerns with RTCError"
Since no browsers implement RTCError yet, concerns were raised about backwards
compatibility with implementing it.

`RTCError` is both a *type* (with extra attributes), as well as the name of the error.

One idea to mitigate compat concerns would be to specify the error names browsers are using today. [E.g.](https://jsfiddle.net/jib1/r0vL78gw/):
[code]
On the upside it solves compat. On the downsi

[2019-10-17 12:05] #1965 closed

[2019-10-17 12:38] alvestrand commented on #2284
@aboba what's the PR?

[2019-10-17 14:21] #1706 closed

[2019-10-17 14:23] henbos opened #2332 "Explicit rollback steps (was: Firing the right events in "rollback": Which description to use?)"
In https://github.com/w3c/webrtc-pc/pull/2298/files the following was added:

Let's figure out if this is the right logic.

[2019-10-17 19:17] #2327 closed

[2019-10-17 23:05] jan-ivar opened #2334 "Move priority to DSCP spec"
TPAC decision: Move QoS [priority](https://w3c.github.io/webrtc-pc/#dom-rtcrtpsendparameters-priority) and [priority](https://w3c.github.io/webrtc-pc/#dom-rtcdatachannel-priority) to DSCP document. cc @alvestrand

[2019-10-20 08:43] jianjunz opened #2335 "iceconnectionstatechange event after PeerConnection.close() is called"
When the `close` method of `RTCPeerConnection` is invoked, user agent runs the following steps[1]:

If I understand correctly, "setting connection's ICE connection state to closed"(step 11) runs the  "update the ICE connection state" process[2].

As `connection.[[IsClosed]]` is always true in this case, step 2 to step 5 should not be executed. Does it mean user agent should not fire `iceconnection

[2019-10-20 18:39] fippo commented on #2335
Safari does the right thing, chrome is wrong.
@henbos [reminder](https://bugs.chromium.org/p/chromium/issues/detail?id=699036)
@jan-ivar: surprised FF does that?

[2019-10-20 21:05] alvestrand commented on #2335
We need to have the ICE connection state end up in "closed". It wouldn't if step 11 ran the "update the ICE connection state" process, since that would abort.
The close method needs to be explicit that it bypasses the "update the ICE connection state" process, and we need to make a decision on whether or not it fires an iceconnectionstatechange event. (Do we need to make iceConnectionState Yet Ano

[2019-10-21 02:30] jianjunz commented on #2335
Yes, if user agents strictly follow the spec, the ICE connection state would not transition to "closed" in this case.

@fippo, thanks for the Chromium's issue link. It looks like the event issue was discussed in #1020 as well.

[2019-10-21 05:58] alvestrand commented on #2335
Sounds like we have previous consensus not to fire events. So the language in step 11 needs to be clarifiied.

[2019-10-21 06:07] alvestrand commented on #2335
I made a fix; should not change anything spec-wise, just being explicit. Test needed.

[2019-10-21 08:50] jianjunz commented on #2335
Thanks for making it clear. I could submit a test case to WPT late this week.

[2019-10-21 14:48] a2sheppy opened #2337 "Link to promises in specs guide for definition of "transformed" does not work"
In the [description of setRemoteDescription()](https://w3c.github.io/webrtc-pc/#dom-peerconnection-setremotedescription) is the following sentence:

"transforming" here is a link to the "Writing promise-using specifications" document [for a definition](https://w3ctag.github.io/promises-guide/#transforming-by); but the link is invalid and the term "transforming" does not occur anywhere in this docu

[2019-10-21 16:38] aboba opened #2338 "Section 4.4.1.6: Set the RTCSessionDescription (Object visibility)"
Section 4.4.1.6 specifies when the DtlsTransport and IceTransport objects become visible to JS. A portion of the specified behavior does not appear to be implemented in any browser.  The behavior has implications for re-negotiation and rollback, so it is important that we understand it.

In Bullet 9, sub-bullet 1, it is stated:

"9. If description is not null, then run the following steps:

1. If

[2019-10-21 22:03] alvestrand commented on #2335
A test case would be most welcome. It could be added to RTCPeerConnection-IceConnectionState as a new case in that file.

[2019-10-24 14:23] #2335 closed

[2019-10-24 14:26] #2337 closed

[2019-10-24 16:01] henbos commented on #2338
According to spec, the transport objects are created even at SLD(offer). If I understand correctly, in the case of bundling, you'd at least conceptually have transport objects for each m= section until you receive SRD(answer) to find out that bundling was indeed accepted, in which case you discard all but one transport to be used for all senders and receivers.

I don't know about the various webrt

[2019-10-24 20:31] steveanton commented on #2338
At the very least ICE transports are created in setLocalDescription before the answer is received so that gathering ICE candidates can start. Some applications wait for ICE gathering to finish before sending the initial offer even.

DTLS/SRTP need information from the remote side to start so there's not much use seeing them early. Though the DTLS transport could be created before the answer to cac